---
title: about
layout: page.njk
permalink: about.html
---

{%- from "system/block.njk" import block -%}

{{ block('purpose') }}

{{ block('about-company', {
  class: 'margin',
  items: [
    { image: 'images/about-company/1.png', link: 'История компании' },
    { image: 'images/about-company/2.png', link: 'Будщее спорта' },
    { image: 'images/about-company/3.png', link: 'Подбор тренера' },
    { image: 'images/about-company/4.png', link: 'Акции и спец предложения' },
    { image: 'images/about-company/5.png', link: 'Программа лояльности' },
    { image: 'images/about-company/6.png', link: 'Вакансии' }
  ]
}) }}

{{ block('about-company-second', {
  class: 'margin'
}) }}

{{ block('talisman', {
  class: 'margin'
}) }}

{{ block('history-talisman', {
  class: 'margin'
}) }}
