---
title: about-future
layout: page.njk
permalink: about-future.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/about-future.png',
      imageSm: 'images/banner-mobile/10.png',
      title: 'Будщее спорта',
      list: ['Наивысшие результаты;', 'Вера в себя;', 'С первого года обучения;', 'Стремление к успеху.'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    },
    {
      imageSm: 'images/banner-mobile/10.png',
      title: 'Будщее спорта ',
      list: ['Наивысшие результаты;', 'Вера в себя;', 'С первого года обучения;', 'Стремление к успеху.'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    }
  ]
}) }}

{{ block('camps-desc', {
  class: 'margin',
  title: 'Сборная Фитнес Дети',
  buttonText: 'Хочу в сборную',
  items: [
    {title: '20 человек', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {title: 'Лучшие из лучших', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {title: 'Тренируються со старшими тренерами', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {title: 'Дополнительные бесплатные часы', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {title: 'Дисконты на продукты Фитнес Дети', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {title: 'Отдельные номера на выступлениях', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {title: 'Гордость спортивной школы', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {image: 'images/future/3.png'}
  ]
}) }}

{{ block('catalog', {
  class: 'margin',
  title: 'Состав сборной',
  items: [
    {
      image: 'images/team/1.jpg',
      itemName: 'Хайрудинова Лейла',
      sprite: 'dancer',
      direction: 'top'
    },
    {
      image: 'images/team/2.jpg',
      itemName: 'Федина Александра',
      sprite: 'dancer',
      direction: 'top'
    },
    {
      image: 'images/team/3.jpg',
      itemName: 'Пугачева Виктория',
      sprite: 'dancer',
      direction: 'top'
    },
    {
      image: 'images/team/4.jpg',
      itemName: 'Захарова Алисия',
      sprite: 'dancer',
      direction: 'top'
    },
    {
      image: 'images/team/5.jpg',
      itemName: 'Завидонова Варвара',
      sprite: 'dancer',
      direction: 'top'
    },
    {
      image: 'images/team/6.jpg',
      itemName: 'Ермакова Маргарита',
      sprite: 'dancer',
      direction: 'top'
    },
    {
      image: 'images/team/7.jpg',
      itemName: 'Дмитрова Ольга',
      sprite: 'dancer',
      direction: 'top'
    },
    {
      image: 'images/team/8.jpg',
      itemName: 'Казакова Юлия',
      sprite: 'dancer',
      direction: 'top'
    },
    {
      image: 'images/team/9.jpg',
      itemName: 'Березина Таисия',
      sprite: 'dancer',
      direction: 'top'
    }
  ]
}) }}

{{ block('camps-desc', {
  class: 'wrapper wrapper_white-grey wrapper_bottom',
  title: 'Наши звезды',
  buttonText: 'Стать звездой',
  items: [
    {direction: 'right', title: 'Самые яркие спортмены', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {direction: 'right', title: 'Самые запоминающиеся выступления', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {direction: 'right', title: 'Самые интересные истории', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {direction: 'right', title: 'Грандиозные достижения', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {direction: 'right', title: 'Обладатели наивысших разраядов', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {direction: 'right', title: 'Участники международных соревнований', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {direction: 'right', image: 'images/future/5.png'}
  ]
}) }}

{{ block('students', {
  class: 'wrapper',
  btnText: 'Хочу стать звездой!',
  title: 'Наши звёзды',
  slides: [
    {image: 'images/carousel-student/1.jpg', itemName: 'Хайрудинова Лейла' },
    {image: 'images/carousel-student/2.jpg', itemName: 'Федина Александра' },
    {image: 'images/carousel-student/3.jpg', itemName: 'Пугачева Виктория' },
    {image: 'images/carousel-student/4.jpg', itemName: 'Захарова Алисия' },
    {image: 'images/carousel-student/5.jpg', itemName: 'Завидонова Варвара' },
    {image: 'images/carousel-student/6.jpg', itemName: 'Ермакова Маргарита' },
    {image: 'images/carousel-student/7.jpg', itemName: 'Дмитрова Ольга' },
    {image: 'images/carousel-student/8.jpg', itemName: 'Панина Ярослава' }
  ]
}) }}
