---
title: Acrobatic
layout: page.njk
permalink: acrobatic.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/acrobatic.jpg',
      imageSm: 'images/banner-mobile/17.png',
      title: 'Спортивная Акробатика',
      buttonType: 'accent',
      text: 'Парно групповой гимнастике можно начинать заниматься девочкам и мальчикам с 3-х лет.',
      buttonText: 'Записаться на пробное занятие'

    },
    {
      imageSm: 'images/banner-mobile/2.png',
      title: 'Художественная гимнастика',
      buttonType: 'accent',
      buttonText: 'Записаться на пробное занятие',
      text: 'Парно групповой гимнастике можно начинать заниматься девочкам и мальчикам с 3-х лет.'
    },
    {
      imageSm: 'images/banner-mobile/3.png',
      title: 'Художественная гимнастика',
      buttonType: 'accent',
      buttonText: 'Записаться на пробное занятие',
      text: 'Парно групповой гимнастике можно начинать заниматься девочкам и мальчикам с 3-х лет.'
    }
  ]
}) }}

{{ block('kpi', {
  class: 'margin wrapper wrapper_white-grey kpi_grey-white',
  items: [
    {
      color: 'red',
      sprite: 'medal',
      amount: '1200',
      title: 'Медалей получено',
      titleMobile: 'Медалей'

    },
    {
      color: 'green',
      sprite: 'ribbon',
      amount: '900',
      title: 'Разрядов по всей школе',
      titleMobile: 'Разрядов'

    },
    {
      color: 'purple',
      sprite: 'children',
      amount: '5200',
      title: 'Детей обучено за 10 лет',
      titleMobile: 'Детей'

    }
  ]
}) }}

{{ block('teaching-groups', {
  class: 'margin wrapper wrapper_top wrapper_white-grey',
  title: 'Группы обучения',
  subtitle: 'Художественная гимнастика представлена четырьмя группами',
  size: 'teaching-groups-item-md',
  items: [
    {
      title: 'Начальная подготовка',
      descGrade: 'Для тех кто только начинает',
      descDuration: '2 раза в неделю по 1 часу',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    },
    {
      title: 'Спортивная подготовка',
      descGrade: 'Для тех, кто занялся всерьез',
      descDuration: '2 по 1,5 часа + 1 хореография',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    },
    {
      title: 'Спортивные группы',
      descGrade: 'Профессиональная подготовка',
      descDuration: '3 раза в неделю по 2 часа',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    },
    {
      title: 'Группы спорт. мастерства',
      descGrade: 'Для тех кто только начинает',
      descDuration: '5 раза в неделю по 2 часа',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    }
  ]
}) }}

{{ block('part-federations', {
  class: 'wrapper wrapper_grey-white'
}) }}

{{ block('find-us', {
  class: 'margin',
  title: 'Найдите ближайшее отделение',
  button: 'primary',
  buttonText: 'Смотреть все отделения'
}) }}

{{ block('classes', {
  class: 'wrapper wrapper_bottom wrapper_grey-white',
  items: [
    { image: 'images/classes/acrobatic/1.jpg', count: '01', text: 'Приветствие и постановка задач на тренировку'},
    { image: 'images/classes/acrobatic/2.jpg', count: '02', text: 'Подготовительная часть: разминка'},
    { image: 'images/classes/acrobatic/3.jpg', count: '03', text: 'Основная часть: изучение и совершенствование элементов'},
    { image: 'images/classes/acrobatic/4.jpg', count: '04', text: 'Основная часть: отработка соревновательных программ'},
    { image: 'images/classes/acrobatic/5.jpg', count: '05', text: 'Подкачка и растяжка, <br>ОФП и СФП'},
    { image: 'images/classes/acrobatic/6.jpg', count: '06', text: 'Игра и заминка'}
  ]
}) }}

{{ block('timetable', {
  class: 'wrapper',
  title: 'Расписание занятий'
}) }}

{{ block('banner-info', {
  class: 'margin',
  side: 'right',
  imageFull: 'images/banner-info/competition-lg.png',
  imageSmall: 'images/banner-info/competition-sm.png',
  title: 'Соревнования и разрядные турниры',
  button: 'primary',
  buttonText: 'Подробнее',
  list: [
    'Для детей любого возраста и уровня подготовки;',
    'Соревнования на присвоение разрядов;',
    'В различных регионах РФ.'
  ]
}) }}

{{ block('moneybox-medals', {
  class: 'margin'
}) }}

{{ block('banner-info', {
  class: 'margin',
  imageFull: 'images/banner-info/uniq-lg.jpg',
  imageSmall: 'images/banner-info/uniq-sm.png',
  title: 'Уникальная тренировочная программа с экзаменами',
  text: 'Парно групповой акробатики можно начинать заниматься девочкам и мальчикам с 3-х лет.',
  button: 'accent',
  buttonText: 'Хочу в команду'
}) }}

{{ block('reviews', {
  class: 'wrapper',
  buttonText: 'Посмотреть все отзывы'
} ) }}

{{ block('questions', {
  class: 'margin'
}) }}

{{ block('additional-service-slider', {
  class: 'wrapper'
}) }}
