---
title: address
layout: page.njk
permalink: address.html
---
{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  list: [ 'Главная', 'Адреса' ]
}) }}

{{ block('find-us', {
  class: 'margin find-us_without-shadow',
  title: 'Адреса спортивных школ в городе Москва',
  items: [
    {
      id: 1,
      name: 'Беляево',
      metro: true,
      address: 'ул. Профсоюзная, 83Б',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.64473,
      longitude: 37.530166,
      href: ''
    },
    {
      id: 2,
      name: 'Ясенево',
      metro: true,
      address: 'Вильнюсская улица, 6к2',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.604534,
      longitude: 37.520069,
      href: ''
    },
    {
      id: 3,
      name: 'Южное Бутово',
      metro: true,
      address: 'улица Адмирала Руднева, 4',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.543868,
      longitude: 37.526061,
      href: ''
    },
    {
      id: 4,
      name: 'Северное Бутово',
      metro: true,
      address: 'Ратная улица, 14А',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.575302,
      longitude: 37.574193,
      href: ''
    },
    {
      id: 5,
      name: 'Юго-Западная',
      metro: false,
      address: 'проспект Вернадского, 86',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.661445,
      longitude: 37.477049,
      href: ''
    },
    {
      id: 6,
      name: 'Беляево',
      metro: true,
      address: 'ул. Профсоюзная, 83Б',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.64473,
      longitude: 37.530166,
      href: ''
    },
    {
      id: 7,
      name: 'Ясенево',
      metro: true,
      address: 'Вильнюсская улица, 6к2',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.604534,
      longitude: 37.520069,
      href: ''
    },
    {
      id: 8,
      name: 'Южное Бутово',
      metro: true,
      address: 'улица Адмирала Руднева, 4',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.543868,
      longitude: 37.526061,
      href: ''
    },
    {
      id: 9,
      name: 'Северное Бутово',
      metro: true,
      address: 'Ратная улица, 14А',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.575302,
      longitude: 37.574193,
      href: ''
    },
    {
      id: 10,
      name: 'Юго-Западная',
      metro: false,
      address: 'проспект Вернадского, 86',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.661445,
      longitude: 37.477049,
      href: ''
    },
    {
      id: 11,
      name: 'Беляево',
      metro: true,
      address: 'ул. Профсоюзная, 83Б',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.64473,
      longitude: 37.530166,
      href: ''
    },
    {
      id: 12,
      name: 'Ясенево',
      metro: true,
      address: 'Вильнюсская улица, 6к2',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.604534,
      longitude: 37.520069,
      href: ''
    },
    {
      id: 13,
      name: 'Южное Бутово',
      metro: true,
      address: 'улица Адмирала Руднева, 4',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.543868,
      longitude: 37.526061,
      href: ''
    },
    {
      id: 14,
      name: 'Северное Бутово',
      metro: true,
      address: 'Ратная улица, 14А',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.575302,
      longitude: 37.574193,
      href: ''
    },
    {
      id: 15,
      name: 'Юго-Западная',
      metro: false,
      address: 'проспект Вернадского, 86',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.661445,
      longitude: 37.477049,
      href: ''
    },
    {
      id: 16,
      name: 'Беляево',
      metro: true,
      address: 'ул. Профсоюзная, 83Б',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.64473,
      longitude: 37.530166,
      href: ''
    },
    {
      id: 17,
      name: 'Ясенево',
      metro: true,
      address: 'Вильнюсская улица, 6к2',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.604534,
      longitude: 37.520069,
      href: ''
    },
    {
      id: 18,
      name: 'Южное Бутово',
      metro: true,
      address: 'улица Адмирала Руднева, 4',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.543868,
      longitude: 37.526061,
      href: ''
    },
    {
      id: 19,
      name: 'Северное Бутово',
      metro: true,
      address: 'Ратная улица, 14А',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.575302,
      longitude: 37.574193,
      href: ''
    },
    {
      id: 20,
      name: 'Юго-Западная',
      metro: false,
      address: 'проспект Вернадского, 86',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.661445,
      longitude: 37.477049,
      href: ''
    }
  ]
}) }}

{{ block('find-branch', {
  class: 'margin'
}) }}

{{ block('part-federations', {
  class: 'wrapper'
}) }}

{{ block('moneybox-medals', {
  class: 'margin'
}) }}

{{ block('reviews', {
  class: 'wrapper',
  buttonText: 'Посмотреть все отзывы'
}) }}
