---
title: branded-form
layout: page.njk
permalink: branded-form.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/branded-form.png',
      imageSm: 'images/banner-mobile/15.png',
      title: 'Брендированная форма ',
      list: ['Полный комплект удобной формы;', 'Все для занятий под ключ.'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    },
    {
      imageSm: 'images/banner-mobile/15.png',
      title: 'Брендированная форма ',
      list: ['Полный комплект удобной формы;', 'Все для занятий под ключ.'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    }
  ]
}) }}

{{ block('sample-form', {
  class: 'wrapper wrapper_white-grey'
}) }}

{{ block('store', {
  class: 'wrapper wrapper_white-grey wrapper_top'
}) }}
