---
title: certification
layout: page.njk
permalink: certification.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/certification.png',
      imageSm: 'images/banner-mobile/14.png',
      title: 'Принципы подхода к сертификации ',
      list: ['Подбор лучшего персонала;', 'Профессиональные тренинги;', 'Квалификационная аттестация;'],
      buttonText: 'Поможем подобрать тренера',
      buttonType: 'primary'
    },
    {
      imageSm: 'images/banner-mobile/14.png',
      title: 'Принципы подхода к сертификации ',
      list: ['Подбор лучшего персонала;', 'Профессиональные тренинги;', 'Квалификационная аттестация;'],
      buttonText: 'Поможем подобрать тренера',
      buttonType: 'primary'
    }
  ]
}) }}

{{ block('internal-training', {
  class: 'wrapper wrapper_white-grey',
  title: 'Внутреннее обучение и сертификация тренеров',
  items: [
    {text: '<b>Коммуникация</b> тренера с родителем и ребёнком', icon: 'friend'},
    {text: 'Тренировочный процесс и <b>безопасность.', icon: 'medical-insurance'},
    {text: '<b> Единая Всероссийская спортивная классификация (ЕВСК)</b> и классификационные программы.', icon: 'trophy-2'}
  ]
}) }}

{{ block('department-trainers', {
  class: 'margin',
  title: 'Сертифицированные тренеры',
  button: true,
  trainers: [
    {
      image: 'images/trainers/anna.png',
      itemName: 'Лау Анна',
      itemInfo: 'МСМК',
      sprite: 'gymnast'
    },
    {
      image: 'images/trainers/yulia.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer'
    },
    {
      image: 'images/trainers/olga.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      certificate: true
    },
    {
      image: 'images/trainers/dasha.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer'
    },
    {
      image: 'images/trainers/olga.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      certificate: true
    },
    {
      image: 'images/trainers/dasha.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer'
    },
    {
      image: 'images/trainers/anna.png',
      itemName: 'Лау Анна',
      itemInfo: 'МСМК',
      sprite: 'gymnast'
    },
    {
      image: 'images/trainers/yulia.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer'
    },
    {
      image: 'images/trainers/olga.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      certificate: true
    },
    {
      image: 'images/trainers/dasha.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer'
    },
    {
      image: 'images/trainers/olga.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      certificate: true
    },
    {
      image: 'images/trainers/dasha.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer'
    }
  ]
}) }}

{{ block('students', {
  class: 'wrapper',
  btnText: 'Хочу стать звездой!',
  title: 'Наши звёзды',
  slides: [
    {image: 'images/carousel-student/1.jpg', itemName: 'Хайрудинова Лейла' },
    {image: 'images/carousel-student/2.jpg', itemName: 'Федина Александра' },
    {image: 'images/carousel-student/3.jpg', itemName: 'Пугачева Виктория' },
    {image: 'images/carousel-student/4.jpg', itemName: 'Захарова Алисия' },
    {image: 'images/carousel-student/5.jpg', itemName: 'Завидонова Варвара' },
    {image: 'images/carousel-student/6.jpg', itemName: 'Ермакова Маргарита' },
    {image: 'images/carousel-student/7.jpg', itemName: 'Дмитрова Ольга' },
    {image: 'images/carousel-student/8.jpg', itemName: 'Панина Ярослава' }
  ]
}) }}

{{ block('questions', {
  class: 'wrapper wrapper_top'
}) }}
