---
title: Children
layout: page.njk
permalink: children.html
---
{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/children.png',
      imageSm: 'images/banner-mobile/2.png',
      title: 'Художественная гимнастика',
      buttonText: 'Записаться на пробное занятие',
      buttonType: 'accent',
      list: ['Принимаем детей от 3 лет;', 'ОФП и СФП в игровой форме;', 'Персональный подход к ребенку.']
    },
    {
      imageSm: 'images/banner-mobile/1.png',
      title: 'Подготовительные группы',
      buttonText: 'Записаться на пробное занятие',
      buttonType: 'accent',
      list: ['Тренер с педагогическим образованием;', 'Более 300 занимающихся;', 'Удобное расписание.']
    }
  ]
}) }}

{{ block('teaching-groups', {
  class: 'margin',
  title: 'Для детей с 3 до 5 лет',
  subtitle: 'Подготовительные группы помогают вашему ребёнку адаптироваться и привить любовь к спорту.',
  size: 'teaching-groups-item-md',
  items: [
    {
      title: 'Художественная гимнастика',
      descGrade: 'Для тех кто только начинает',
      descDuration: '2 раза в неделю по 1 часу',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    },
    {
      title: 'Спортивная акробатика',
      descGrade: 'Для тех, кто занялся всерьез',
      descDuration: '2 по 1,5 часа + 1 хореография',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер',
      class: 'mobile-hide'
    },
    {
      title: 'Группа общего развития',
      descGrade: 'Для тех кто только начинает',
      descDuration: '2 раза в неделю по 1 часу',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер',
      class: 'mobile-hide'
    }
  ]
}) }}

{{ block('classes', {
  class: 'wrapper wrapper_grey-white',
  items: [
    { image: 'images/classes/children/1.jpg', count: '01', text: 'Приветствие и игра'},
    { image: 'images/classes/children/2.jpg', count: '02', text: 'Разминка'},
    { image: 'images/classes/children/3.jpg', count: '03', text: 'Специальные упражнения в игровой форме'},
    { image: 'images/classes/children/4.jpg', count: '04', text: 'Полоса препятствий'},
    { image: 'images/classes/children/5.jpg', count: '05', text: 'Заминка'},
    { image: 'images/classes/children/6.jpg', count: '06', text: 'Проставление «печатей» <br>и наклеек'}
  ]
}) }}

{{ block('find-us', {
  class: 'margin',
  title: 'Найдите ближайшее отделение',
  button: 'primary',
  buttonText: 'Смотреть все отделения'
}) }}

{{ block('part-federations', {
  class: 'wrapper wrapper_grey-white'
}) }}

{{ block('timetable', {
  class: 'wrapper wrapper_white-grey',
  title: 'Расписание занятий'
}) }}

{{ block('students', {
  class: 'margin',
  btnText: 'Хочу стать звездой!',
  title: 'Наши звёзды',
  slides: [
    {image: 'images/carousel-student/1.jpg', itemName: 'Хайрудинова Лейла' },
    {image: 'images/carousel-student/2.jpg', itemName: 'Федина Александра' },
    {image: 'images/carousel-student/3.jpg', itemName: 'Пугачева Виктория' },
    {image: 'images/carousel-student/4.jpg', itemName: 'Захарова Алисия' },
    {image: 'images/carousel-student/5.jpg', itemName: 'Завидонова Варвара' },
    {image: 'images/carousel-student/6.jpg', itemName: 'Ермакова Маргарита' },
    {image: 'images/carousel-student/7.jpg', itemName: 'Дмитрова Ольга' },
    {image: 'images/carousel-student/8.jpg', itemName: 'Панина Ярослава' }
  ]
}) }}

{{ block('questions', {
  class: 'wrapper'
}) }}

{{ block('reviews', {
  class: 'margin',
  buttonText: 'Посмотреть все отзывы',
  buttonAccent: 'Записать малыша'
}) }}

{{ block('additional-service-slider', {
  class: 'wrapper',
  slides: [
    {
      image: 'images/more/4.png',
      text: 'Брендированная одежда'
    },
    {
      image: 'images/more/3.png',
      text: 'Интернет магазин'
    },
    {
      image: 'images/more/2.png',
      text: 'Страхование'
    },
    {
      image: 'images/more/1.png',
      text: 'Прокат и пошив купальников'
    }
  ]
}) }}


