---
title: cup
layout: page.njk
permalink: cup.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/cup.png',
      imageSm: 'images/banner-mobile/7.png',
      title: 'Спортивные лагеря и сборы',
      list: ['Проводим летние и зимние сборы;', 'Организуем выезд под ключ;', 'Организуем сборы для 300+ детей ежегодно.'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    },
    {
      imageSm: 'images/banner-mobile/7.png',
      title: 'Спортивные лагеря и сборы',
      list: ['Проводим летние и зимние сборы;', 'Организуем выезд под ключ;', 'Организуем сборы для 300+ детей ежегодно.'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    }
  ]
}) }}

{{ block('camps', {
  class: 'margin',
  title: 'Ближайшие сборы',
  btnText: 'Смотреть еще',
  items: [
    {
      itemTitle: 'Длинное название сбора в несколько строчек',
      itemWhen: '15-20 июня 2021 г.',
      itemWhere: 'Сочи'
    },
    {
      itemTitle: 'Летние сборы',
      itemWhen: '15-20 июня 2021 г.',
      itemWhere: 'Сочи'
    },
    {
      itemTitle: 'Летние сборы',
      itemWhen: '15-20 июня 2021 г.',
      itemWhere: 'Сочи'
    },
    {
      itemTitle: 'Летние сборы',
      itemWhen: '15-20 июня 2021 г.',
      itemWhere: 'Сочи'
    }
  ]
}) }}

{{ block('camps-desc', {
  class: 'margin',
  title: 'Что входит в услугу',
  buttonText: 'Хочу на сборы',
  items: [
    {title: 'Трансфер', info: 'Быстрый трансфер до базы и обратно с медицинским сопровождением и уведомлением ГАИ.'},
    {title: 'Проживание', info: 'Комфортное проживание в 2х и 3х местных номерах в различных типов корпусов.'},
    {image: 'images/camp/1.jpg'},
    {title: 'Четырёхразовое питание', info: 'Вкусный и питательные спортивный рацион. Завтрак, обед, ужин и полдник (3+1).'},
    {title: 'Тренировки два раза в день', info: 'Активные разнообразные тренировки включающие в себя общефизическую, специальную физическую подготовку и аэробные нагрузки.'},
    {title: 'Развлечения', info: 'Спортивные игры на свежем воздухе. Разнообразные творческие конкурсы. Настольные игры, чаепития и вечерние дискотеки.'},
    {title: 'Сопровождение тренера – 1 тренер на 10 детей', info: 'Вместе с детьми отправляется команда опытных сертифицированных тренеров FD, которая осуществляет пристальный контроль за юными спортсменами.'},
    {title: 'Cтраховка', info: 'В стоимость входит страхование юного атлета на весь период пребывания на сборах.'}
  ]
}) }}

{{ block('questions', {
  class: 'wrapper'
}) }}

{{ block('reviews', {
  class: 'wrapper wrapper_top',
  title: 'Отзывы о наших поездках',
  buttonText: 'Посмотреть все отзывы',
  buttonAccent: 'Собрать чемодан'
}) }}

