---
title: exam
layout: page.njk
permalink: exam.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/exams.png',
      imageSm: 'images/banner-mobile/16.png',
      title: 'Экзамены и программы',
      list: ['Собственная аттестационная система;', 'Мотивация на результат;', 'Экзамеционный сертификат;'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    },
    {
      imageSm: 'images/banner-mobile/16.png',
      title: 'Экзамены и программы',
      list: ['Собственная аттестационная система;', 'Мотивация на результат;', 'Экзамеционный сертификат;'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    }
  ]
}) }}

{{ block('internal-training', {
  class: 'margin',
  title: 'Контроль результатов',
  items: [
    {text: '<b>Коммуникация</b> тренера с родителем и ребёнком', icon: 'friend'},
    {text: 'Тренировочный процесс и <b>безопасность.', icon: 'medical-insurance'},
    {text: '<b> Единая Всероссийская спортивная классификация (ЕВСК)</b> и классификационные программы.', icon: 'trophy-2'}
  ]
}) }}

{{ block('types-groups', {
  class: 'wrapper wrapper_white-grey',
  items: [
    {color: 'green', number: '1', name: 'ПГ', desc1: 'ПГ - подготовительная группа, ', desc2: 'от 3 до 5 лет'},
    {color: 'blue-dark', number: '2', name: 'ГНП', desc1: 'ГНП - группа начальной подготовки, ', desc2: 'от 4 до 7 лет'},
    {color: 'blue', number: '3', name: 'ГСП', desc1: 'ГСП - группа спортивной подготовки,', desc2: 'от 5 до 9 лет'},
    {color: 'orange', number: '4', name: 'CГ', desc1: 'СГ - спортивная группа,', desc2: 'от 6 до 10 лет'},
    {color: 'red', number: '5', name: 'ГСМ', desc1: 'ГСМ - группа спортивного мастерства,', desc2: 'от 8 до 14 лет'}
  ]
}) }}

{{ block('questions', {
  class: 'wrapper wrapper_grey-white'
}) }}

