---
title: Gymnastic
layout: page.njk
permalink: gymnastic.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
    slides: [
      {
        imageFull: 'images/banner-gymnastic/acrobatic.png',
        imageSm: 'images/banner-mobile/1.png',
        title: 'Художественная гимнастика',
        buttonType: 'accent',
        text: 'Парно групповой гимнастике можно начинать заниматься девочкам и мальчикам с 3-х лет.',
        buttonText: 'Записаться на пробное занятие'

      },
      {
        imageSm: 'images/banner-mobile/2.png',
        title: 'Художественная гимнастика',
        buttonType: 'accent',
        buttonText: 'Записаться на пробное занятие',
        text: 'Парно групповой гимнастике можно начинать заниматься девочкам и мальчикам с 3-х лет.'
      },
      {
        imageSm: 'images/banner-mobile/3.png',
        title: 'Художественная гимнастика',
        buttonType: 'accent',
        buttonText: 'Записаться на пробное занятие',
        text: 'Парно групповой гимнастике можно начинать заниматься девочкам и мальчикам с 3-х лет.'
      }
    ]
}) }}

{{ block('kpi', {
  class: 'margin wrapper wrapper_white-grey kpi_grey-white',
  items: [
    {
      color: 'red',
      sprite: 'medal',
      amount: '1200',
      title: 'Медалей получено',
      titleMobile: 'Медалей'
    },
    {
      color: 'green',
      sprite: 'ribbon',
      amount: '900',
      title: 'Разрядов по всей школе',
      titleMobile: 'Разрядов'
    },
    {
      color: 'purple',
      sprite: 'children',
      amount: '5200',
      title: 'Детей обучено за 10 лет',
      titleMobile: 'Детей'
    }
  ]
}) }}

{{ block('teaching-groups', {
  class: 'margin wrapper wrapper_top wrapper_white-grey',
  title: 'Группы обучения',
  subtitle: 'Художественная гимнастика представлена четырьмя группами',
  size: 'teaching-groups-item-md',
  items: [
    {
      title: 'Группы спорт. мастерства',
      descDuration: 'Для тех кто только начинает 2 раза в неделю по 1 часу',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    },
    {
      title: 'Группы спорт. мастерства',
      descDuration: 'Для тех кто только начинает 2 раза в неделю по 1 часу',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    },
    {
      title: 'Группы спорт. мастерства',
      descDuration: 'Для тех кто только начинает 2 раза в неделю по 1 часу',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    },
    {
      title: 'Группы спорт. мастерства',
      descDuration: 'Для тех кто только начинает 2 раза в неделю по 1 часу',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    },
    {
      title: 'Группы спорт. мастерства',
      descDuration: 'Для тех кто только начинает 2 раза в неделю по 1 часу',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      trainer: 'процесс курирует главный тренер'
    }
  ]
}) }}

{{ block('part-federations', {
  class: 'wrapper wrapper_grey-white'
}) }}

{{ block('find-us', {
  class: 'margin',
  title: 'Найдите ближайшее отделение',
  items: [
    {
      id: 1,
      name: 'Беляево',
      metro: true,
      address: 'ул. Профсоюзная, 83Б',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.64473,
      longitude: 37.530166,
      href: ''
    },
    {
      id: 2,
      name: 'Ясенево',
      metro: true,
      address: 'Вильнюсская улица, 6к2',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.604534,
      longitude: 37.520069,
      href: ''
    },
    {
      id: 3,
      name: 'Южное Бутово',
      metro: true,
      address: 'улица Адмирала Руднева, 4',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.543868,
      longitude: 37.526061,
      href: ''
    },
    {
      id: 4,
      name: 'Северное Бутово',
      metro: true,
      address: 'Ратная улица, 14А',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.575302,
      longitude: 37.574193,
      href: ''
    },
    {
      id: 5,
      name: 'Юго-Западная',
      metro: false,
      address: 'проспект Вернадского, 86',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.661445,
      longitude: 37.477049,
      href: ''
    }
  ]
}) }}

{{ block('classes', {
  class: 'wrapper wrapper_bottom wrapper_grey-white',
  items: [
    { image: 'images/classes/gymnastic/1.jpg', count: '01', text: 'Приветствие и постановка задач на тренировку'},
    { image: 'images/classes/gymnastic/2.jpg', count: '02', text: 'Подготовительная часть: разминка'},
    { image: 'images/classes/gymnastic/3.jpg', count: '03', text: 'Основная часть: изучение и совершенствование элементов'},
    { image: 'images/classes/gymnastic/4.jpg', count: '04', text: 'Основная часть: отработка соревновательных программ'},
    { image: 'images/classes/gymnastic/5.jpg', count: '05', text: 'Подкачка и растяжка, <br>ОФП и СФП'},
    { image: 'images/classes/gymnastic/6.jpg', count: '06', text: 'Игра и заминка'}
  ]
}) }}

{{ block('timetable', {
  class: 'wrapper',
  title: 'Расписание занятий'
}) }}

{{ block('banner-info', {
  class: 'margin',
  side: 'right',
  imageFull: 'images/banner-info/competition-lg.png',
  imageSmall: 'images/banner-info/competition-sm.png',
  title: 'Соревнования и разрядные турниры',
  button: 'primary',
  buttonText: 'Подробнее',
  list: [
    'Для детей любого возраста и уровня подготовки;',
    'Соревнования на присвоение разрядов;',
    'В различных регионах РФ.'
  ]
}) }}

{{ block('moneybox-medals', {
  class: 'margin'
}) }}

{{ block('banner-info', {
  class: 'margin',
  imageFull: 'images/banner-info/uniq-lg.jpg',
  imageSmall: 'images/banner-info/uniq-sm.png',
  title: 'Уникальная тренировочная программа с экзаменами',
  text: 'Парно групповой акробатики можно начинать заниматься девочкам и мальчикам с 3-х лет.',
  button: 'accent',
  buttonText: 'Хочу в команду'
}) }}

{{ block('reviews', {
  class: 'wrapper',
  buttonText: 'Посмотреть все отзывы'
} ) }}

{{ block('questions', {
  class: 'margin'
}) }}

{{ block('additional-service-slider', {
  class: 'wrapper'
}) }}
