---
title: history
layout: page.njk
permalink: history.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  list: [ 'Главная', ' История компании' ]
}) }}

<div class='history'>
  <div class='container typography'>
    <h1>История компании</h1>
    <div class='history__video'>
      {{ block('watch-card') }}
    </div>
    <div class='history__inner'>
      <div class='history__block'>
        <div class='history__block-text'>
          <p>Существует множество разных факторов, благодаря которым компания приходит к успеху. Конечно же, с самым большим
            количеством сложностей сталкивается человек, который решает начать свое дело. А самым сложным является первый шаг…
            Мы предлагаем вашему вниманию историю успеха компании «FD», которая начиналась с мечты, достигла успехов и
            продолжает развиваться и покорять новые вершины. Возможно, наша история кого-то мотивирует поверить в свою мечту,
            начать своё дело и позволит справиться с сомнениями…</p>
          <p>Генеральным директором и основателем Всероссийской детской спортивной школы по художественной гимнастике и
            спортивной акробатике «FD» является Толоконников Михаил Александрович.</p>
        </div>
        <div class='history__block-picture'>
          <img width='295' height='490' loading="lazy" class='history__block-img' src='images/history/1.jpg' alt=''>
          <div class='history__block-desk'>
            <div class='history__name'>Толоконников Михаил Александрович</div>
            <div class='history__position history__line history__line_grey'>Генеральный директор и основатель детской спортивной школы «FD»</div>
          </div>
        </div>
        <div class='history__block-text'>
          <p>Михаил Александрович родился 6 января 1991 года. Закончил экономический
            факультет МГУ им. Ломоносова. С детства увлекался спортом, долгое время занимался футболом и боксом. Уже в
            студенческие годы у Михаила Александровича появилась мечта – повысить интерес к спорту у детей и способствовать
            его развитию.</p>
        </div>
      </div>

      <div class='history__chronology'>

        <div class='history__chronology-item history__line'>
            <div class='history__chronology-year'>2013 г.</div>
            <div class='history__chronology-desc'>
              <p>В 2013 году Михаил Толоконников открывает «FitnessDeti» - детские спортивные группы для детей с лишним
                весом в отделении Беляево.</p>
              <p>Занятия по общей физической подготовке проводит сам Михаил Александрович. Помимо спорта, также, велась
                работа по корректировке рациона питания детей.</p>
              <p>В первый же год существования «FitnessDeti» организует свои первые соревнования на базе школы №1273.</p>
            </div>
        </div>

        <div class='history__chronology-item history__line'>
          <div class='history__chronology-year'>2014 г.</div>
          <div class='history__chronology-desc'>
            <p>В 2014 году открывается второе отделение, на Юго-Западной. В штате сотрудников «FitnessDeti» появляется
              еще один тренер.</p>
          </div>
        </div>
        <div class='history__chronology-item history__line'>
          <div class='history__chronology-year'>2015 г.</div>
          <div class='history__chronology-desc'>
            <p>В 2015 году Михаил Александрович принимает решение, помимо фитнеса для детей с лишним весом, открыть
              секции по художественной гимнастике и спортивной акробатике. Новые отделения в Ясенево, Северном Бутово и
              в г. Видное начинают принимать воспитанников по новым направлениям.</p>
          </div>
        </div>
        <div class='history__chronology-item history__line'>
          <div class='history__chronology-year'>2016 г.</div>
          <div class='history__chronology-desc'>
            <p>В 2016 году «FitnessDeti» полноценно становится детской спортивной школой. Новые направления пользуются
              популярностью и принимается решение открыть секции по данным видам спорта во всех существующих
              филиалах.</p>
            <p>Летом 2016 года «FitnessDeti» организует первые спортивные сборы. Они прошли с большим успехом и с 2017
              года стали проводится 2-3 раза в год.</p>
          </div>
        </div>
        <div class='history__chronology-item history__line'>
          <div class='history__chronology-year'>2017 г.</div>
          <div class='history__chronology-desc'>
            <p>В 2017 году принято решение упразднить секцию фитнеса для детей с лишним весом и все силы направляются на
              развитие и рост «FitnessDeti» как детской спортивной школы по художественной гимнастике и спортивной
              акробатике. Спортшкола становится членом Федерации художественной гимнастики и Федерации спортивной
              акробатики. Начинается активное участие школы в благотворительных акциях.</p>
            <p>Численность школы составляет более 90 детей. Также, в этом году у школы появляется талисман – лис, а у
              команды сотрудников «FitnessDeti» появляется центральный офис.</p>
          </div>
        </div>
        <div class='history__chronology-item history__line'>
          <div class='history__chronology-year'>2019 г.</div>
          <div class='history__chronology-desc'>
            <p>«FitnessDeti» растет и развивается. В 2019 году спортшкола открывает 5 филиалов в Санкт-Петербурге и
              становится межрегиональной сетью. </p>
          </div>
        </div>
        <div class='history__chronology-item history__line'>
          <div class='history__chronology-year'>2020 г.</div>
          <div class='history__chronology-desc'>
            <p>В 2020 году, не смотря на сложную эпидемиологическую ситуацию в мире, открываются отделения в Нижнем
              Новгороде и в Сочи, увеличивается количество отделений в Москве и Санкт-Петербурге. Появляются новые
              форматы: онлайн-тренировки и персональные тренировки.</p>
            <p>Численность постоянного офисного штата «FitnessDeti» на 2020 год составляет 12 человек, численность
              вместе с тренерским составом насчитывает более 100 сотрудников.</p>
          </div>
        </div>
        <div class='history__chronology-item history__line'>
          <div class='history__chronology-year'>2021 г.</div>
          <div class='history__chronology-desc'>
            <p>В 2021 году проводятся первые большие внешние турниры по художественной гимнастике «Little Fox» и «SUMMER
              RG CUP», а также внешние турниры по спортивной акробатике «Acro Cup» и «SUMMER ACRO CUP». Открываются
              филиалы в Самаре, Екатеринбурге, Тюмени.</p>
          </div>
        </div>
      </div>

      <div class='history__block'>
        <div class='history__block-text'>
          <p>У лиса - талисмана школы появляется имя – Фитлис и он «оживает».</p>
          <p>Происходит ребрендинг. Спортивная школа «ФитнесДети» становится Всероссийской сетью детских спортивных школ по
            художественной гимнастике и спортивной акробатике «FD».</p>
        </div>
        <div class='history__block-picture'>
          <img width='306' height='475' loading="lazy" class='history__block-img' src='images/history/2.png' alt=''>
        </div>
        <div class='history__block-text'>
          <p>На сегодняшний день в сети ДСШ «FD» более 1500 воспитанников. Более чем у 500 учеников есть спортивные разряды.
            Три раза в год воспитанники «FD» выезжают на спортивные сборы – один зимний заезд и два летних.</p>
          <p>Тренерский состав компании проходит внутреннее обучение и сертификацию. Мероприятия по повышению квалификации
            направлены на обучение персонала работе с детьми, выявление индивидуальных психосоциальных аспектов воспитанников
            и
            введение их в социальную среду. Данный подход к тренировочному процессу, позволяя не просто добиваться выдающихся
            спортивных результатов, но и формировать в ребёнке любовь к работе в коллективе.</p>
          <p>В ближайшем будущем «FD» планирует открытие филиалов как в городах России и странах СНГ, так и в Европе.</p>
          <p>В новом сезоне 2021-2022 будет проведено еще больше внутренних и внешних соревнований, ярких спортивных
            праздников, корпоративных мероприятий. Воспитанники школы готовятся к соревнованиям по программе КМС.</p>
          <a href='#!' class='a-clear btn btn_type_primary history__btn'>Вернуться на главную</a>
        </div>
      </div>
    </div>
  </div>
</div>



