---
title: Главная страница
layout: page.njk
permalink: index.html
---
{%- from "system/block.njk" import block -%}

{{ block('banner', {
  title: 'Всероссийская сеть детских спортивных школ FD'
}) }}

{{ block('our-services', {
    title: 'Наши услуги',
    class: 'margin',
    cards: [
      {
        title: 'Художественная гимнастика',
        imageSm: 'images/card/1x1.png',
        imageMd: 'images/card/1x2.png',
        buttonText: 'Подробнее',
        text: 'Парно групповой гимнастике можно начинать заниматься девочкам и мальчикам с 3-х лет.'
      },
      {
        title: 'Спортивная акробатика',
        imageSm: 'images/card/10x1.png',
        imageMd: 'images/card/10x1.png',
        buttonText: 'Подробнее',
        text: 'Парно групповой гимнастике можно начинать заниматься девочкам и мальчикам с 3-х лет.'
      }
    ]
}) }}

{{ block('part-federations', {
  class: 'wrapper wrapper_grey-white'
}) }}

{{ block('block-three-card', {
  class: 'margin',
  cards: [
    {
      title: 'Организация сборов и мероприятий',
      imageMd: 'images/card/2x2.png',
      buttonText: 'Подробнее',
      list: ['для детей любого возраста и уровня подготовки;', 'соревнования на присвоение разрядов;', 'в различных регионах РФ.']
    },
    {
      title: 'Соревнования и разрядные турниры ',
      imageMd: 'images/card/4x2.png',
      buttonText: 'Подробнее',
      list: ['для детей любого возраста и уровня подготовки;', 'соревнования на присвоение разрядов;', 'в различных регионах РФ.']
    },
    {
      title: 'Индивидуальные занятия',
      imageMd: 'images/card/3x2.png',
      buttonText: 'Подробнее',
      class: 'mobile-hide',
      list: ['для детей любого возраста и уровня подготовки;', 'соревнования на присвоение разрядов;', 'в различных регионах РФ.']
    }
  ]
}) }}

{{ block('find-us', {
  class: 'margin',
  title: 'Найдите ближайшее отделение',
  button: 'primary',
  buttonText: 'Смотреть все отделения',
  items: [
    {
      id: 1,
      name: 'Беляево',
      metro: true,
      address: 'ул. Профсоюзная, 83Б',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.64473,
      longitude: 37.530166,
      href: ''
    },
    {
      id: 2,
      name: 'Ясенево',
      metro: true,
      address: 'Вильнюсская улица, 6к2',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.604534,
      longitude: 37.520069,
      href: ''
    },
    {
      id: 3,
      name: 'Южное Бутово',
      metro: true,
      address: 'улица Адмирала Руднева, 4',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.543868,
      longitude: 37.526061,
      href: ''
    },
    {
      id: 4,
      name: 'Северное Бутово',
      metro: true,
      address: 'Ратная улица, 14А',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.575302,
      longitude: 37.574193,
      href: ''
    },
    {
      id: 5,
      name: 'Юго-Западная',
      metro: false,
      address: 'проспект Вернадского, 86',
      tel: 9991112233,
      telString: '(999)-111-22-33',
      whatsapp: +79991112233,
      telegram: 'fitness',
      latitude: 55.661445,
      longitude: 37.477049,
      href: ''
    }
  ]
}) }}

{{ block('banner-info', {
  class: 'margin',
  imageSmall: 'images/banner-info/uniq-sm.png',
  imageFull: 'images/banner-info/uniq-lg.png',
  title: 'Уникальная тренировочная программа с экзаменами',
  text: 'Парно групповой акробатики можно начинать заниматься девочкам и мальчикам с 3-х лет.',
  button: 'accent',
  buttonText: 'Пробное занятие'
}) }}

{{ block('additional-service-slider', {
  class: 'margin',
  slides: [
    {
      image: 'images/more/4.png',
      text: 'Брендированная одежда'
    },
    {
      image: 'images/more/3.png',
      text: 'Интернет магазин'
    },
    {
      image: 'images/more/2.png',
      text: 'Страхование'
    },
    {
      image: 'images/more/1.png',
      text: 'Прокат и пошив купальников'
    }
  ]
}) }}

{{ block('reviews', {
  class: 'wrapper',
  buttonText: 'Посмотреть все отзывы',
  buttonAccent: 'Мне все понравилось хоу заниматься у Вас!'
} ) }}

{{ block('trusted') }}
