---
title: insurance
layout: page.njk
permalink: insurance.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/insurance.png',
      imageSm: 'images/banner-mobile/1.png',
      title: 'Спортивное cтрахование',
      list: ['Оформить полис Вы можете прямо сейчас на нашем сайте;', 'Действие полиса может распространяться только на время занятий спортом.'],
      buttonText: 'Получить консультацию',
      buttonType: 'accent'
    },
    {
      imageSm: 'images/banner-mobile/5.png',
      title: 'Спортивное cтрахование',
      list: ['Оформить полис Вы можете прямо сейчас на нашем сайте;', 'Действие полиса может распространяться только на время занятий спортом.'],
      buttonText: 'Получить консультацию',
      buttonType: 'accent'
    }
  ]
}) }}

{{ block('insurance', {
  class: 'margin',
  title: 'Оформление страховки',
  subtitle: 'Специальная программа страхования занятий по художественной гимнастике и акробатике'
}) }}

{{ block('questions', {
  class: 'wrapper'
}) }}

{{ block('banner-info', {
  class: 'margin',
  imageSmall: 'images/banner-info/personal-sm.png',
  imageFull: 'images/banner-info/personal-lg.png',
  title: 'Персональные тренировки',
  button: 'primary',
  buttonText: 'Подробнее',
  list: ['Текст о персональных тренировках;', 'Текст о персональных тренировках;', 'Текст о персональных тренировках;']
}) }}

{{ block('banner-info', {
  class: 'margin',
  imageSmall: 'images/banner-info/photosession-sm.png',
  imageFull: 'images/banner-info/photosession-lg.png',
  title: 'Фотосессии',
  button: 'primary',
  buttonText: 'Подробнее',
  list: ['Текст о персональных тренировках;', 'Текст о персональных тренировках;', 'Текст о персональных тренировках;']
}) }}

{{ block('banner-info', {
  class: 'margin',
  imageSmall: 'images/banner-info/rent-sm.png',
  imageFull: 'images/banner-info/rent-lg.png',
  title: 'Аренда и пошив купальников',
  button: 'primary',
  buttonText: 'Подробнее',
  list: ['Текст о персональных тренировках;', 'Текст о персональных тренировках;', 'Текст о персональных тренировках;']
}) }}




{{ block('additional-service-slider', {
  class: 'wrapper',
  slides: [
    {
      image: 'images/more/4.png',
      text: 'Брендированная одежда'
    },
    {
      image: 'images/more/3.png',
      text: 'Интернет магазин'
    },
    {
      image: 'images/more/2.png',
      text: 'Страхование'
    },
    {
      image: 'images/more/1.png',
      text: 'Прокат и пошив купальников'
    }
  ]
}) }}

