---
title: loyalty
layout: page.njk
permalink: loyalty.html
---

{%- from "system/block.njk" import block -%}

{{ block('sales-blocks', {
  items: [
    {
      side: 'left',
      imageSmall: 'images/banner-info/sale-sm.png',
      imageFull: 'images/banner-info/online-lg.png',
      title: 'Большая семья',
      button: 'primary',
      buttonText: 'Хочу узнать больше',
      list: ['2 ребенок - скидка 10%;', '3 ребенок - скидка 20;', 'более 3 детей – 30.']
    },
    {
      side: 'left',
      imageSmall: 'images/banner-info/sale-sm.png',
      imageFull: 'images/banner-info/online-lg.png',
      title: 'Приведи друга',
      button: 'primary',
      buttonText: 'Хочу узнать больше',
      list: ['Друг получает скидку 50% на текущий месяц;', 'Человек, который пригласил друга, получает', 'скидку на следующий месяц.;']
    },
    {
      side: 'left',
      imageSmall: 'images/banner-info/sale-sm.png',
      imageFull: 'images/banner-info/online-lg.png',
      title: 'Участники FitnessDeti',
      button: 'primary',
      buttonText: 'Хочу узнать больше',
      list: ['Скидка для участников Fitness Deti в FD store - 10%;']
    }
  ]
}) }}

{{ block('services', {
  class: 'wrapper'
}) }}

