---
title: master-classes
layout: page.njk
permalink: master-classes.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/master-classes.png',
      imageSm: 'images/banner-mobile/12.png',
      title: 'Мастер-классы',
      buttonText: 'Записаться на мастер-классы',
      buttonType: 'accent',
      list: ['По художественной гимнастике;', 'По акробатике;', 'По хореографии;', 'По артистизму.']
    },
    {
      imageSm: 'images/banner-mobile/12.png',
      title: 'Мастер-классы',
      buttonText: 'Записаться на мастер-классы',
      buttonType: 'accent',
      list: ['По художественной гимнастике;', 'По акробатике;', 'По хореографии;', 'По артистизму.']
    }
  ]
}) }}

{{ block('camps', {
  class: 'margin',
  title: 'Ближайшие мастер-класс',
  btnText: 'Смотреть все мастер-классы',
  items: [
    {
      itemTitle: 'Мастер класс Алины Кабаевой',
      itemWhen: '15-20 июня 2021 г.'
    },
    {
      itemTitle: 'Мастер класс Алины Кабаевой',
      itemWhen: '15-20 июня 2021 г.'
    },
    {
      itemTitle: 'Мастер класс Алины Кабаевой',
      itemWhen: '15-20 июня 2021 г.'
    },
    {
      itemTitle: 'Мастер класс Алины Кабаевой',
      itemWhen: '15-20 июня 2021 г.'
    }
  ]
}) }}

{{ block('students', {
  class: 'wrapper',
  btnText: 'Шагни в профессиональный спорт',
  title: 'Наши звёзды',
  slides: [
    {image: 'images/carousel-student/1.jpg', itemName: 'Хайрудинова Лейла' },
    {image: 'images/carousel-student/2.jpg', itemName: 'Федина Александра' },
    {image: 'images/carousel-student/3.jpg', itemName: 'Пугачева Виктория' },
    {image: 'images/carousel-student/4.jpg', itemName: 'Захарова Алисия' },
    {image: 'images/carousel-student/5.jpg', itemName: 'Завидонова Варвара' },
    {image: 'images/carousel-student/6.jpg', itemName: 'Ермакова Маргарита' },
    {image: 'images/carousel-student/7.jpg', itemName: 'Дмитрова Ольга' },
    {image: 'images/carousel-student/8.jpg', itemName: 'Панина Ярослава' }
  ]
}) }}
