---
title: online
layout: page.njk
permalink: online.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
    slides: [
      {
        imageFull: 'images/banner-gymnastic/online.png',
        imageSm: 'images/banner-mobile/5.png',
        title: 'Онлайн тренировки',
        buttonText: 'Записаться на пробное занятие',
        buttonType: 'accent',
        list: ['Занимайтесь дома;', 'Тренируйтесь с лучшими тренерами;', 'Поддерживайте спортивную форму.']
      },
      {
        imageSm: 'images/banner-mobile/5.png',
        title: 'Онлайн тренировки',
        buttonText: 'Записаться на пробное занятие',
        buttonType: 'accent',
        list: ['Занимайтесь дома;', 'Тренируйтесь с лучшими тренерами;', 'Поддерживайте спортивную форму.']
      }
    ]
}) }}

{{ block('teaching-groups', {
    class: 'wrapper wrapper_white-grey',
    title: 'Группы обучения',
    subtitle: 'Художественная гимнастика представлена четырьмя группами',
    size: 'teaching-groups-item-lg',
    items: [
      {
        title: 'Художественная гимнастика',
        descGrade: 'Для тех кто только начинает',
        descDuration: '2 раза в неделю по 1 часу',
        price: "6 000 ₽",
        color: 'pink',
        overflow: true
      },
      {
        title: 'Спортивная акробатика',
        descGrade: 'Профессиональная подготовка',
        descDuration: '3 раза в неделю по 2 часа',
        price: "7 000 ₽",
        color: 'blue',
        overflow: true
      }
    ]
}) }}

{{ block('teaching-groups-horizontal', {
    class: 'wrapper wrapper_white-grey'
}) }}

{{ block('banner-info', {
  class: 'margin',
  imageSmall: 'images/banner-info/online-sm.png',
  imageFull: 'images/banner-info/online-lg.png',
  title: 'Почему необходимы занятия online?',
  button: 'accent',
  buttonText: 'Записаться на online занятия',
  list: ['Поддержание достигнутых результатов;', 'Сохранение формы;', 'Выработка самодисциплины.']
}) }}

{{ block('who-leads', {
  class: 'wrapper wrapper_grey-white'
}) }}

{{ block('classes', {
  class: 'margin',
  items: [
    { image: 'images/classes/online/1.jpg', count: '01', text: 'Приветствие, проверка связи, объяснение целей и задач тренировки'},
    { image: 'images/classes/online/2.jpg', count: '02', text: 'Разминка'},
    { image: 'images/classes/online/3.jpg', count: '03', text: 'Выполнение упражнений вместе с тренером'},
    { image: 'images/classes/online/4.jpg', count: '04', text: 'Растяжка и подкачка'},
    { image: 'images/classes/online/5.jpg', count: '05', text: 'Заминка'},
    { image: 'images/classes/online/6.jpg', count: '06', text: 'Объяснение домашнего задания'}
  ]
}) }}

{{ block('timetable', {
  class: 'wrapper wrapper_white-grey',
  title: 'Расписание занятий'
}) }}

{{ block('part-federations', {
  class: 'wrapper wrapper_grey-white'
}) }}

{{ block('reviews', {
  class: 'wrapper wrapper_white-grey',
  buttonText: 'Посмотреть все отзывы'
}) }}

{{ block('students', {
  class: 'margin',
  btnText: 'Хочу стать звездой!',
  title: 'Наши звёзды',
  slides: [
    {image: 'images/carousel-student/1.jpg', itemName: 'Хайрудинова Лейла' },
    {image: 'images/carousel-student/2.jpg', itemName: 'Федина Александра' },
    {image: 'images/carousel-student/3.jpg', itemName: 'Пугачева Виктория' },
    {image: 'images/carousel-student/4.jpg', itemName: 'Захарова Алисия' },
    {image: 'images/carousel-student/5.jpg', itemName: 'Завидонова Варвара' },
    {image: 'images/carousel-student/6.jpg', itemName: 'Ермакова Маргарита' },
    {image: 'images/carousel-student/7.jpg', itemName: 'Дмитрова Ольга' },
    {image: 'images/carousel-student/8.jpg', itemName: 'Панина Ярослава' }
  ]
}) }}

{{ block('questions', {
  class: 'margin'
}) }}

{{ block('additional-service-slider', {
  class: 'wrapper',
  slides: [
    {
      image: 'images/more/4.png',
      text: 'Брендированная одежда'
    },
    {
      image: 'images/more/3.png',
      text: 'Интернет магазин'
    },
    {
      image: 'images/more/2.png',
      text: 'Страхование'
    },
    {
      image: 'images/more/1.png',
      text: 'Прокат и пошив купальников'
    }
  ]
}) }}

