---
title: pay form
permalink: pay-form.html
---

<html>
  <head>
    <title>Оплата — fitnessdeti.ru</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/app.css" />
    <script src="https://api-maps.yandex.ru/2.1?lang=ru_RU" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css" />
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css" />
    <script src="https://widget.cloudpayments.ru/bundles/cloudpayments"></script>
    <main style="min-height: 500px">
      <div class="container calculator typography">
        <h1 class="calculator__title">Оплата занятий FD</h1>
        <div>
          {% raw %}
          <div id="vue-calculator-app">
            <form @submit.prevent="submit" class="calculator__inner">
              <div class="calculator__items">
                <div class="fieldset">
                  <div class="fieldset__title">Выберите ваш город:</div>
                  <div class="fieldset__items fieldset__items_column">
                    <label v-for="(city, i) of $options.citiesV2" class="form-input fieldset__item">
                      <input name="city_id" v-model="cityId" type="radio" :value="i" />
                      <span>{{ city.name }} </span>
                    </label>
                  </div>
                </div>
                <div class="fieldset" v-if="branches">
                  <div class="fieldset__title">Выберите филиал:</div>
                  <div class="fieldset__items fieldset__items_column">
                    <label v-for="(branch, i) of branches" class="form-input fieldset__item">
                      <input name="branch_id" v-model="branchId" type="radio" :value="i" />
                      <span>
                        <div>{{ branch.name }}</div>
                        <div><small>{{ branch.address }}</small></div>
                      </span>
                    </label>
                  </div>
                </div>
                <div class="fieldset" v-if="directions">
                  <div class="fieldset__title">Вид спорта:</div>
                  <div class="fieldset__items">
                    <label v-for="(direction, i) of directions" class="form-input">
                      <input name="direction_id" v-model="directionId" type="radio" :value="i" />
                      <span>{{ direction.name }}</span>
                    </label>
                  </div>
                </div>
                <div class="fieldset" v-if="groups">
                  <div class="fieldset__title">Группа:</div>
                  <div class="fieldset__items" :class='{ fieldset__items_column: groups.length > 4 }'>
                    <label v-for="(group, i) of groups" class="form-input" :class='{ fieldset__item: groups.length > 4 }'>
                      <input name="group_id" v-model="groupId" type="radio" :value="i" />
                      <span>{{ group.name }}</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="calculator__result">
                <div class="calculator__total" v-if="price && oldPrice">
                  <div class="calculator__total-text">Итого:</div>
                  <div class="calculator__total-prices">
                    <div class="calculator__price calculator__price_new">{{ priceText }}</div>
                    <div class="calculator__price calculator__price_old" v-if="price !== oldPrice">
                      {{ oldPriceText }}
                    </div>
                  </div>
                </div>
                <div v-if="price" class="calculator__form">
                  <div class="fieldset">
                    <div class="fieldset__items">
                      <div class="form-text">
                        <input v-model="phone" name="phone" required placeholder="Телефон" />
                      </div>
                      <div class="form-text">
                        <input v-model="parentName" name="parentName" required placeholder="ФИ родителя" />
                      </div>
                      <div class="form-text">
                        <input v-model="childName" name="childName" required placeholder="ФИ ребенка" />
                      </div>
                      <div class="form-text">
                        <input
                          v-model="birthDate"
                          name="birthDate"
                          required
                          placeholder="Дата рождения ребенка"
                          type="date"
                        />
                      </div>
                      <label class="form-input">
                        <input type="checkbox" v-model="agreement" required />
                        <span class="form-input__confirm">
                          Я согласен с
                          <a class="a-clear" href="https://fitnessdeti.ru/static/files/oferta-bf.docx" download
                            >договором-оферты</a
                          >
                        </span>
                      </label>
                    </div>
                  </div>
                  <button type="submit" class="btn btn_type_accent calculator__btn">Оплатить</button>
                </div>
              </div>
            </form>
          </div>
          {% endraw %}
        </div>
      </div>
      <script>
        const citiesV2 = [
          {
            name: 'Москва',
            branches: [
              {
                name: 'Ясенево',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСМ день (3х4)', price: 13500, oldPrice: 13500 },
                      {
                        name: 'ГСМ (3х4)',
                        price: 13500,
                        oldPrice: 13500,
                      },
                      { name: 'СГ 2', price: 8600, oldPrice: 8600 },
                      {
                        name: 'СГ 1',
                        price: 8600,
                        oldPrice: 8600,
                      },
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП день',
                        price: 6500,
                        oldPrice: 6500,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСМ (3х3)', price: 11000, oldPrice: 11000 },
                      {
                        name: 'СГ 2',
                        price: 8600,
                        oldPrice: 8600,
                      },
                      { name: 'СГ 1', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП день', price: 6500, oldPrice: 6500 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Беляево',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСМ', price: 13500, oldPrice: 13500 },
                      {
                        name: 'СГ 2',
                        price: 8600,
                        oldPrice: 8600,
                      },
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Видное',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСМ (3х4)', price: 13500, oldPrice: 13500 },
                      {
                        name: 'ГСМ (3х3)',
                        price: 11000,
                        oldPrice: 11000,
                      },
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП день', price: 6500, oldPrice: 6500 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСМ (3х4)', price: 13500, oldPrice: 13500 },
                      {
                        name: 'ГСМ (3х3)',
                        price: 11000,
                        oldPrice: 11000,
                      },
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП день', price: 6500, oldPrice: 6500 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Северное Бутово',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Южное бутово',
                address: '',
                directions: [
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Юго-западная',
                address: '',
                directions: [
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Новогиреево ',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Царицыно',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Люблино',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Бабушкинская',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Орехово',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСМ (3х3)', price: 11000, oldPrice: 11000 },
                      {
                        name: 'СГ',
                        price: 8600,
                        oldPrice: 8600,
                      },
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСМ (3х3)', price: 11000, oldPrice: 11000 },
                      {
                        name: 'СГ',
                        price: 8600,
                        oldPrice: 8600,
                      },
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Дегунино',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Речной вокзал',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Кузьминки',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Тимирязевская',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Чертаново',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Бибирево',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Тушино',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Строгино',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Новопеределкино',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ (4 часа)', price: 7600, oldPrice: 7600 },
                      {
                        name: 'СГ (5 часов)',
                        price: 8000,
                        oldPrice: 8000,
                      },
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ (4 часа)', price: 7600, oldPrice: 7600 },
                      {
                        name: 'СГ (5 часов)',
                        price: 8000,
                        oldPrice: 8000,
                      },
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Коммунарка',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Акробатика', groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Каховка',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 8600, oldPrice: 8600 },
                      {
                        name: 'ГСП',
                        price: 7600,
                        oldPrice: 7600,
                      },
                      { name: 'ГНП', price: 6500, oldPrice: 6500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Академическая',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Южное Медведково',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }],
                  },
                  { name: 'Акробатика', groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Московский',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Теплый Стан',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Молодежная',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 6500, oldPrice: 6500 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
              {
                name: 'Северное Медведково',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 6750, oldPrice: 6750 },
                      {
                        name: 'ГНП',
                        price: 5800,
                        oldPrice: 5800,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСП', price: 6750, oldPrice: 6750 },
                      {
                        name: 'ГНП',
                        price: 5800,
                        oldPrice: 5800,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 5800, oldPrice: 5800 }] },
                ],
              },
              {
                name: 'Измайлово',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСП', price: 7600, oldPrice: 7600 },
                      {
                        name: 'ГНП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 6500, oldPrice: 6500 }] },
                ],
              },
            ],
          },
          {
            name: 'Санкт-Петербург',
            branches: [
              {
                name: 'Невское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 5900, oldPrice: 5900 },
                      {
                        name: 'ГСП',
                        price: 5100,
                        oldPrice: 5100,
                      },
                      { name: 'ГНП', price: 4300, oldPrice: 4300 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 5750, oldPrice: 5750 },
                      {
                        name: 'ГСП',
                        price: 5000,
                        oldPrice: 5000,
                      },
                      { name: 'ГНП', price: 4125, oldPrice: 4125 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 4300, oldPrice: 4300 }] },
                ],
              },
              {
                name: 'Фрунзенское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'СГ', price: 7500, oldPrice: 7500 },
                      {
                        name: 'ГСП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                      { name: 'ГНП', price: 5500, oldPrice: 5500 },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'СГ', price: 7500, oldPrice: 7500 },
                      {
                        name: 'ГСП',
                        price: 6500,
                        oldPrice: 6500,
                      },
                      { name: 'ГНП', price: 5500, oldPrice: 5500 },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 5500, oldPrice: 5500 }] },
                ],
              },
              {
                name: 'Калининское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 5800, oldPrice: 5800 },
                      {
                        name: 'ГНП',
                        price: 4900,
                        oldPrice: 4900,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСП', price: 5800, oldPrice: 5800 },
                      {
                        name: 'ГНП',
                        price: 4900,
                        oldPrice: 4900,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 4900, oldPrice: 4900 }] },
                ],
              },
              {
                name: 'Красногвардейское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 4800, oldPrice: 4800 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 4800, oldPrice: 4800 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 4800, oldPrice: 4800 }] },
                ],
              },
              {
                name: 'Приморское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 5500, oldPrice: 5500 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [
                      { name: 'ГСП', price: 6500, oldPrice: 6500 },
                      {
                        name: 'ГНП',
                        price: 5500,
                        oldPrice: 5500,
                      },
                    ],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 5500, oldPrice: 5500 }] },
                ],
              },
              {
                name: 'Авиационное',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 5500, oldPrice: 5500 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 5500, oldPrice: 5500 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 5500, oldPrice: 5500 }] },
                ],
              },
            ],
          },
          {
            name: 'Нижний Новгород',
            branches: [
              {
                name: 'Автозаводское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГСР', price: 4400, oldPrice: 4400 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГСР', price: 4400, oldPrice: 4400 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 3900, oldPrice: 3900 }] },
                ],
              },
              {
                name: 'Нижегородское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 3900, oldPrice: 3900 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 3900, oldPrice: 3900 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 3900, oldPrice: 3900 }] },
                ],
              },
              {
                name: 'Мещерское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 3900, oldPrice: 3900 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 3900, oldPrice: 3900 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 3900, oldPrice: 3900 }] },
                ],
              },
            ],
          },
          {
            name: 'Сочи',
            branches: [
              {
                name: 'Адлер',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [
                      { name: 'ГСП', price: 5300, oldPrice: 5300 },
                      {
                        name: 'ГНП',
                        price: 4300,
                        oldPrice: 4300,
                      },
                    ],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 4300, oldPrice: 4300 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 4300, oldPrice: 4300 }] },
                ],
              },
              {
                name: 'Центральный Сочи',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 4300, oldPrice: 4300 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 4300, oldPrice: 4300 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 4300, oldPrice: 4300 }] },
                ],
              },
            ],
          },
          {
            name: 'Самара',
            branches: [
              {
                name: 'Стара Загора',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 2700, oldPrice: 2700 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 2700, oldPrice: 2700 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 2700, oldPrice: 2700 }] },
                ],
              },
            ],
          },
          {
            name: 'Екатеринбург',
            branches: [
              {
                name: 'Фонвизинское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 3100, oldPrice: 3100 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 3100, oldPrice: 3100 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 3100, oldPrice: 3100 }] },
                ],
              },
              {
                name: 'Верх-Исетское',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 3100, oldPrice: 3100 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 3100, oldPrice: 3100 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 3100, oldPrice: 3100 }] },
                ],
              },
            ],
          },
          {
            name: 'Тюмень',
            branches: [
              {
                name: '50 лет октября',
                address: '',
                directions: [
                  {
                    name: 'Художественная гимнастика',
                    groups: [{ name: 'ГНП', price: 3100, oldPrice: 3100 }],
                  },
                  {
                    name: 'Акробатика',
                    groups: [{ name: 'ГНП', price: 3100, oldPrice: 3100 }],
                  },
                  { name: 'Подготовительные группы', groups: [{ name: 'ПГ', price: 3100, oldPrice: 3100 }] },
                ],
              },
            ],
          },
        ];

        function formatRubles(price) {
          return price.toString().replace(/(\d)(?=(\d\d\d)+([^\d]|$))/g, `$1 `) + 'р';
        }

        new Vue({
          el: '#vue-calculator-app',
          citiesV2,
          data() {
            return {
              cityId: null,
              directionId: null,
              groupId: null,
              branchId: null,
              phone: '',
              parentName: '',
              childName: '',
              birthDate: '',
              agreement: false,
            };
          },
          computed: {
            currentCity() {
              if (this.cityId === null) {
                return null;
              }
              return this.$options.citiesV2[this.cityId];
            },
            branches() {
              if (!this.currentCity) {
                return null;
              }
              return this.currentCity.branches;
            },
            currentBranch() {
              return this.branches && this.branches[this.branchId];
            },
            directions() {
              if (!this.currentBranch) {
                return null;
              }
              return this.currentBranch.directions;
            },
            currentDirection() {
              return this.directionId !== null && this.directions[this.directionId];
            },
            groups() {
              if (!this.currentDirection) {
                return null;
              }
              return this.currentDirection.groups;
            },
            currentGroup() {
              return this.groups && this.groups[this.groupId];
            },

            price() {
              return this.currentGroup ? this.currentGroup.price : null;
            },
            oldPrice() {
              return this.currentGroup ? this.currentGroup.oldPrice : null;
            },
            priceText() {
              return formatRubles(this.price);
            },
            oldPriceText() {
              return formatRubles(this.oldPrice);
            },
            availableToPay() {
              return (
                this.currentGroup &&
                this.currentDirection &&
                this.currentBranch &&
                this.phone &&
                this.parentName &&
                this.childName &&
                this.birthDate &&
                this.agreement
              );
            },
            paymentDescription() {
              return `Оплата занятий (${this.currentDirection}) Фитнес Дети в г. ${this.currentCity.name} (филиал: ${this.currentBranch.name}), группа: ${this.currentGroup.name}, ${this.childName} (${this.birthDate}), ${this.parentName}`;
            },
            paymentId() {
              if (this.currentCity && this.currentBranch) {
                return this.currentCity.name === 'Москва' && this.currentBranch.name !== 'Видное'
                  ? 'pk_f0dd706bd8fbd85bbbd8abb46b66c'
                  : 'pk_389ea0a9e908191364e83be88e39b';
              }
              return null;
            },
          },
          methods: {
            submit() {
              if (!this.availableToPay) {
                alert('Пожалуйста заполните все поля!');
                return;
              }
              const widget = new cp.CloudPayments();
              widget.pay(
                'auth', // или 'charge'
                {
                  //options
                  publicId: this.paymentId, //id из личного кабинета // publicId для москвы pk_f0dd706bd8fbd85bbbd8abb46b66c
                  description: this.paymentDescription, //назначение
                  amount: this.price, //сумма
                  currency: 'RUB', //валюта
                  accountId: this.phone, //идентификатор плательщика (необязательно)
                  skin: 'mini', //дизайн виджета (необязательно)
                },
                {
                  onSuccess: function (options) {
                    // success
                    //действие при успешной оплате
                  },
                  onFail: function (reason, options) {
                    // fail
                    //действие при неуспешной оплате
                  },
                  onComplete: function (paymentResult, options) {
                    //Вызывается как только виджет получает от api.cloudpayments ответ с результатом транзакции.
                    //например вызов вашей аналитики Facebook Pixel
                  },
                }
              );
            },
          },
          watch: {
            cityId() {
              this.groupId = null;
              this.branchId = null;
              this.directionId = null;
            },
            branchId() {
              this.groupId = null;
              this.directionId = null;
            },
            directionId() {
              this.groupId = null;
            },
          },
        });
      </script>
    </main>
  </body>
</html>
