---
title: personal-training
layout: page.njk
permalink: personal-training.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/personal-training.png',
      imageSm: 'images/banner-mobile/3.png',
      title: 'Персональные тренировки',
      buttonText: 'Записаться на пробное занятие',
      buttonType: 'accent',
      list: ['индивидуальные занятия и мини-группы;', 'отработка упражнений и элементов;', 'улучшение физической подготовки.']
    },
    {
      imageSm: 'images/banner-mobile/3.png',
      title: 'Персональные тренировки',
      buttonText: 'Записаться на пробное занятие',
      buttonType: 'accent',
      list: ['Индивидуальный подход;', 'Тренируйтесь с лучшими тренерами;', 'Подготовим профессионала.']
    }
  ]
}) }}

{{ block('teaching-groups', {
  class: 'wrapper wrapper_white-grey wrapper_bottom',
  title: 'Группы обучения',
  subtitle: 'Парно групповой акробатики можно начинать заниматься девочкам и мальчикам с 3-х лет',
  switch: true,
  size: 'teaching-groups-item-md',
  left: true,
  items: [
    {
      title: 'Группа из 1 человека',
      descGrade: 'Для тех кто только начинает',
      descDuration: '2 раза в неделю по 1 часу',
      price: "6 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час'
    },
    {
      title: 'Группа из 3х человек',
      descGrade: 'Для тех кто только начинает',
      descDuration: '2 раза в неделю по 1 часу',
      price: "7 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час',
      label: 'ХИТ'
    },
    {
      title: 'Группа из 2х человек',
      descGrade: 'Для тех кто только начинает',
      descDuration: '2 раза в неделю по 1 часу',
      price: "8 000 ₽",
      age: 'от 5 до 9 лет',
      occupancy: 'не более 12 человек',
      priceHour: 'от 290 ₽ /час'
    }
  ]
}) }}

{{ block('coaching-staff', {
  class: 'wrapper',
  properties: [
    {sprite: 'trophy-color', title: 'КМС/МС/МСМК'},
    {sprite: 'thumbs-up', title: 'Опыт больше 2-х лет'},
    {sprite: 'certificate-color', title: 'Спец. образование'}
  ]
}) }}

{{ block('choose-gym') }}

{{ block('classes', {
  class: 'margin',
  items: [
    { image: 'images/classes/personal-training/1.jpg', count: '01', text: 'Определение и постановка задачи на занятие'},
    { image: 'images/classes/personal-training/2.jpg', count: '02', text: 'Разминка'},
    { image: 'images/classes/personal-training/3.jpg', count: '03', text: 'Отработка поставленной задачи'},
    { image: 'images/classes/personal-training/4.jpg', count: '04', text: 'Разбор и коррекция ошибок'},
    { image: 'images/classes/personal-training/5.jpg', count: '05', text: 'Растяжка и ОФП'},
    { image: 'images/classes/personal-training/6.jpg', count: '06', text: 'Заминка и подкачка'}
  ]
}) }}

{{ block('reviews', {
  class: 'margin mobile-hide',
  buttonText: 'Посмотреть все отзывы'
} ) }}

{{ block('questions', {
  class: 'wrapper mobile-hide'
}) }}
