---
title: photoshoot
layout: page.njk
permalink: photoshoot.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/photoshoot.png',
      imageSm: 'images/banner-mobile/13.png',
      title: 'Спортивные фотосессии',
      buttonText: 'Заказать фотосессию',
      buttonType: 'accent',
      list: ['Профессиональный фотограф;', 'Профессиональная студия;', 'Предоставление предметов;', 'Прокат купальника;', 'Помощь тренера при позировании.']

    },
    {
      imageSm: 'images/banner-mobile/13.png',
      title: 'Спортивные фотосессии',
      buttonText: 'Заказать фотосессию',
      buttonType: 'accent',
      list: ['Профессиональный фотограф;', 'Профессиональная студия;', 'Предоставление предметов;', 'Прокат купальника;', 'Помощь тренера при позировании.']
    }
  ]
}) }}

{{ block('photo-session', {
  class: 'margin'
}) }}

{{ block('camps-desc', {
  class: 'margin',
  title: 'Что входит в услугу',
  buttonText: 'Очень хочу фотосессию',
  items: [
    {title: 'Профессиональный фотограф', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {title: 'Профессиональная студия', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {image: 'images/photo-shoots/2.png'},
    {title: 'Предоставление предметов', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {title: 'Прокат купальника', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'},
    {title: 'Помощь тренера при позировании', info: 'По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей'}
  ]
}) }}

{{ block('banner-info', {
  class: 'margin',
  imageFull: 'images/banner-info/photoshoot-lg.png',
  imageSmall: 'images/photo-shoots/3.png',
  title: 'Формирование портфолио',
  button: 'primary',
  buttonText: 'Узнать подробности',
  list: [
    'Отобранные фото;',
    'Качественный фотоальбом;',
    'Снимки с с бэкстейджа;'
  ]
}) }}

{{ block('portfolio', {
  class: 'wrapper'
}) }}



