---
title: reviews
layout: page.njk
permalink: reviews.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  list: [ 'Главная', 'Школа', 'Отзывы' ],
  class: 'wrapper wrapper_top wrapper_bottom'
}) }}

{{ block('reviews-block', {
  class: 'wrapper wrapper_top wrapper_bottom'
}) }}
