---
title: sale50
layout: page.njk
permalink: sale50.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/sale50.png',
      imageSm: 'images/banner-mobile/9.png',
      title: 'Скидки -50% ',
      titleColor: 'red',
      text: 'Только два дня с 12 по 13 ноября 2020г. не упусти уникальную возможность записать своего ребенка на занятия по художественной гимнастике или акробатике в FitnessDeti по специальной цене!'
    },
    {
      imageSm: 'images/banner-mobile/9.png',
      title: 'Скидки -50% ',
      text: 'Только два дня с 12 по 13 ноября 2020г. не упусти уникальную возможность записать своего ребенка на занятия по художественной гимнастике или акробатике в FitnessDeti по специальной цене!'
    }
  ]
}) }}

{{ block('calculator') }}

{{ block('all-promotions', {
  class: 'margin'
}) }}
