---
title: sales
layout: page.njk
permalink: sales.html
---

{%- from "system/block.njk" import block -%}

{{ block('sales-blocks', {
  items: [
    {
      side: 'left',
      imageSmall: 'images/banner-info/sale-sm.png',
      imageFull: 'images/banner-info/online-lg.png',
      title: 'Скидки -50% ',
      button: 'primary',
      buttonText: 'Подробнее',
      text: 'Только два дня с 12 по 13 ноября 2020г. занятия по специальной цене!'
    },
    {
      side: 'left',
      imageSmall: 'images/banner-info/sale-sm.png',
      imageFull: 'images/banner-info/online-lg.png',
      title: 'Скидки -50% ',
      button: 'primary',
      buttonText: 'Подробнее',
      text: 'Только два дня с 12 по 13 ноября 2020г. занятия по специальной цене!'
    },
    {
      side: 'left',
      imageSmall: 'images/banner-info/sale-sm.png',
      imageFull: 'images/banner-info/online-lg.png',
      title: 'Скидки -50% ',
      button: 'primary',
      buttonText: 'Подробнее',
      text: 'Только два дня с 12 по 13 ноября 2020г. занятия по специальной цене!'
    }
  ]
}) }}

{{ block('services', {
  class: 'wrapper'
}) }}

{{ block('services-second', {
  class: 'wrapper'
}) }}
