---
title: school
layout: page.njk
permalink: school.html
---
<script src='https://api-maps.yandex.ru/2.1?lang=ru_RU'></script>
{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  list: [ 'Главная', 'Школы', 'Ясенево' ]
}) }}

{{ block('school', {
  class: 'margin margin_top'
}) }}

{{ block('timetable', {
  class: 'wrapper',
  title: 'Расписание занятий'
}) }}

{{ block('department-trainers', {
  class: 'margin',
  title: 'Тренеры отделения',
  trainers: [
    {
      image: 'images/trainers/anna.png',
      itemName: 'Лау Анна',
      itemInfo: 'МСМК',
      sprite: 'gymnast'
    },
    {
      image: 'images/trainers/yulia.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer'
    },
    {
      image: 'images/trainers/olga.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      certificate: true
    },
    {
      image: 'images/trainers/dasha.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer'
    },
    {
      image: 'images/trainers/olga.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      certificate: true
    },
    {
      image: 'images/trainers/dasha.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer'
    }
  ]
}) }}

{{ block('gallery', {
  class: 'margin',
  title: 'Фото отделения/зала',
  images: [
    'images/department-photo/1.png',
    'images/department-photo/2.png',
    'images/department-photo/3.png',
    'images/department-photo/4.png'
  ]
}) }}

{{ block('part-federations', {
  class: 'wrapper wrapper_grey-white'
}) }}


{{ block('moneybox-medals', {
  class: 'margin',
  btnText: 'Хочу медаль'
}) }}

{{ block('reviews', {
  class: 'wrapper',
  buttonText: 'Посмотреть все отзывы'
} ) }}
