---
title: setting
layout: page.njk
permalink: setting.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/setting.png',
      imageSm: 'images/banner-mobile/11.png',
      title: 'Постановка программ',
      buttonText: 'Узнайте больше',
      buttonType: 'accent',
      list: ['Подготовка индивидуальных программы;', 'Составление карточки элементов;', 'Подбор музыки.']

    },
    {
      imageSm: 'images/banner-mobile/11.png',
      title: 'Постановка программ',
      buttonText: 'Узнайте больше',
      buttonType: 'accent',
      list: ['Подготовка индивидуальных программы;', 'Составление карточки элементов;', 'Подбор музыки.']
    }
  ]
}) }}

{{ block('preparation', {
}) }}

{{ block('sport-cards', {
  class: 'wrapper wrapper_white-grey',
  title: 'Составление карточки спортивных элементов'
}) }}

{{ block('what-get', {
  class: 'wrapper wrapper_grey-white wrapper_bottom',
  items: [
    {image: 'images/what-get/1.png', text: 'Программа'},
    {image: 'images/what-get/2.png', text: 'Музыка'},
    {image: 'images/what-get/3.png', text: 'Видео'}
  ]
}) }}

{{ block('properties', {
  class: 'wrapper',
  title: 'Программы ставят',
  items: [
    {
      sprite: 'trophy-color',
      title: 'МС/МСМК'
    },
    {
      sprite: 'thumbs-up',
      title: 'Опыт 10 лет'
    },
    {
      sprite: 'certificate-color',
      title: 'Спец. образование'
    }
  ]
}) }}

{{ block('example', {
  class: 'margin',
  title: 'Примеры выступлений'
}) }}

{{ block('moneybox-medals', {
  class: 'margin',
  btnText: 'Получи секретную программу!'
}) }}
