---
title: swimsuits
layout: page.njk
permalink: swimsuits.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/swimsuit.png',
      imageSm: 'images/banner-mobile/6.png',
      title: 'Пошив и аренда купальников',
      list: ['Аренда купальников для выступлений;', 'Индивидуальный пошив под заказ;', 'Подбор купальника для выступлений.'],
      buttonText: 'Арендовать купальник',
      buttonTextSecond: 'Заказать пошив',
      buttonType: 'accent'
    },
    {
      imageSm: 'images/banner-mobile/6.png',
      title: 'Пошив и аренда купальников',
      list: ['Аренда купальников для выступлений;', 'Индивидуальный пошив под заказ;', 'Подбор купальника для выступлений.'],
      buttonText: 'Арендовать купальник',
      buttonTextSecond: 'Заказать пошив',
      buttonType: 'accent'
    }
  ]
}) }}

{{ block('order-swimsuit', {
  class: 'wrapper wrapper_white-grey',
  title: 'Аренда купальника',
  subtitle: 'Предлагаемая нашей компанией аренда купальников для художественной гимнастики позволяет гимнастам при каждом своём выступлении радовать публику новыми образами.',
  items: [
    {
      title: 'Аренда купальника',
      subtitle: 'Быстро и качествено пошьем купальник. ',
      price: "от 1 200 ₽",
      timing: 'в день заказа'
    }
  ]
}) }}

{{ block('catalog', {
  class: 'margin',
  title: 'Каталог готовых к аренеде купальников',
  btnText: 'Смотреть еще',
  btnTextPrimary: 'Сделать заказ',
  items: [
    {
      image: 'images/card/7.png',
      itemName: 'Название купальника в две строки',
      itemInfo: '800 руб.',
      label: {color: 'green', info: 'ХИТ'}
    },
    {
      image: 'images/card/7.png',
      itemName: 'Синия сказка',
      itemInfo: '800 руб.',
      label: {color: 'red', info: 'SALE'}
    },
    {
      image: 'images/card/7.png',
      itemName: 'Название купальника в две строки',
      itemInfo: '800 руб.',
      label: {color: 'red', info: '-10%'}
    },
    {
      image: 'images/card/7.png',
      itemName: 'Синия сказка',
      itemInfo: '800 руб.'
    },
    {
      image: 'images/card/7.png',
      itemName: 'Название купальника в две строки',
      itemInfo: '800 руб.',
      label: {color: 'green', info: 'ХИТ'}
    },
    {
      image: 'images/card/7.png',
      itemName: 'Синия сказка',
      itemInfo: '800 руб.',
      label: {color: 'red', info: 'SALE'}
    },
    {
      image: 'images/card/7.png',
      itemName: 'Название купальника в две строки',
      itemInfo: '800 руб.',
      label: {color: 'red', info: '-10%'}
    },
    {
      image: 'images/card/7.png',
      itemName: 'Синия сказка',
      itemInfo: '800 руб.'
    }
  ]
}) }}

{{ block('order-swimsuit', {
  class: 'wrapper',
  title: 'Пошив купальника',
  subtitle: 'Предлагаемая нашей компанией аренда купальников для художественной гимнастики позволяет гимнастам при каждом своём выступлении радовать публику новыми образами.',
  items: [
    {
      title: 'Пошив купальника',
      subtitle: 'Быстро и качествено пошьем купальник. ',
      price: "от 5 000 ₽",
      timing: '3-4 дня'
    }
  ]
}) }}

{{ block('catalog', {
  class: 'wrapper wrapper_grey-white wrapper_top',
  title: 'Примеры работ',
  titleCenter: 'title title_center',
  btnText: 'Смотреть еще',
  btnTextPrimary: 'Сделать заказ',
  items: [
    {
      image: 'images/card/7.png',
      itemName: 'Название купальника в две строки',
      itemInfo: '800 руб.',
      label: {color: 'green', info: 'ХИТ'}
    },
    {
      image: 'images/card/7.png',
      itemName: 'Синия сказка',
      itemInfo: '800 руб.',
      label: {color: 'red', info: 'SALE'}
    },
    {
      image: 'images/card/7.png',
      itemName: 'Название купальника в две строки',
      itemInfo: '800 руб.',
      label: {color: 'red', info: '-10%'}
    },
    {
      image: 'images/card/7.png',
      itemName: 'Синия сказка',
      itemInfo: '800 руб.',
      label: {color: 'green', info: 'ХИТ'}
    }
  ]
}) }}

{{ block('additional-service-slider', {
  class: 'wrapper wrapper_white-grey',
  slides: [
    {
      image: 'images/more/4.png',
      text: 'Брендированная одежда'
    },
    {
      image: 'images/more/3.png',
      text: 'Интернет магазин'
    },
    {
      image: 'images/more/2.png',
      text: 'Страхование'
    },
    {
      image: 'images/more/1.png',
      text: 'Прокат и пошив купальников'
    }
  ]
}) }}

{{ block('reviews', {
  class: 'margin',
  buttonText: 'Посмотреть все отзывы'
}) }}

{{ block('questions', {
  class: 'wrapper'
}) }}
