---
title: tournament
layout: page.njk
permalink: tournament.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/tournament.png',
      imageSm: 'images/banner-mobile/8.png',
      title: 'Соревнования и разрядные турниры ',
      list: ['Для детей любого возраста;', 'Для любого уровня подготовки;', 'С первого года обучения;', 'Присвоения спортивных разрядов;', 'Собственная организация соревнований и разрядных турниров.'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    },
    {
      imageSm: 'images/banner-mobile/8.png',
      title: 'Соревнования и разрядные турниры ',
      list: ['Для детей любого возраста;', 'Для любого уровня подготовки;', 'С первого года обучения;', 'Присвоения спортивных разрядов;', 'Собственная организация соревнований и разрядных турниров.'],
      buttonText: 'Узнать подробнее',
      buttonType: 'primary'
    }
  ]
}) }}

{{ block('calendar', {
  class: 'wrapper'
}) }}

{{ block('types-competition', {
  class: 'margin'
}) }}

{{ block('banner-info', {
  class: 'margin',
  imageFull: 'images/banner-info/competitions-lg.png',
  imageSmall: 'images/banner-info/competitions-sm.png',
  title: 'Сопровождение детей на выездных соревнованиях',
  button: 'primary',
  buttonText: 'Подробнее',
  list: [
    'Отвечаем за безопасность;',
    'Экономим Ваше время;',
    'Следим за качеством;'
  ]
}) }}

{{ block('questions', {
  class: 'wrapper'
}) }}

{{ block('part-federations', {
  class: 'wrapper wrapper_top'
}) }}

{{ block('reviews', {
  class: 'margin',
  buttonText: 'Посмотреть все отзывы'
} ) }}

{{ block('moneybox-medals', {
  class: 'wrapper wrapper_grey-white',
  buttonText: 'Хочу медаль'
}) }}

{{ block('students', {
  class: 'margin',
  btnText: 'Хочу стать звездой!',
  title: 'Наши звёзды',
  slides: [
    {image: 'images/carousel-student/1.jpg', itemName: 'Хайрудинова Лейла' },
    {image: 'images/carousel-student/2.jpg', itemName: 'Федина Александра' },
    {image: 'images/carousel-student/3.jpg', itemName: 'Пугачева Виктория' },
    {image: 'images/carousel-student/4.jpg', itemName: 'Захарова Алисия' },
    {image: 'images/carousel-student/5.jpg', itemName: 'Завидонова Варвара' },
    {image: 'images/carousel-student/6.jpg', itemName: 'Ермакова Маргарита' },
    {image: 'images/carousel-student/7.jpg', itemName: 'Дмитрова Ольга' },
    {image: 'images/carousel-student/8.jpg', itemName: 'Панина Ярослава' }
  ]
}) }}

{{ block('additional-service-slider', {
  class: 'wrapper',
  slides: [
    {
      image: 'images/more/4.png',
      text: 'Брендированная одежда'
    },
    {
      image: 'images/more/3.png',
      text: 'Интернет магазин'
    },
    {
      image: 'images/more/2.png',
      text: 'Страхование'
    },
    {
      image: 'images/more/1.png',
      text: 'Прокат и пошив купальников'
    }
  ]
}) }}

