---
title: trainers
layout: page.njk
permalink: trainers.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  list: [ 'Главная', 'Тренеры' ]
}) }}

<div class='coach-staff container typography'><h1>Тренерский состав</h1></div>

{{ block('senior-trainers', {
  class: 'wrapper wrapper_white-grey',
  title: 'Старшие тренеры',
  center: true,
  items: [
    {
      image: 'images/trainers/kristina.png',
      itemName: 'Самойлова Кристина',
      itemInfo: 'МСМК',
      color: 'pink',
      sprite: 'dancer',
      certificate: true,
      position: 'Старший тренер FitnessDeti',
      specialty: 'Художественная гимнастика',
      short: 'short'
    },
    {
      image: 'images/trainers/violetta.png',
      itemName: 'Саркисян Виолетта',
      itemInfo: 'ЗМС',
      color: 'blue',
      sprite: 'gymnast',
      certificate: true,
      position: 'Старший тренер FitnessDeti',
      specialty: 'Спортивная акробатика',
      short: 'short'
    }
  ],
  cards: [
    {sprite: 'trophy-color', title: 'КМС/МС/МСМК'},
    {color: 'purple', sprite: 'thumbs-up', title: 'Опыт больше 2-х лет'},
    {sprite: 'certificate-color', title: 'Спец. образование'}
  ]
}) }}

{{ block('senior-trainers', {
  class: 'wrapper wrapper_white-grey mobile-hide',
  title: 'Старшие тренеры',
  items: [
    {
      image: 'images/trainers/kristina.png',
      itemName: 'Самойлова Кристина',
      color: 'pink',
      sprite: 'dancer',
      certificate: true,
      position: 'Старший тренер FitnessDeti',
      specialty: 'Художественная гимнастика',
      short: 'short',
      direction: 'left'
    },
    {
      image: 'images/trainers/violetta.png',
      itemName: 'Саркисян Виолетта',
      color: 'blue',
      sprite: 'gymnast',
      certificate: true,
      position: 'Старший тренер FitnessDeti',
      specialty: 'Спортивная акробатика',
      short: 'short',
      direction: 'right'
    }
  ],
  cards: [
    {sprite: 'trophy-color', title: 'КМС/МС/МСМК'},
    {color: 'purple', sprite: 'thumbs-up', title: 'Опыт больше 2-х лет'},
    {sprite: 'certificate-color', title: 'Спец. образование'}
  ]
}) }}

{{ block('senior-trainers', {
  class: 'wrapper wrapper_white-grey mobile-hide',
  title: 'Старшие тренеры',
  items: [
    {
      image: 'images/trainers/kristina.png',
      itemName: 'Самойлова Кристина',
      color: 'pink',
      sprite: 'dancer',
      certificate: true,
      position: 'Старший тренер FitnessDeti',
      specialty: 'Художественная гимнастика',
      short: 'short',
      direction: 'right'
    },
    {
      image: 'images/trainers/violetta.png',
      itemName: 'Саркисян Виолетта',
      color: 'blue',
      sprite: 'gymnast',
      certificate: true,
      position: 'Старший тренер FitnessDeti',
      specialty: 'Спортивная акробатика',
      short: 'short',
      direction: 'right'
    }
  ],
  cards: [
    {sprite: 'trophy-color', title: 'КМС/МС/МСМК'},
    {color: 'purple', sprite: 'thumbs-up', title: 'Опыт больше 2-х лет'},
    {sprite: 'certificate-color', title: 'Спец. образование'}
  ]
}) }}

{{ block('trainers', {
  class: 'margin',
  items: [
    {
      image: 'images/trainers/anna.png',
      itemName: 'Лау Анна',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      discipline: 'gymnastic'
    },
    {
      image: 'images/trainers/yulia.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer',
      discipline: 'acrobatic'
    },
    {
      image: 'images/trainers/olga.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      discipline: 'gymnastic',
      certificate: true
    },
    {
      image: 'images/trainers/dasha.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'dancer',
      discipline: 'acrobatic'
    },
    {
      image: 'images/trainers/anna.png',
      itemName: 'Лау Анна',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      discipline: 'gymnastic'
    },
    {
      image: 'images/trainers/yulia.png',
      itemName: 'Крумкачева Юлия',
      itemInfo: 'ЗМС',
      sprite: 'dancer',
      discipline: 'acrobatic'
    },
    {
      image: 'images/trainers/olga.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'gymnast',
      discipline: 'gymnastic',
      certificate: true
    },
    {
      image: 'images/trainers/dasha.png',
      itemName: 'Федорова Ольга',
      itemInfo: 'МСМК',
      sprite: 'dancer',
      discipline: 'acrobatic'
    }
  ]
}) }}

{{ block('internal-training', {
  class: 'wrapper',
  titlePosition: 'center',
  title: 'Внутреннее обучение и сертификация тренеров',
  btnText: 'Попасть на тренировку',
  items: [
    {text: '<b>Коммуникация</b> тренера с родителем и ребёнком', icon: 'friend'},
    {text: 'Тренировочный процесс и <b>безопасность.', icon: 'medical-insurance'},
    {text: '<b> Единая Всероссийская спортивная классификация (ЕВСК)</b> и классификационные программы.', icon: 'trophy-2'}
  ]
}) }}

{{ block('moneybox-medals', {
  class: 'margin'
}) }}

{{ block('students', {
  class: 'margin',
  btnText: 'Хочу стать звездой!',
  title: 'Наши звёзды',
  slides: [
    {image: 'images/carousel-student/1.jpg', itemName: 'Хайрудинова Лейла' },
    {image: 'images/carousel-student/2.jpg', itemName: 'Федина Александра' },
    {image: 'images/carousel-student/3.jpg', itemName: 'Пугачева Виктория' },
    {image: 'images/carousel-student/4.jpg', itemName: 'Захарова Алисия' },
    {image: 'images/carousel-student/5.jpg', itemName: 'Завидонова Варвара' },
    {image: 'images/carousel-student/6.jpg', itemName: 'Ермакова Маргарита' },
    {image: 'images/carousel-student/7.jpg', itemName: 'Дмитрова Ольга' },
    {image: 'images/carousel-student/8.jpg', itemName: 'Панина Ярослава' }
  ]
}) }}

{{ block('additional-service-slider', {
  class: 'wrapper mobile-hide',
  slides: [
    {
      image: 'images/more/4.png',
      text: 'Брендированная одежда'
    },
    {
      image: 'images/more/3.png',
      text: 'Интернет магазин'
    },
    {
      image: 'images/more/2.png',
      text: 'Страхование'
    },
    {
      image: 'images/more/1.png',
      text: 'Прокат и пошив купальников'
    }
  ]
}) }}

