---
title: trainers gymnastic
layout: page.njk
permalink: trainers-gymnastic.html
---

{%- from "system/block.njk" import block -%}

{{ block('breadcrumbs', {
  list: [ 'Главная', 'Тренеры', 'Самойлова Кристина Вадимовна' ]
}) }}

{{ block('trainer-profile', {
  coach: {
    image: 'images/trainers/kristina-lg.png',
    name: 'Кристина Вадимовна',
    color: 'pink',
    sprite: 'dancer',
    position: 'Старший тренер FitnessDeti',
    specialty: 'Художественная гимнастика',
    certificate: true,
    medals: 108,
    childrens: 1352,
    levels: 35
  }
}) }}

{{ block('kpi', {
  class: 'margin desktop-hide',
  items: [
    {
      color: 'red',
      sprite: 'medal',
      amount: '1200',
      title: 'Медалей получено',
      titleMobile: 'Медалей'
    },
    {
      color: 'green',
      sprite: 'ribbon',
      amount: '900',
      title: 'Разрядов по всей школе',
      titleMobile: 'Разрядов'
    },
    {
      color: 'purple',
      sprite: 'children',
      amount: '5200',
      title: 'Детей обучено за 10 лет',
      titleMobile: 'Детей'
    }
  ]
}) }}

{{ block('resume', {
  class: 'margin'
}) }}

{{ block('trainer-offices', {
  class: 'wrapper wrapper_white-grey',
  title: 'Тренер ведет в отделениях'
}) }}

{{ block('gallery', {
  class: 'margin',
  title: 'Тренер в работе',
  images: [
    'images/work-trainer/1.png',
    'images/work-trainer/2.png',
    'images/work-trainer/3.png',
    'images/work-trainer/4.png'
  ]
}) }}

{{ block('students', {
  class: 'margin',
  btnText: 'Стать воспитанником',
  title: 'Ученики тренера',
  slides: [
    {image: 'images/carousel-student/1.jpg', itemName: 'Хайрудинова Лейла' },
    {image: 'images/carousel-student/2.jpg', itemName: 'Федина Александра' },
    {image: 'images/carousel-student/3.jpg', itemName: 'Пугачева Виктория' },
    {image: 'images/carousel-student/4.jpg', itemName: 'Захарова Алисия' },
    {image: 'images/carousel-student/5.jpg', itemName: 'Завидонова Варвара' },
    {image: 'images/carousel-student/6.jpg', itemName: 'Ермакова Маргарита' },
    {image: 'images/carousel-student/7.jpg', itemName: 'Дмитрова Ольга' },
    {image: 'images/carousel-student/8.jpg', itemName: 'Панина Ярослава' }
  ]
}) }}
