---
title: vacancy
layout: page.njk
permalink: vacancy.html
---

{%- from "system/block.njk" import block -%}

{{ block('banner-gymnastic', {
  slides: [
    {
      imageFull: 'images/banner-gymnastic/certification.png',
      imageSm: 'images/banner-mobile/18.png',
      title: 'Стань тренером FitnessDeti',
      list: ['Официальное трудоустройство по ТК РФ;', 'Высокая з/п от 1000р/час;', 'Возможность вывозить детей на соревнования;', 'Бесплатное обучение (семинары) внутри FitnessDeti;'],
      buttonText: 'Узнать подробности',
      buttonType: 'primary'
    },
    {
      imageSm: 'images/banner-mobile/18.png',
      title: 'Стань тренером FitnessDeti',
      list: ['Официальное трудоустройство по ТК РФ;', 'Высокая з/п от 1000р/час;', 'Возможность вывозить детей на соревнования;', 'Бесплатное обучение (семинары) внутри FitnessDeti;'],
      buttonText: 'Узнать подробности',
      buttonType: 'primary'
    }
  ]
}) }}

{{ block('job-application', {
  class: 'margin'
}) }}

{{ block('part-federations', {
  class: 'wrapper'
}) }}
