{%- from "system/block.njk" import block -%}

<footer class='footer'>
  <div class='footer__up'>
    <div class='footer__up-container container'>
      <div class='footer__column footer__fitness'>
        <a href='' class='footer__logo a-clear'>
          <picture>
            <source media='(max-width: 599px)' srcset='images/logo-small.svg' />
            <source media='(min-width: 600px)' srcset='images/logo-full.svg' />
            <img width='172' height='50' loading="lazy" src='images/logo-full.svg' alt='Логотип Фитнес Дети' />
          </picture>
        </a>
        <div class='footer__address'>
          <a href='#!' class='a-clear footer__icon'>
            <svg width='17' height='17'>
              <use xlink:href='sprite.svg#pin'></use>
            </svg>
          </a>
          <a href='#!' class='a-clear footer__icon footer__icon_navigation'>
            <svg width='14' height='14'>
              <use xlink:href='sprite.svg#navigation'></use>
            </svg>
          </a>
          <a href='#!' class='a-clear footer__address-dotted'>Адреса школ</a>
        </div>
        <div class='footer__telephone'>
          <a href='#!' class='a-clear footer__icon'>
            <svg width='17' height='17'>
              <use xlink:href='sprite.svg#telephone'></use>
            </svg>
          </a>
          <a href='tel:+74959894534' class='a-clear'>+7 (495) 989-45-34</a>
        </div>
        <div class='footer__email'>
          <a href='#!' class='a-clear footer__icon'>
            <svg width='17' height='17'>
              <use xlink:href='sprite.svg#email'></use>
            </svg>
          </a>
          <a href='mailto:FitnessDeti@fitnessDeti.ru' class='a-clear'>FitnessDeti@fitnessDeti.ru</a>
        </div>
        <div class='footer__socials'>
          <a href='https://www.youtube.com/channel/UCbEowEEDsmubFI-911l-zqw' class='footer__social a-clear'>
            <svg width='21' height='21'>
              <use xlink:href='sprite.svg#youtube'></use>
            </svg>
          </a>
          <a href='https://www.instagram.com/fitnessdeti/?hl=ru' class='footer__social a-clear'>
            <svg width='18' height='18'>
              <use xlink:href='sprite.svg#instagram'></use>
            </svg>
          </a>
          <a href='https://www.facebook.com/fitnessdeti/' class='footer__social a-clear'>
            <svg width='21' height='21'>
              <use xlink:href='sprite.svg#facebook'></use>
            </svg>
          </a>
          <a href='https://vk.com/id529173490' class='footer__social a-clear'>
            <svg width='21' height='21'>
              <use xlink:href='sprite.svg#vk'></use>
            </svg>
          </a>
          <a href='https://www.tiktok.com/foryou?lang=ru-RU&is_copy_url=1&is_from_webapp=v1' class='footer__social a-clear'>
            <svg width='21' height='21'>
              <use xlink:href='sprite.svg#tik-tok'></use>
            </svg>
          </a>
        </div>
      </div>
      <div class='footer__column footer__services'>
        <div class='footer__title js-footer__title'>
          Услуги
          <svg class='footer__title-icon' width='7' height='12'>
            <use xlink:href='sprite.svg#arrow'></use>
          </svg>
        </div>
        <nav class='footer__submenu'>
          <ul class='footer__content footer__services-content ul-clear'>
            <li class='footer__item'><a href='' class='a-clear'>Художественная гимнастика</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Спортивная акробатика</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Индивидуальные тренировки</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Постановка программ</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Спортивное страхование</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Мастер-классы</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Пошив и аренда купальников</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Фотосессии</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Интернет магазин</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Спецпредложения </a></li>
          </ul>
        </nav>
      </div>
      <div class='footer__column'>
        <div class='footer__title js-footer__title'>
          О школе FitnessDeti
          <svg class='footer__title-icon' width='7' height='12'>
            <use xlink:href='sprite.svg#arrow'></use>
          </svg>
        </div>
        <nav class='footer__submenu'>
          <ul class='footer__content ul-clear'>
            <li class='footer__item'><a href='' class='a-clear'>История</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Миссия и цели</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Талисман</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Сборная FitnessDeti</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Звёзды FitnessDeti</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Тренеры</a></li>
          </ul>
        </nav>
      </div>
      <div class='footer__column'>
        <div class='footer__title js-footer__title'>
          Мероприятия
          <svg class='footer__title-icon' width='7' height='12'>
            <use xlink:href='sprite.svg#arrow'></use>
          </svg>
        </div>
        <nav class='footer__submenu'>
          <ul class='footer__content ul-clear'>
            <li class='footer__item'><a href='' class='a-clear'>Соревнования</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Разряды</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Сборы</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Корпоративные походы</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Экзамены и программы</a></li>
            <li class='footer__item'><a href='' class='a-clear'>Сертификация и обучение</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class='footer__down'>
    <div class='footer__down-container container'>
      <div class='footer__down-company'>Фитнес Дети, 2013 - 2021 ©</div>
      <a href='' class='footer__down-policy a-clear'>Политика конфиденциальности</a>
      <a href='' class='footer__down-policy a-clear'>Правила безопасности</a>
    </div>
  </div>
</footer>

<div id='fancy-cities' class='fancy-cities' hidden>
  <div class='fancy-cities__inner'>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#moscow'></use></svg>Москва</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#spb'></use></svg>Санкт-Петербург</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#nnovgorod'></use></svg>Нижний Новород</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#sochi'></use></svg>Сочи</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#moscow'></use></svg>Москва</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#spb'></use></svg>Санкт-Петербург</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#nnovgorod'></use></svg>Нижний Новород</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#sochi'></use></svg>Сочи</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#moscow'></use></svg>Москва</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#spb'></use></svg>Санкт-Петербург</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#nnovgorod'></use></svg>Нижний Новород</a>
    <a href='#!' class='fancy-cities__item a-clear'><svg width="44" height="44"><use xlink:href='sprite.svg#sochi'></use></svg>Сочи</a>
  </div>
</div>

<div id='fancy-modal' class='fancy-modal js-fancy-modal typography' hidden>
  <h2 class='title title_center js-heading'>Пробное занятие</h2>
  <div class='fancy-modal__subtitle js-leading'>Оставьте ваши данные, чтобы записаться на бесплатное пробное занятие</div>
  <form action='' class='fancy-modal__form '>
    {{ block('form-text', { type: 'text', placeholder: 'Ваше имя', name: 'firstname' }) }}
    {{ block('form-text', { type: 'tel', placeholder: '+7 (___) ___ - __ - __', name: 'tel' }) }}
    {{ block('form-input', { label: 'Даю <a href="#!" class="a-clear fancy-modal__link"> согласие </a> на обработку персональных данных', type: 'checkbox' }) }}
    <button class='btn btn_type_accent fancy-modal__btn'>Отправить</button>
    <input name='source' class='js-source' type='hidden'>
  </form>
</div>

<div id='fancy-modal-success' hidden>
  <h2>Спасибо за ваше обращение!</h2>
</div>

<div id='fancy-modal-error' hidden>
  <h2>Произошла ошибка при отправке формы, но вы всегда можете нам позвонить.</h2>
</div>
