<header class='header'>
  <div class='header__top'>
    <div class='header__container container'>
      <a href='' class='header__logo a-clear'>
        <picture>
          <source media='(max-width: 599px)' srcset='images/logo-small.svg' />
          <source media='(min-width: 600px)' srcset='images/logo-full.svg' />
          <img width='172' height='50' loading="lazy" src='images/logo-full.svg' alt='Логотип Фитнес Дети' />
        </picture>
      </a>
      <div class='header__region'>
        <svg class='header__region-icon' width='18' height='18'>
          <use xlink:href='sprite.svg#navigation'></use>
        </svg>
        <button id='header__region-city' class='header__region-city a-clear' data-fancybox  data-src='#fancy-cities'>Санкт-Петербург</button>
      </div>
      <div class='header__socials'>
        <a href='https://www.instagram.com/fitnessdeti/?hl=ru' target='_blank' class='header__social a-clear'>
          <svg width='18' height='18'>
            <use xlink:href='sprite.svg#instagram'></use>
          </svg>
        </a>
        <a href='https://wa.me/fitnessdeti' target='_blank' class='header__social a-clear'>
          <svg width='18' height='18'>
            <use xlink:href='sprite.svg#whatsapp'></use>
          </svg>
        </a>
        <a href="https://telegram.me/fitnessdeti" target='_blank' class='header__social a-clear'>
          <svg width='18' height='18'>
            <use xlink:href='sprite.svg#telegram'></use>
          </svg>
        </a>
      </div>
      <div class='header__tel'><a href='tel:+74951897044' data-fancybox data-src="#fancy-call-me" class='a-clear'>+7 (495) 189 70 44</a></div>
      <div class='header__button-wrapper'>
        <button class='btn btn_type_accent header__button js-form-modal-trigger'
                data-form-source='скрытое поле'
                data-form-heading=''
                data-form-leading=''>Позвоните мне
        </button>
      </div>
    </div>
  </div>
  <div class='header__bottom'>
    <div class='navigation'>
      <div class='navigation__container container'>
        <nav>
          <ul class='navigation__menu ul-clear'>
             <li class='navigation__menu-item '>
               <a href='' class='a-clear navigation__menu-link '>О школе </a>
               <ul class='navigation__submenu  ul-clear'>
                 <li class='navigation__submenu-item'><a href='' class='a-clear'>О школе</a></li>
                 <li class='navigation__submenu-item'><a href='' class='a-clear'>Будущее спорта</a></li>
                 <li class='navigation__submenu-item'><a href='' class='a-clear'>История школы</a></li>
               </ul>
             </li>
             <li class='navigation__menu-item '><a href='' class='a-clear'>Акции </a></li>
             <li class='navigation__menu-item '>
               <a href='' class='a-clear navigation__menu-link '>Услуги </a>
               <ul class='navigation__submenu  ul-clear'>
                 <li class='navigation__submenu-item'><a href='' class='a-clear'>Художественная гимнастика</a></li>
                 <li class='navigation__submenu-item'><a href='' class='a-clear'>Спортивная акробатика</a></li>
                 <li class='navigation__submenu-item'><a href='' class='a-clear'>Подготовительные группы</a></li>
               </ul>
             </li>
             <li class='navigation__menu-item '><a href='' class='a-clear'>Расписание </a></li>
             <li class='navigation__menu-item '><a href='' class='a-clear'>Адреса школ </a></li>
             <li class='navigation__menu-item '><a href='' class='a-clear'>Тренерский состав </a></li>
             <li class='navigation__menu-item '><a href='' class='a-clear'>Соревнования</a></li>
             <li class='navigation__menu-item '><a href='' class='a-clear'>Сборы и мероприятия</a></li>

            <li class='navigation__menu-item'><a href='{{ 'index.html' | url }}' class='a-clear'>index.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'gymnastic.html' | url }}' class='a-clear'>gymnastic.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'acrobatic.html' | url }}' class='a-clear'>acrobatic.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'children.html' | url }}' class='a-clear'>children.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'personal-training.html' | url }}' class='a-clear'>personal-training.html</a>
            </li>
            <li class='navigation__menu-item'><a href='{{ 'online.html' | url }}' class='a-clear'>online.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'insurance.html' | url }}' class='a-clear'>insurance.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'swimsuits.html' | url }}' class='a-clear'>swimsuits.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'cup.html' | url }}' class='a-clear'>cup.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'tournament.html' | url }}' class='a-clear'>tournament.html</a>
            </li>
            <li class='navigation__menu-item'><a href='{{ 'trainers.html' | url }}' class='a-clear'>trainers.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'trainers-gymnastic.html' | url }}' class='a-clear'>trainers-gymnastic.html</a>
            </li>
            <li class='navigation__menu-item'><a href='{{ 'address.html' | url }}' class='a-clear'>address.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'school.html' | url }}' class='a-clear'>school.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'sales.html' | url }}' class='a-clear'>sales.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'sale50.html' | url }}' class='a-clear'>sale50.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'about.html' | url }}' class='a-clear'>about.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'about-future.html' | url }}' class='a-clear'>about-future.html</a>
            </li>
            <li class='navigation__menu-item'><a href='{{ 'setting.html' | url }}' class='a-clear'>setting.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'master-classes.html' | url }}'
                                            class='a-clear'>master-classes.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'photoshoot.html' | url }}' class='a-clear'>photoshoot.html</a>
            </li>
            <li class='navigation__menu-item'><a href='{{ 'certification.html' | url }}'
                                            class='a-clear'>certification.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'branded-form.html' | url }}' class='a-clear'>branded-form.html</a>
            </li>
            <li class='navigation__menu-item'><a href='{{ 'exam.html' | url }}' class='a-clear'>exam.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'loyalty.html' | url }}' class='a-clear'>loyalty.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'vacancy.html' | url }}' class='a-clear'>vacancy.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'reviews.html' | url }}' class='a-clear'>reviews.html</a></li>
            <li class='navigation__menu-item'><a href='{{ 'history.html' | url }}' class='a-clear'>history.html</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>

