.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 16px;
  font-family: inherit;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;

  &_type {
    &_primary {
      background: var(--color-green);

      &:hover {
        background-color: var(--color-green-dark);
      }
    }

    &_secondary {
      color: var(--color-green);
      background-color: rgba(46, 184, 0, 0.12);

      &:hover {
        color: var(--color-white);
        background-color: var(--color-green-dark);
      }
    }

    &_secondary-white {
      color: var(--color-green);
      background-color: var(--color-white);
      border: 1px solid var(--color-green);
    }

    &_accent {
      background-color: var(--color-red);

      &:hover {
        background-color: var(--color-red-strong);
      }
    }

    &_accent-secondary {
      color: var(--color-red);
      border: 1px solid var(--color-red);

      &:hover {
        color: var(--color-white);
        background-color: var(--color-red);
      }
    }

    &_oval {
      border-radius: 24px;
    }
  }

  &_size {
    &_xs {
      padding: 6px 10px;
      font-size: 15px;
    }

    &_sm {
      padding: 14px 20px;
      font-size: 14px;
    }
  }

  &[disabled] {
    background-color: #c2c3c9;
  }

  @media (max-width: 768px) {
    padding: 14px;
    font-size: 14px;
  }
}
