body {
  margin: 0;
  color: var(--color-black);
  font-size: 15px;
  font-family: var(--font-family-main);
  line-height: 1.6;
  background: var(--color-white);
}

html {
  scroll-behavior: smooth;
}
