.search {
  display: flex;

  input {
    flex-grow: 1;
    padding-right: 10px;
    padding-left: 20px;
    font-family: inherit;
    background: var(--color-grey-blue-light);
    border: 2px solid transparent;
    border-radius: 4px 0 0 4px;

    &::placeholder {
      opacity: 0.5;
    }

    &:focus {
      &::placeholder {
        opacity: 0.3;
      }
    }
  }

  button {
    border-radius: 0 4px 4px 0;
  }
}
