.h1,
.typography h1 {
  margin: 0;
  font-weight: 600;
  font-size: 42px;
  line-height: 1.36;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.h2,
.typography h2 {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.36;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.h3,
.typography h3 {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.36;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

.h4,
.typography h4 {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.36;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.typography {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      position: relative;
      padding-left: 14px;

      &::before {
        position: absolute;
        top: 8px;
        left: 0;
        width: 6px;
        height: 6px;
        background-color: var(--dot-color);
        border-radius: 50%;
        content: '';
      }
    }
  }

  .ul-clear {
    li {
      padding: 0;

      &::before {
        content: none;
      }
    }
  }
}
