:root {
  --font-family-main: 'Nunito', sanf-serif;
  --color-black: #313131;
  --color-green: #2eb800;
  --color-green-dark: #37a712;
  --color-red: #e73625;
  --color-red-strong: #d63323;
  --color-white: #fff;
  --color-grey: #878787;
  --color-blue-soft: #6dc5ea;
  --color-grey-blue: #59626b;
  --color-grey-blue-light: #f5f5f6;
  --color-grey-light: #e0e0e0;
  --color-purple: #985fbe;
  --color-pink: #fb57c7;
  --dot-color: var(--color-green);
  --active: var(--color-green);
  --active-inner: var(--color-white);
  --focus: rgba(46, 184, 0, 0.3);
  --border: #bbc1e1;
  --border-hover: var(--color-green);
  --disabled: #f6f8ff;
}
