.wrapper {
  --background-color: 245, 245, 246;

  padding: 80px 0;
  background: rgb(var(--background-color));

  &_white-grey {
    --background-color: var(--color-white);

    margin: 80px 0;
    padding: 0;
  }

  &_top {
    padding-top: 0;
  }

  &_bottom {
    padding-bottom: 0;
  }

  @media (max-width: 768px) {
    padding: 40px 0;

    &_grey-white {
      --background-color: var(--color-white);

      margin: 40px 0;
      padding: 0;
    }

    &_white-grey {
      --background-color: 245, 245, 246;

      margin: 0;
    }

    &_top {
      padding-top: 0;
    }

    &_bottom {
      padding-bottom: 0;
    }
  }
}
