<div class='about-company-item swiper-slide '>
  <a href='#!' class='a-clear about-company-item__image'><img loading="lazy" width='165' height='130' src={{ params.image}} alt=''></a>
  <div class='about-company-item__bottom'>
    <a class='about-company-item__link a-clear'> {{ params.link }}
      <svg width='22' height='27'>
        <use xlink:href='sprite.svg#arrow-right'></use>
      </svg>
    </a>
  </div>
</div>
