<div class='about-company {{ params.class }}'>
  <div class='container typography'>
    <h2 class='about-company__title'>О компании</h2>
    <div class='about-company__inner'>
      {% for item in params.items %}
        {{ block('about-company-item', {
          image: item.image,
          link: item.link
        }) }}
      {% endfor %}
    </div>
  </div>
</div>
