<div class='about-company-second {{ params.class }}'>
  <div class='container typography'>
    <h2 class='about-company-second__title'>О компании</h2>
    <div class='about-company-second__inner'>
      <a href='#!' class='a-clear about-company-second__item'>
        <img loading="lazy" width='165' height='130' src='images/about-company/1.png' alt=''>
        <div class='about-company-second__text a-clear'>История компании</div>
      </a>
      <a href='#!' class='a-clear about-company-second__item'>
        <img loading="lazy" width='165' height='130' src='images/about-company/2.png' alt=''>
        <div class='about-company-second__text a-clear'>Будщее спорта</div>
      </a>
      <a href='#!' class='a-clear about-company-second__item'>
        <img loading="lazy" width='165' height='130' src='images/about-company/3.png' alt=''>
        <div class='about-company-second__text a-clear'>Подбор тренера</div>
      </a>
      <a href='#!' class='a-clear about-company-second__item'>
        <img loading="lazy" width='165' height='130' src='images/about-company/4.png' alt=''>
        <div class='about-company-second__text a-clear'>Акции и спец предложения</div>
      </a>
      <a href='#!' class='a-clear about-company-second__item'>
        <img loading="lazy" width='165' height='130' src='images/about-company/5.png' alt=''>
        <div class='about-company-second__text a-clear'>Программа лояльности</div>
      </a>
      <a href='#!' class='a-clear about-company-second__item'>
        <img loading="lazy" width='165' height='130' src='images/about-company/6.png' alt=''>
        <div class='about-company-second__text a-clear'>Вакансии</div>
      </a>

    </div>
  </div>
</div>
