<a href='#!' class='a-clear additional-service__item swiper-slide'>
  <div class='additional-service__image'>
    <img loading="lazy" width='124' height='124' src={{ params.image}} alt='' />
  </div>
  <div class='additional-service__text'>{{ params.text }}</div>
</a>

