<div class='additional-service {{ params.class }}'>
  <div class='additional-service__container container typography'>
    <h2 class='additional-service__title'>Дополнительные услуги</h2>
    {{ block('carousel', {
      block: 'additional-service-slide',
      type: 'general',
      shadow: true,
      slides: [
        {
          image: 'images/more/4.png',
          text: 'Брендированная одежда'
        },
        {
          image: 'images/more/3.png',
          text: 'Интернет магазин'
        },
        {
          image: 'images/more/2.png',
          text: 'Страхование'
        },
        {
          image: 'images/more/1.png',
          text: 'Прокат и пошив купальников'
        },
        {
          image: 'images/more/4.png',
          text: 'Брендированная одежда'
        },
        {
          image: 'images/more/3.png',
          text: 'Интернет магазин'
        },
        {
          image: 'images/more/2.png',
          text: 'Страхование'
        },
        {
          image: 'images/more/1.png',
          text: 'Прокат и пошив купальников'
        }
      ]
    }) }}
  </div>
</div>
