<div class='all-promotions {{ params.class }}'>
  <div class='container all-promotions__container'>
    <div class='all-promotions__content typography'>
      <h2 class='all-promotions__title'>Акции</h2>
      <div class='all-promotions__text'>
        <div>Текст об акциях в несколько строчек.</div>
        <div>У нас есть большие скидки.</div>
      </div>
      <a href='' class='a-clear btn btn_type_primary all-promotions__btn'>Смотреть все акции</a>
    </div>
    <picture class='all-promotions__image'>
      <source media='(max-width: 768px)' srcset='images/see-all/1.png' />
      <source media='(min-width: 769px)' srcset='images/see-all/2.png' />
      <img loading="lazy" width='1200' height='370' src='images/see-all/2.png' alt='' />
    </picture>

    <div class='all-promotions__to-main'>
      <button class='btn btn_type_secondary all-promotions__to-main-btn'>На главную</button>
    </div>
  </div>
</div>
