<div class='banner'>
  <div class='banner__bg'>
    <img width='1920' height='500' loading="lazy" src='images/banner.png' alt='' />
  </div>
  <div class='banner__container container typography'>
    <div class='banner__content'>
      <h1 class='banner__title'>{{ params.title }}</h1>
      <div class='banner__text'>{{ params.text }}</div>
      <button data-fancybox data-src="#fancy-request" class='btn btn_type_accent banner__button'>Пробное занятие</button>
    </div>
    <div class='banner__watch'>
      {{ block('watch-btn', {
        link: 'https://www.youtube.com/watch?v=8ExCb8rQ5jI'
      }) }}
    </div>
    <div class='banner__icon'>
      <svg width='175' height='115'>
        <use href='sprite.svg#watch-up'></use>
      </svg>
    </div>
  </div>
</div>

<div class='banner-second'>
  <div class='container typography banner-second__container'>
    <div class='banner-second__bg'>
      <img loading="lazy" width='1920' height='208' src='images/banner/banner-second.png' alt=''>
    </div>
    <div class='banner-second__inner'>
      <div class='banner-second__content'>
        <h1>Сеть детских спортшкол</h1>
        <div class='banner-second__subtitle'>По художественной гимнастике и акробатике</div>
        <button data-fancybox data-src="#fancy-request" class='btn btn_type_accent banner-second__btn'>Пробное занятие</button>
      </div>
      <div class='banner-second__watch'>
        {{ block('watch-btn', {
          link: 'https://www.youtube.com/watch?v=8ExCb8rQ5jI'
        }) }}
        <svg class='banner-second__icon' width='175' height='115'>
          <use href='sprite.svg#watch-up'></use>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class='banner-third'>
  <div class='container typography banner-third__container'>
    <div class='banner-third__bg'>
      <img loading="lazy" width='1920' height='500' src='images/banner.png' alt=''>
    </div>
    <div class='banner-third__inner'>
      <div class='banner-third__content'>
        <h1>Сеть детских спортшкол</h1>
        <div class='banner-third__subtitle'>По художественной гимнастике и акробатике</div>
        <button data-fancybox data-src="#fancy-request" class='btn btn_type_accent banner-third__btn'>Пробное занятие</button>
      </div>
      <div class='banner-third__watch'>
        {{ block('watch-btn', {
          link: 'https://www.youtube.com/watch?v=8ExCb8rQ5jI'
        }) }}
        <svg class='banner-third__icon' width='175' height='115'>
          <use href='sprite.svg#watch-down'></use>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class='banner-fourth'>
  {{ block('banner-gymnastic', {
    slides: [
      {
        imageFull: 'images/banner-gymnastic/index.png',
        imageSm: 'images/banner-mobile/1.png',
        title: 'Сеть детских спортшкол',
        buttonType: 'accent',
        text: 'По художественной гимнастике и акробатике',
        buttonText: 'Пробное занятие'
      }
    ]
  }) }}
</div>
