<div class='banner-info {{ params.class }} banner-info_{{ params.side }}'>
  <div class='banner-info__container container'>
    <picture class='banner-info__image'>
      <source media='(max-width: 1024px)' srcset={{ params.imageSmall }} />
      <source media='(min-width: 1025px)' srcset={{ params.imageFull }} />
      <img width='1200' height='370' loading="lazy" src={{ params.imageFull }} alt='' />
    </picture>
    <div class='banner-info__content typography'>
      <h2 class='banner-info__title'>{{ params.title }}</h2>
      <div class='banner-info__text'>
        {% if params.list %}
            <ul class='ul-clear'>
              {% for li in params.list  %}
                <li>{{ li }}</li>
              {% endfor %}
            </ul>
        {% else %}
          {{ params.text }}
        {% endif %}
      </div>
      <a href='' data-fancybox data-src="#fancy-request" class='a-clear btn btn_type_{{ params.button}} banner-info__btn'>{{ params.buttonText }}</a>
    </div>
  </div>
</div>
