<div class='banner-gymnastic-slide swiper-slide'>
  <picture class='banner-gymnastic-slide__image'>
    <source media='(max-width: 767px)' srcset={{ params.imageSm }} />
    <source media='(min-width: 768px)' srcset={{ params.imageFull }} />
    {% if params.imageFull %}
    <img width='1920' height='600' loading="lazy" src={{ params.imageFull }} alt='' />
    {% else %}
    <img width='375' height='623' loading="lazy" src={{ params.imageSm }} alt='' />
    {% endif %}
  </picture>
  <div class='banner-gymnastic-slide__container container'>
    <div class='banner-gymnastic-slide__content typography'>
      <div class='banner-gymnastic-slide__title banner-gymnastic-slide__title_{{ params.titleColor}} h1'>{{ params.title }}</div>
      <div class='banner-gymnastic-slide__text'>
        {% if params.list %}
          <ul class='ul-clear'>
            {% for li in params.list %}
              <li class='dot-li'>{{ li }}</li>
            {% endfor %}
          </ul>
        {% else %}
          {{ params.text }}
        {% endif %}
      </div>
      {% if params.buttonText %}
        <div class='banner-gymnastic-slide__btn-group'>
          <button data-fancybox data-src="#fancy-request" class='btn btn_type_{{ params.type}} banner-gymnastic-slide__btn'>{{ params.buttonText }}</button>
          {% if params.buttonTextSecond %}
            <button class='btn btn_type_accent-secondary banner-gymnastic-slide__btn'>{{ params.buttonTextSecond }}</button>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
</div>
