<div class="banner-gymnastic" data-swiper-type='bannerGymnastic'>
  <div class='banner-gymnastic__slider swiper'>
    <div class='banner-gymnastic__wrapper swiper-wrapper'>
      {% for slide in params.slides %}
        {{ block('banner-gymnastic-slide', {
          imageFull: slide.imageFull,
          imageSm: slide.imageSm,
          title: slide.title,
          titleColor: slide.titleColor,
          text: slide.text,
          list: slide.list,
          buttonText: slide.buttonText,
          buttonTextSecond: slide.buttonTextSecond,
          type: slide.buttonType
        }) }}
      {% endfor %}
    </div>
    <div class='swiper-pagination'></div>
  </div>
</div>
