<div class='block-three-card {{ params.class }}'>
  <div class='block-three-card__container container typography'>
    {% if params.title %}
      <h2>{{ params.title }}</h2>
    {% endif %}
    {% for card in params.cards %}
      {{ block('card', {
        title: card.title,
        imageMd: card.imageMd,
        list: card.list,
        text: card.text,
        buttonText: card.buttonText,
        class: card.class
      }) }}
    {% endfor %}
  </div>
</div>
