<div class="bottom-bar fixed">
  <div class="bottom-bar__container container">
    <a href="" class="bottom-bar__item a-clear">
      <svg class="bottom-bar__icon" width="22" height="22">
        <use xlink:href="sprite.svg#placeholder"></use>
      </svg>
      <div class="bottom-bar__title">Адреса</div>
    </a>
    <a href="" class="bottom-bar__item a-clear">
      <svg class="bottom-bar__icon" width="22" height="22">
        <use xlink:href="sprite.svg#ribbon"></use>
      </svg>
      <div class="bottom-bar__title">Акции</div>
    </a>
    <div class="bottom-bar__item bottom-bar__menu a-clear">
      <div class="bottom-bar__menu-inner">
        <a href="#my-menu" class="bottom-bar__menu-btn btn a-clear">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="bottom-bar__title">Меню</div>
      </div>
    </div>
    <a href="" class="bottom-bar__item a-clear">
      <svg class="bottom-bar__icon" width="22" height="22">
        <use xlink:href="sprite.svg#telephone"></use>
      </svg>
      <div class="bottom-bar__title">Позвонить</div>
    </a>
    <a href="" class="bottom-bar__item a-clear">
      <svg class="bottom-bar__icon" width="22" height="22">
        <use xlink:href="sprite.svg#edit"></use>
      </svg>
      <div class="bottom-bar__title">Запись</div>
    </a>
  </div>
</div>
