<div class='breadcrumbs {{ params.class }}'>
  <div class='container'>
    <ul class='ul-clear breadcrumbs__inner'>
      {% for li in params.list %}
        <li class='breadcrumbs__item'><a href='' class='a-clear'>{{ li }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
