<div class='calculator {{ params.class }}'>
  <div class='container typography'>
    <div class='calculator__subtitle'>
      <div class='calculator__subtitle-item'>Рассчитать стоимость тренировок, которые подходят Вашему ребенку можно через «Калькулятор стоимости занятий».</div>
      <div class='calculator__subtitle-item'>Присоединяйтесь и открывайте с нами Мир новых достижений!</div>
    </div>
    <h2 class='calculator__title'>Калькулятор стоимости занятий</h2>
    <div class='calculator__inner'>
      <div class='calculator__items'>
        <div class='calculator__item'>
          {{ block('fieldset', {
            title: 'Выберите ваш город:',
            items: [
              block('form-input',  { label: 'Москва', name: 'city', value: 'moscow', type: 'radio' }),
              block('form-input',  { checked: true, label: 'Санкт-Петербург', name: 'city', value: 'spb', type: 'radio' }),
              block('form-input',  { label: 'Сочи', name: 'city', value: 'sochi', type: 'radio' }),
              block('form-input',  { label: 'Нижний новгород', name: 'city', value: 'nizhni', type: 'radio' })
            ]
          }) }}
        </div>
        <div class='calculator__item'>
          {{ block('fieldset', {
            title: 'Выберите ваш город:',
            items: [
              block('form-input',  { label: 'Калининский ул. Учительская, д.3', name: 'street', value: 'calininsky', type: 'radio' }),
              block('form-input',  { label: 'Невский Дальневосточный проспект, д.26', name: 'street', value: 'nevsky', type: 'radio' }),
              block('form-input',  { label: 'Приморское ул. Афонская дом 5', name: 'street', value: 'primorsky', type: 'radio' }),
              block('form-input',  { checked: true, label: 'Красногвардейский Ириновский проспектд.29 к.2', name: 'street', value: 'krasnogvardeusky', type: 'radio' })
            ]
          }) }}
        </div>
        <div class='calculator__item'>
          {{ block('fieldset', {
            title: 'Вид спорта:',
            items: [
              block('form-input',  { label: 'Акробатика', name: 'sport', value: 'acrobatic', type: 'radio' }),
              block('form-input',  { label: 'Художественная гимнастика', name: 'sport', value: 'rhytmic', type: 'radio' })
            ]
          }) }}
        </div>
        <div class='calculator__item'>
          {{ block('fieldset', {
            title: 'Группа:',
            items: [
              block('form-input',  { label: 'от 3 до 5 лет', name: 'group', value: '3-5', type: 'radio' }),
              block('form-input',  { label: 'от 5 до 9 лет', name: 'group', value: '5-9', type: 'radio' }),
              block('form-input',  { label: 'от 9 до 14 лет', name: 'group', value: '9-14', type: 'radio' })
            ]
          }) }}
        </div>
      </div>
      <div class='calculator__result'>
        <div class='calculator__total'>
          <div class='calculator__total-text'>Итого</div>
          <div class='calculator__total-prices'>
            <div class='calculator__price calculator__price_new'>2 500 ₽</div>
            <div class='calculator__price calculator__price_old'>5 000 ₽</div>
          </div>
        </div>
        <div class='calculator__form'>
          {{ block('fieldset', {
            items: [
              block('form-text', { type: 'text', placeholder: 'Телефон', name: 'telephone' }),
              block('form-text', { type: 'text', placeholder: 'ФИ родителя', name: 'lastname name' }),
              block('form-text', { type: 'text', placeholder: 'ФИ ребенка', name: 'lastname name' }),
              block('form-text', { type: 'text', placeholder: 'Дата рождения ребенка', name: 'date' }),
              block('form-input', {
                type: 'checkbox',
                confirm: 'confirm',
                label: 'Я согласен с <a href="#!" class="a-clear">договором-оферты</a>'
              })
            ]
          }) }}
        </div>
        <button class='btn btn_type_accent  calculator__btn'>Записаться</button>
      </div>
    </div>
  </div>
</div>
