<div class='calendar {{ params.class }}'>
  <div class='calendar__container container typography'>
    <h2 class='calendar__title'>
      Календарь соревнований
      {{ block('carousel-arrows', {
        prevClass: 'calendar__prev',
        nextClass: 'calendar__next'
      }) }}
    </h2>
    <div class='calendar__inner'>
      <div class=' calendar__full calendar__full_first'>
        <div class='calendar__first-inner'></div>
      </div>
      <div class=' calendar__full calendar__full_second'>
        <div class='calendar__second-inner'></div>
      </div>
      <div class=' calendar__full calendar__full_third'>
        <div class='calendar__third-inner'></div>
      </div>
      {{ block('carousel-arrows', {
        prevClass: 'calendar__prev',
        nextClass: 'calendar__next'
      }) }}
    </div>
  </div>
</div>

<div id='modal-event' hidden>
  <div class='modal-event'>
    <div class='modal-event__image'>
      <img loading="lazy" width='343' height='236' src='images/modal/1.png' alt=''>
      <div class='modal-event__icon'><svg width="34" height="45"><use xlink:href='sprite.svg#label-calendar'></use></svg></div>
      <button class='btn btn_type_primary btn_size_xs  modal-event__btn'>Корпоративный поход</button>
    </div>
    <div class='modal-event__content typography'>
      <h2>Название этого события</h2>
      <div class='modal-event__text'>
        Описание этого соревнования в несколько строчек, описание этого соревнования в несколько строчек, описание этого соревнования в несколько строчек.
      </div>
      <div class='modal-event__info'>
        <div class='modal-event__when'>
          <svg class='modal-event__info-icon' width="16" height="16"><use xlink:href='sprite.svg#calendar-second'></use></svg>
          <div class='modal-event__info-text'>15.06.2021</div>
        </div>
        <div class='modal-event__when'>
          <svg class='modal-event__info-icon' width="16" height="16"><use xlink:href='sprite.svg#clock'></use></svg>
          <div class='modal-event__info-text'>9:00-15:30</div>
        </div>
        <div class='modal-event__where'>
          <svg class='modal-event__info-icon' width="16" height="16"><use xlink:href='sprite.svg#map-pin'></use></svg>
          Центральное Чертаново</div>
      </div>
    </div>
  </div>
</div>
