<div class='camps {{ params.class }}'>
  <div class='container typography'>
    <h2 class='camps__title'>{{ params.title }}</h2>
    <div class='camps__inner'>
      {% for item in params.items %}
        {{ block('camps-item', {
          itemTitle: item.itemTitle,
          itemWhen: item.itemWhen,
          itemWhere: item.itemWhere
        }) }}
      {% endfor %}
    </div>
    <div class='camps__btn-wrapper'>
      <button class='btn btn_type_secondary camps__btn'>{{ params.btnText }}</button>
    </div>
  </div>
</div>
