<div class='camps-item'>
  <div class='camps-item__image'><img loading="lazy" width='120' height='130' src='images/fees.png' alt=''></div>
  <div class='camps-item__content'>
    <div class='camps-item__name'>{{ params.itemTitle }}</div>
    <div class='camps-item__info'>
      <div><span>Дата: </span>{{ params.itemWhen }}</div>
      {% if params.itemWhere %}
        <div><span>Место: </span>{{ params.itemWhere }}</div>
      {% endif %}
    </div>
    <div class='camps-item__btn-wrapper'>
      <button class='btn btn_type_accent-secondary btn_size_sm camps-item__btn'>Хочу участвовать</button>
    </div>
  </div>
</div>
