{% if params.image  %}
  <div class='camps-desc-item camps-desc-item_img camps-desc-item_{{ params.direction }}'>
    <img loading="lazy" width='480' height='360' src={{ params.image}} alt=''>
  </div>
{% else %}
  <div class='camps-desc-item camps-desc-item_{{ params.direction }}'>
      <div class='camps-desc-item__line'></div>
      <div class='camps-desc-item__text'>
        <div class='camps-desc-item__text-title'>{{ params.title }}</div>
        <div class='camps-desc-item__info'>{{ params.info }}</div>
      </div>
  </div>
{% endif %}
