<div class='camps-desc {{ params.class }}'>
  <div class='camps-desc__container container typography'>
    <h2>{{ params.title }}</h2>
    <div class='camps-desc__inner'>
      {% for item in params.items %}
        {{ block('camps-desc-item', {
          title: item.title,
          info: item.info,
          image: item.image,
          direction: item.direction
        }) }}
      {% endfor %}
    </div>
    <div class='camps-desc__btn-wrapper'>
      <button data-fancybox data-src="#fancy-call-me" class='btn btn_type_accent camps-desc__btn'>{{ params.buttonText }}</button>
    </div>
  </div>
</div>
