<div class='card {{ params.class }}'>
  <a href='#!' class='card__img a-clear'>
    <img width='584' height='320' loading="lazy" srcset="{{ params.imageSm }},
                 {{ params.imageMd }} 2x"
         src={{ params.imageMd }} alt='' >
  </a>
  <div class='card__content typography'>
    <div class='card__title'>{{ params.title }}</div>
    <div class='card__text'>
      {% if (params.list) %}
        <ul class='ul-clear'>
          {% for li in params.list %}
            <li>{{ li }}</li>
          {% endfor %}
        </ul>
      {% else %}
        {{ params.text }}
      {% endif %}
    </div>
    <div><a href='#!' class='a-clear btn btn_type_primary card__button'>{{ params.buttonText }}</a></div>
  </div>
</div>
