<div class='carousel {{ 'carousel_shadow' if params.shadow }}' data-swiper-type='{{ params.type }}'>
  <div class='carousel__container swiper'>
    <div class='swiper-wrapper'>
      {% for slide in params.slides %}
        {{  block(params.block, {
          image: slide.image,
          text: slide.text,
          grade: slide.grade,
          itemName: slide.itemName,
          itemInfo: slide.itemInfo,
          sprite: slide.sprite,
          certificate: slide.certificate,
          link: slide.link
        }) }}
      {% endfor %}
    </div>
    <div class='carousel__pagination swiper-pagination'></div>
  </div>
  {{ block('carousel-arrows', {

  }) }}
</div>



