<button class='btn carousel-arrow  {{ params.prevClass if params.prevClass else 'carousel-arrow_prev' }}'>
  <svg width='10' height='16'>
    <use xlink:href='sprite.svg#arrow'></use>
  </svg>
</button>
<button class='btn carousel-arrow  {{ params.nextClass if params.nextClass else 'carousel-arrow_next' }}'>
  <svg width='10' height='16'>
    <use xlink:href='sprite.svg#arrow'></use>
  </svg>
</button>
