<a href='#!' class="a-clear catalog-item swiper-slide {{ 'catalog-item_' + params.direction if params.direction }} {{ params.class }}"
   data-name='{{ params.itemName}}'
   data-fancybox='demo'
   data-src={{ params.image}}
   data-discipline={{ params.discipline }}
>
  <div class='catalog-item__image catalog-item__image_{{ params.sprite }}'>
    <img loading="lazy" width='168' height='200' src={{ params.image}} alt=''>
    {% if params.sprite %}
      <div class='catalog-item__icon catalog-item__icon_{{ params.sprite }} catalog-item__icon_{{ params.direction }}'><svg width="22" height="22"><use xlink:href='sprite.svg#{{ params.sprite }}'></use></svg></div>
    {% elseif params.label %}
      <div class='catalog-item__label catalog-item__label_{{ params.label.color }}'>{{ params.label.info }}</div>
    {% endif %}
    {% if params.certificate %}
      <div class='catalog-item__certificate'><svg width="28" height="36"><use xlink:href='sprite.svg#label-certificate'></use></svg></div>
    {% endif %}
  </div>
  <div class='catalog-item__text'>
    <div class='catalog-item__name'>{{ params.itemName }}</div>
    <div class='catalog-item__info'>{{ params.itemInfo }}</div>
  </div>
</a>
