<div class='catalog {{ params.class }}'>
  <div class='container typography'>
    <h2 class='catalog__title {{ params.titleCenter }}'>{{ params.title }}</h2>
    <div class='catalog__inner'>
      {% for item in params.items %}
        {{ block('catalog-item', {
          image: item.image,
          itemName: item.itemName,
          itemInfo: item.itemInfo,
          sprite: item.sprite,
          direction: item.direction,
          label: item.label,
          certificate: item.certificate,
          discipline: item.discipline
        }) }}
      {% endfor %}
    </div>
    {% if params.btnText %}
    <div class='catalog__btn-wrapper'>
      <button class='btn btn_type_secondary catalog__btn {{ params.btnClass if params.btnClass }}'>{{ params.btnText }}</button>
      {% if params.btnTextPrimary %}
        <button class='btn btn_type_accent catalog__btn'>{{ params.btnTextPrimary }}</button>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
