<div class='choose-gym margin'>
  <div class='container typography choose-gym__container'>
      <h2 class='choose-gym__title'>Удобный для вас зал и расписание</h2>
      <img width='1208' height='400' loading="lazy" class='choose-gym__img' src='./images/choose-gym/2.png' alt=''>
      <button data-fancybox data-src="#fancy-call-me" class='choose-gym__btn btn btn_type_accent'>Подобрать зал и тренера</button>
  </div>
  <div class='choose-gym__mobile'>
    <img width='375' height='430' loading="lazy" src='./images/choose-gym/1.png' alt=''>
    <div class='choose-gym__mobile-title container'>
      <h2>Удобный для вас зал и расписание</h2>
    </div>
    <div class='choose-gym__mobile-btn container'>
      <button data-fancybox data-src="#fancy-call-me" class='choose-gym__btn btn btn_type_accent'>Подобрать зал и тренера</button>
    </div>
  </div>
</div>
