<div class="classes {{ params.class }}">
  <div class="classes__container container typography">
    <h2 class="classes__title">Как проходит занятие</h2>
    <div class='classes__slider-container' data-swiper-type='classes'>
      <div class="classes__slider swiper">
        <div class="classes__wrapper swiper-wrapper">
          {% for item in params.items %}
            {{ block('classes-item', {
              image: item.image,
              count: item.count,
              text: item.text
            }) }}
          {% endfor %}
        </div>
      <div class="swiper-scrollbar"></div>
    </div>
      {{ block('carousel-arrows') }}
    </div>
  </div>
</div>
