<div class="classes-item swiper-slide">
  <a href='#!' class="a-clear classes-item__image">
    <img loading="lazy" src="{{ params.image }}" width="376" height="325" alt="" />
  </a>
  <div class="classes-item__content">
    <div class="classes-item__count">{{ params.count }}</div>
    <div class="classes-item__text">
      {{ params.text | safe }}
    </div>
  </div>
</div>
