<div class="coach-main-card {{ 'coach-main-card_' + params.direction if params.direction }} {{ 'coach-main-card_' + params.short if params.short }} {{ 'coach-main-card_' + params.color if params.color }}">
  <div class='coach-main-card__wrapper'>
    <a href='#!' class='a-clear coach-main-card__image-wrapper'>
      <img loading="lazy" width='376' height='500' src='{{ params.image }}' alt='' />
    </a>
    <div class='container coach-main-card__container typography'>
      <a href='#!' class='a-clear coach-main-card__title'>{{ params.name }}</a>
      <div class='coach-main-card__info'>
        <div class='coach-main-card__shortcuts'>
          <div class='coach-main-card__label'>
            <svg width="28" height="28">
              <use xlink:href='sprite.svg#{{ params.sprite }}'></use>
            </svg>
          </div>
          <button class='btn btn_type_primary coach-main-card__shortcuts-btn'>
            <svg width='18' height='18'>
              <use xlink:href='sprite.svg#play'></use>
            </svg>
          </button>
        </div>
        <div class='coach-main-card__info-text'>
          <div>{{ params.position }}</div>
          <div><b>{{ params.specialty }}</b></div>
        </div>
      </div>
    </div>
    {% if params.certificate %}
      <div class='coach-main-card__certificate'><svg width="28" height="36"><use xlink:href='sprite.svg#label-certificate'></use></svg></div>
    {% endif %}
  </div>
  {% if params.kpi %}
    <div class='coach-main-card__kpi'>
      {% for item in params.kpi %}
        {{ block('kpi-item', {
          size: item.size,
          color: item.color,
          sprite: item.sprite,
          amount: item.amount,
          title: item.title,
          titleMobile: item.titleMobile,
          size: item.size
        }) }}
      {% endfor %}
    </div>
  {% endif %}
</div>
