<div class='coaching-staff {{ params.class }}'>
  <div class='container typography'>
    <h2>Тренерский состав</h2>
    <div class='coaching-staff__slider'>
    {{ block('carousel', {
      sliderName: 'general-slider',
      type: 'general',
      block: 'catalog-item',
      slides: [
        {
          image: 'images/trainers/kristina.png',
          itemName: 'Самойлова Кристина',
          itemInfo: 'МСМК',
          sprite: 'dancer',
          certificate: true
        },
        {
          image: 'images/trainers/violetta.png',
          itemName: 'Саркисян Виолетта',
          itemInfo: 'ЗМС',
          sprite: 'gymnast',
          certificate: true
        },
        {
          image: 'images/trainers/kristina.png',
          itemName: 'Самойлова Кристина',
          itemInfo: 'МСМК',
          sprite: 'dancer',
          certificate: true
        },
        {
          image: 'images/trainers/violetta.png',
          itemName: 'Саркисян Виолетта',
          itemInfo: 'ЗМС',
          sprite: 'gymnast',
          certificate: true
        },
        {
          image: 'images/trainers/kristina.png',
          itemName: 'Самойлова Кристина',
          itemInfo: 'МСМК',
          sprite: 'dancer',
          certificate: true
        },
        {
          image: 'images/trainers/violetta.png',
          itemName: 'Саркисян Виолетта',
          itemInfo: 'ЗМС',
          sprite: 'gymnast',
          certificate: true
        }
      ]
    }) }}
    </div>
    <div class='coaching-staff__properties'>
      {% for item in params.properties %}
        {{ block('properties-item', {
          sprite: item.sprite,
          title: item.title
        }) }}
      {% endfor %}
    </div>
    <button data-fancybox data-src="#fancy-lesson" class='btn btn_type_accent coaching-staff__btn'>Записать на персональную тренировку</button>
  </div>
</div>
