<div class='department-trainers js-department-trainers {{ params.class }}'>
  <div class='container typography'>
    <h2 class='department-trainers__title'>{{ params.title }}</h2>
    <div class='department-trainers__inner'>
      {{ block('carousel', {
        block: 'catalog-item',
        class: 'department-trainers__item js-department-trainers__item',
        slides: params.trainers,
        type: 'department'
      }) }}
    </div>
    {% if params.button %}
      <div class='department-trainers__btn-group'>
        <button class='department-trainers__btn department-trainers__btn_more js-department-trainers__btn_more btn btn_type_secondary'>Показать еще</button>
        <button class='department-trainers__btn btn btn_type_accent'>Записаться на занятие</button>
      </div>
    {% endif %}
  </div>
</div>
