<div class='example {{ params.class }}'>
  <div class='container typography'>
    <h2 class='title title_center'>{{ params.title }}</h2>
    <div class='example__inner'>
      <div class='example__item'>{{ block('watch-card') }}</div>
      <div class='example__item'>{{ block('watch-card') }}</div>
      <div class='example__item'>{{ block('watch-card') }}</div>
      <div class='example__item'>{{ block('watch-card') }}</div>
    </div>
    <div class='example__btn-wrapper'>
      <button class='btn btn_type_secondary example__btn'>Смотреть еще</button>
    </div>
  </div>
</div>
