<div class='fieldset {{ 'fieldset_center' if params.center }}'>
  <div class='fieldset__title'>{{ params.title }}</div>
  <div class='fieldset__items {{ 'fieldset__items_column' if params.column }}'>
    {% for item in params.items %}
      {{ item | safe }}
    {% endfor %}
  </div>
</div>



