<div class='find-us {{ params.class }} js-find-us' data-source-name="arrAddresses">
  <div class='container typography'>
    <h2 class='find-us__title'>{{ params.title }}</h2>
    <div class='find-us__inner'>
     <div class='find-us__left'>
       {% if params.isOnlyMap %}
       {% else %}
         <form class='js-find-us-form'>
        <label class='find-us__search search'>
          <input type='text' class='find-us__search-input js-find-us__input' placeholder='Метро Беляево' />
          <button class='find-us__search-btn btn btn_type_accent js-find-us__btn'>Поиск</button>
        </label>
         </form>
         <div class='find-us__items js-find-us__items'>
           {% for item in params.items %}
              {{ block('school-card', {
                id: item.id,
                name: item.name,
                address: item.address,
                metro: item.metro,
                tel: item.tel,
                telString: item.telString,
                whatsapp: item.whatsapp,
                telegram: item.telegram
              }) }}
           {% endfor %}
         </div>
       {% endif %}
       {% if params.buttonText %}
          <a href='#!' class='btn btn_type_{{ params.button}} find-us__button '>{{ params.buttonText }}</a>
      {% endif%}
     </div>
      <div class='find-us__right js-find-us__map'>
        <div class='loader js-loader'></div>
      </div>
    </div>
  </div>
</div>

<template data-find-item-template>
  <div class='school-card js-school-card' data-find-item='id' data-find-id='' >
    <a href='#!' data-find-item='icon' data-template-element="main-link" class='a-clear school-card__icon'>
      <svg width='14' height='14'>
        <use xlink:href='sprite.svg#metro'></use>
      </svg>
    </a>
    <div class='school-card__address'>
      <a href='#!' data-find-item='name' data-template-action="main-link" class='a-clear school-card__name'><slot name="name"></slot></a>
      <a href='#!' data-find-item='address' data-template-action="main-link" class='a-clear school-card__street'><slot name="address"></slot></a>
    </div>
    <div class='school-card__contacts'>
      <a data-find-item='tel' data-template-action="main-link" href='' class='school-card__tel a-clear'></a>
      <div class='school-card__socials'>
        <a data-find-item='whatsapp' href=''
           class='a-clear school-card__social school-card__social_whatsapp'>
          <svg width='14' height='14'>
            <use xlink:href='sprite.svg#whatsapp'></use>
          </svg>
        </a>
        <a data-find-item='telegram' href=''
           class='a-clear school-card__social school-card__social_telegram'>
          <svg width='14' height='14'>
            <use xlink:href='sprite.svg#telegram'></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
window.arrAddresses = [
  {
    id: 1,
    name: 'Беляево',
    metro: true,
    address: 'ул. Профсоюзная, 83Б',
    latitude: 55.64473,
    longitude: 37.530166,
    link: '#!',
    phone: {
      number: '+79991112233',
      formatted: '8 (800) 301-47-23'
    },
    whatsapp: 'https://wa.me/+79991112233',
    telegram: 'https://telegram.me/fitness',
  },
  {
    id: 2,
    name: 'Ясенево',
    metro: true,
    address: 'Вильнюсская улица, 6к2',
    latitude: 55.604534,
    longitude: 37.520069,
    link: '#!',
    phone: {
      number: '+79991112233',
      formatted: '8 (800) 301-47-23'
    },
    whatsapp: 'https://wa.me/+79991112233',
    telegram: 'https://telegram.me/fitness',
  },
  {
    id: 3,
    name: 'Южное Бутово',
    metro: true,
    address: 'улица Адмирала Руднева, 4',
    latitude: 55.543868,
    longitude: 37.526061,
    link: '#!',
    phone: {
      number: '+79991112233',
      formatted: '8 (800) 301-47-23'
    },
    whatsapp: 'https://wa.me/+79991112233',
    telegram: 'https://telegram.me/fitness',
  },
  {
    id: 4,
    name: 'Северное Бутово',
    metro: true,
    address: 'Ратная улица, 14А',
    latitude: 55.575302,
    longitude: 37.574193,
    link: '#!',
    phone: {
      number: '+79991112233',
      formatted: '8 (800) 301-47-23'
    },
    whatsapp: 'https://wa.me/+79991112233',
    telegram: 'https://telegram.me/fitness',
  },
  {
    id: 5,
    name: 'Юго-Западная',
    metro: false,
    address: 'проспект Вернадского, 86',
    latitude: 55.661445,
    longitude: 37.477049,
    link: '#!',
    phone: {
      number: '+79991112233',
      formatted: '8 (800) 301-47-23'
    },
    whatsapp: 'https://wa.me/+79991112233',
    telegram: 'https://telegram.me/fitness',
  },
];
</script>
