<div class='find-branch js-find-branch {{ params.class }}'>
  <div class='container typography'>
    <h2>Найдите ближайшее отделение</h2>
    <div class='find-branch__inner'>

      {{ block('tabs', {
          tabs: [
          { dataTab: 'map', btnText: 'На карте' },
          { dataTab: 'metro', btnText: 'По метро' },
          { dataTab: 'list', btnText: 'Списком', activeTab: 'active' }
        ]
      }) }}

      <div class='find-branch__search'>
        <label class='find-branch__search-label search'>
          <input class='find-branch__search-input' placeholder='Метро Беляево' />
          <button class='find-branch__search-btn btn btn_type_accent'>Поиск</button>
        </label>
      </div>
      <div class='find-branch__map find-branch__tab-content js-tab-review' data-tab='map'><img width='1208' height='500' loading="lazy" src='images/find-branch/1.png' alt=''></div>
      <div class='find-branch__map find-branch__tab-content js-tab-review ' data-tab='metro'><img width='1208' height='500' loading="lazy" src='images/find-branch/2.png' alt=''></div>
      <div class='find-branch__list find-branch__tab-content js-tab-review active' data-tab='list'>
        <div class='find-branch__list-inner'>
          <div class='find-branch__list-item'>
            <div class='find-branch__list-title'>До “Алексеевский”</div>
            <div class='find-branch__list-subtitle'>
              <div class='find-branch__list-address'>Пр-кт Мира, д.91, корп 2</div>
              <div class='find-branch__list-opening'>Откроется в понедельник в 09:00</div>
            </div>
            <div class='find-branch__list-subways'>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line' style='--line-color: #1EBCEF'></div>
                <div class='find-branch__subway-line' style='--line-color: #0072BA'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
            </div>
            <a href='#!' class='find-branch__list-link a-clear'>Подробнее</a>
          </div>
          <div class='find-branch__list-item'>
            <div class='find-branch__list-title'>До “Алексеевский”</div>
            <div class='find-branch__list-subtitle'>
              <div class='find-branch__list-address'>Пр-кт Мира, д.91, корп 2</div>
              <div class='find-branch__list-opening'>Откроется в понедельник в 09:00</div>
            </div>
            <div class='find-branch__list-subways'>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
            </div>
            <a href='#!' class='find-branch__list-link a-clear'>Подробнее</a>
          </div>
          <div class='find-branch__list-item'>
            <div class='find-branch__list-title'>До “Алексеевский”</div>
            <div class='find-branch__list-subtitle'>
              <div class='find-branch__list-address'>Пр-кт Мира, д.91, корп 2</div>
              <div class='find-branch__list-opening'>Откроется в понедельник в 09:00</div>
            </div>
            <div class='find-branch__list-subways'>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
            </div>
            <a href='#!' class='find-branch__list-link a-clear'>Подробнее</a>
          </div>
          <div class='find-branch__list-item'>
            <div class='find-branch__list-title'>До “Алексеевский”</div>
            <div class='find-branch__list-subtitle'>
              <div class='find-branch__list-address'>Пр-кт Мира, д.91, корп 2</div>
              <div class='find-branch__list-opening'>Откроется в понедельник в 09:00</div>
            </div>
            <div class='find-branch__list-subways'>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
            </div>
            <a href='#!' class='find-branch__list-link a-clear'>Подробнее</a>
          </div>
          <div class='find-branch__list-item'>
            <div class='find-branch__list-title'>До “Алексеевский”</div>
            <div class='find-branch__list-subtitle'>
              <div class='find-branch__list-address'>Пр-кт Мира, д.91, корп 2</div>
              <div class='find-branch__list-opening'>Откроется в понедельник в 09:00</div>
            </div>
            <div class='find-branch__list-subways'>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
            </div>
            <a href='#!' class='find-branch__list-link a-clear'>Подробнее</a>
          </div>
          <div class='find-branch__list-item'>
            <div class='find-branch__list-title'>До “Алексеевский”</div>
            <div class='find-branch__list-subtitle'>
              <div class='find-branch__list-address'>Пр-кт Мира, д.91, корп 2</div>
              <div class='find-branch__list-opening'>Откроется в понедельник в 09:00</div>
            </div>
            <div class='find-branch__list-subways'>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line' style='--line-color: black'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
              <div class='find-branch__list-subway'>
                <div class='find-branch__subway-line'></div>
                <div class='find-branch__subway-title'>Арбатская</div>
              </div>
            </div>
            <a href='#!' class='find-branch__list-link a-clear'>Подробнее</a>
          </div>
        </div>
        {{ block('pagination') }}
      </div>
    </div>
  </div>
</div>
