<label class='form-input'>
  <input
    {{ 'checked' if params.checked }}
    {{ 'disabled' if params.disabled }}
    name='{{ params.name}}'
    value='{{ params.value}}'
    type='{{ params.type }}'
  >
  <span class={{ 'form-input__confirm' if params.confirm }}>{{ params.label | safe }} </span>
  {% if params.question %}
    <svg class='form-input__question form-input__question_{{ params.question }}' width="18" height="18" ><use xlink:href='sprite.svg#question'></use></svg>
  {% endif %}
</label>
