<div class='form-text'>
  <input
    {{ 'disabled' if params.disabled }}
    name='{{ params.name}}'
    value='{{ params.value}}'
    type='{{ params.type }}'
    placeholder='{{ params.placeholder }}'
  >
</div>
