<div class='gallery {{ params.class }}'>
  <div class='container typography'>
    <h2 class='gallery__title'>{{ params.title }}</h2>
    <div class='gallery__inner'>
      {% for image in params.images  %}
        {{ block('gallery-item', {
          image: image
        }) }}
      {% endfor %}
    </div>
    <div class='gallery__btn'>
      <button class='btn btn_type_secondary '>Смотреть еще</button>
    </div>
  </div>
</div>
