<div class='history-talisman {{ params.class }}'>
  <div class='container typography history-talisman__container'>
    <h2 class='history-talisman__title'>История появления талисмана</h2>
    <div class='history-talisman__content'>
      <div class='history-talisman__paragraph'>…с древних времен люди награждали мистическими качествами и особым смыслом буквально все, что их окружало. На множество действий были придуманы приметы, во всем виделись тайные знаки, а управляли миром могущественные Божества.
      </div>
      <div class='history-talisman__paragraph'>Конечно, нельзя не сказать и о вере человека в силы талисманов. Были абсолютно разные виды, на все случаи: для оберега дома, для успешной торговли, от дурного глаза и так далее. Так же, у каждого уважающего себя правителя, воина, спортсмена был свой личный счастливый талисман, который непременно приносил удачу и должен был уберегать от всего плохого.
        Такая традиция сохранялась в течение многих веков и дошла до наших дней. Например, многие люди (не только дети) спят с любимой игрушкой, считают конкретную блузку «счастливой» и приносящей удачу, покупают фигурку Домового и задабривают его, а у Американских футбольных команд, как мы можем узнать из фильмов, обязательно есть талисман команды, который должен приносить лёгкую победу.
        В 2017 году команда FD, совместно с воспитанниками школы и их родителями, приступила к выбору своего талисмана. Из множества вариантов, путем открытого голосования был выбран ЛИС. Помимо яркого образа, очевидной энергичности и, в каком-то смысле, «мимишности», на выбор данного персонажа повлиял и более глубокий смысл, закрепившийся за ним исторически.
      </div>
      <div class='history-talisman__paragraph'>
        По преданию разных стран, сакральный смысл талисмана – лИса трактуется по-разному:
        <br>- в Японии сам лис означает долголетие, а конец лисьего хвоста - «сокровище счастья», кроме того, в этой стране лис ассоциируется с саморазвитием, совершенствованием, наблюдательностью;
        <br>- Древние Кельты почитали это животное, оно олицетворяло мудрость, честь, образованность, а татуировка с изображением лИса была оберегом от опасностей;
        <br>- племена Майя обожествляли лИса и наделяли безграничной силой, смелостью, неординарным умом;
        <br>- в Древнем Китае он был положительным символом – приносил удачу, защищал от бед;
        <br>- по мнению Древних славян, лис олицетворял скорость мысли и смекалку.
      </div>
      <div class='history-talisman__paragraph'>
        Таким образом, лис стал постоянным талисманом Всероссийской сети ДСШ FD. А в 2021 году у него, опять же, путём общего открытого голосования, появилось имя - Фитлис. Имя совмещает привычное прозвище «Лис» и историческое название спортшколы «ФитнесДети». Также, в имени есть отсылка к спортивным увлечениям этого малыша.
      </div>
      <div class='history-talisman__paragraph'>
        С тех пор, как Фитлис получил имя, он буквально «ожил» и теперь радует воспитанников школы, их родителей и гостей на каждом мероприятии, приезжает на сборы поиграть с ребятами и вообще очень активно участвует в корпоративной жизни FD.
      </div>
    </div>
    <button data-fancybox data-src="#fancy-call-me" class='btn btn_type_accent history-talisman__btn'>Очень круто! Хочу в FitnessDeti</button>
  </div>
</div>
