<div class='insurance-registration {{ params.class }}'>
  <div class='insurance-registration__container container typography'>
    <h2>{{ params.title }}</h2>
    <div class='insurance-registration__subtitle'>{{ params.subtitle }}</div>
    <div class='insurance-registration__inner'>
      <div class='insurance-registration__column'>

        <div class='insurance-registration__item'>
            {{ block('fieldset', {
              title: 'Объём ответственности *',
              items: [
                block('form-input',  { checked: true, label: 'На время занятие спортом', name: 'time', value: 'day', type: 'radio', question: 'sport' }),
                block('form-input',  { disabled: true, label: '24 часа в сутки (включая занятие спортом)', name: 'time', value: 'full', type: 'radio', question: 'day' })
              ]
            }) }}
        </div>

        <div class='insurance-registration__item'>
          {{ block('fieldset', {
            title: 'Количество застрахованных *',
            items: [
              block('form-text', { type: 'text', placeholder: 'Введите значение от 1 до 15' })
            ]
          }) }}
        </div>

        <div class='insurance-registration__item'>
            {{ block('fieldset', {
              title: 'Страховая сумма на каждого застрахованного, руб.*',
              items: [
                block('form-input', { label: '50 000', name: 'amount', value: '50000', type: 'radio' }),
                block('form-input', { label: '100 000', name: 'amount', value: '100000', type: 'radio', disabled: true }),
                block('form-input', { checked: true, label: '150 000', name: 'amount', value: '150000', type: 'radio' })
              ]
            }) }}
        </div>

        <div class='insurance-registration__item'>
          {{ block('fieldset', {
            title: 'Вид спорта *',
            items: [
              block('form-input', { label: 'Гимнастика Художественная', type: 'checkbox', disabled: true }),
              block('form-input', { label: 'Акробатика и Гимнастика Спортивная', type: 'checkbox' }),
              block('form-input', { label: 'Эстетическая Гимнастика', type: 'checkbox' }),
              block('form-input', { checked: true, label: 'Спортивная Гимнастика', type: 'checkbox' })
            ]
          }) }}
        </div>

        <div class='insurance-registration__item'>
            {{ block('fieldset', {
              title: 'Срок действия договора *',
              items: [
                block('form-between', {
                  from: block('form-text', { type: 'date' }),
                  to: block('form-text', { type: 'date' })
                })
              ]
            }) }}
        </div>
      </div>

      <div class='insurance-registration__column'>
        <div class='insurance-registration__item'>
          {{ block('fieldset', {
            title: 'ФИО',
            items: [
              block('form-text', { type: 'text', placeholder: 'Введите Фамилию', name: 'lastname' }),
              block('form-text', { type: 'text', placeholder: 'Введите Имя', name: 'firstname' }),
              block('form-text', { type: 'text', placeholder: 'Введите Отчество', name: 'secondname' })
            ]
          }) }}
        </div>
        <div class='insurance-registration__item'>
          {{ block('fieldset', {
            title: 'Пасорт РФ',
            items: [
              block('form-serial', {
                serial: block('form-text', { type: 'text', placeholder: 'Введите Серию' }),
                number: block('form-text', { type: 'text', placeholder: 'Введите Номер' })
              }),
              block('form-text', { type: 'text', placeholder: 'Дата выдачи' }),
              block('form-text', { type: 'text', placeholder: 'Кем выдан' })
            ]
          }) }}
        </div>
        <div class='insurance-registration__item'>
          {{ block('fieldset', {
            title: 'Контактные данные',
            items: [
              block('form-text', { type: 'text', name: 'address', placeholder: 'Введите адрес' }),
              block('form-text', { type: 'text', name: 'telephone', placeholder: 'Введите телефон' }),
              block('form-text', { type: 'text', name: 'email', placeholder: 'Введите e-mail' })
            ]
          }) }}
        </div>
      </div>
      <div class='insurance-registration__column'>
        <div class='insurance-registration__item'>
          {{ block('fieldset', {
            title: 'Застрахованнное лицо 1',
            items: [
              block('form-text', {type: 'text', name: 'lastname', placeholder: 'Введите Фамилию'}),
              block('form-text', { type: 'text', name: 'firstname', placeholder: 'Введите Имя' }),
              block('form-text', { type: 'text', name: 'secondname', placeholder: 'Введите Отчество' }),
              block('form-text', { type: 'text', placeholder: 'День рождения'}),
              block('form-text', { type: 'text', name: 'telephone', placeholder: 'Телефон' }),
              block('form-text', { type: 'text', name: 'email', placeholder: 'E-mail' }),
              block('form-text', { type: 'text', name: 'address', placeholder: 'Адрес' }),
              block('form-input', {
                type: 'checkbox',
                confirm: 'confirm',
                label: 'Подтверждаю,
              что застрахованные лица в возрасте от 6 до 50 лет (включительно), Застрахованные лица не являются инвалидами
              и не состоят на учете в психоневрологическом диспансере. *'
              })
            ]
          }) }}
        </div>
        <div class='insurance-registration__item'><button class='btn btn_type_accent insurance-registration__btn'>Оформление</button></div>
      </div>
    </div>
  </div>
</div>

<div class='insurance-registration insurance-registration_center {{ params.class }}'>
  <div class='insurance-registration__container container typography'>
    <h2>{{ params.title }}</h2>
    <div class='insurance-registration__subtitle'>{{ params.subtitle }}</div>
    <div class='insurance-registration__inner'>


      {{ block('fieldset', {
        title: 'Объём ответственности *',
        center: true,
        items: [
          block('form-input',  { label: 'На время занятие спортом', name: 'time', value: 'day', type: 'radio', question: 'sport' }),
          block('form-input',  { label: '24 часа в сутки (включая занятие спортом)', name: 'time', value: 'full', type: 'radio', question: 'day' })
        ]
      }) }}

      {{ block('fieldset', {
        title: 'Количество застрахованных *',
        center: true,
        items: [
          block('form-text', { type: 'text', placeholder: 'Введите значение от 1 до 15' })
        ]
      }) }}

      {{ block('fieldset', {
        title: 'Страховая сумма на каждого застрахованного, руб.*',
        center: true,
        items: [
          block('form-input', { label: '50 000', name: 'amount', value: '50000', type: 'radio' }),
          block('form-input', { label: '100 000', name: 'amount', value: '100000', type: 'radio' }),
          block('form-input', { label: '150 000', name: 'amount', value: '150000', type: 'radio' })
        ]
      }) }}

      {{ block('fieldset', {
        title: 'Вид спорта *',
        center: true,
        column: true,
        items: [
          block('form-input', { label: 'Гимнастика Художественная', type: 'checkbox' }),
          block('form-input', { label: 'Акробатика и Гимнастика Спортивная', type: 'checkbox' }),
          block('form-input', { label: 'Эстетическая Гимнастика', type: 'checkbox' }),
          block('form-input', { checked: true, label: 'Спортивная Гимнастика', type: 'checkbox' })
        ]
      }) }}

      {{ block('fieldset', {
        title: 'Срок действия договора *',
        center: true,
        items: [
          block('form-between', {
            from: block('form-text', { type: 'date' }),
            to: block('form-text', { type: 'date' })
          })
        ]
      }) }}
      {{ block('fieldset', {
        title: 'ФИО',
        center: true,
        items: [
          block('form-text', { type: 'text', placeholder: 'Введите Фамилию', name: 'lastname' }),
          block('form-text', { type: 'text', placeholder: 'Введите Имя', name: 'firstname' }),
          block('form-text', { type: 'text', placeholder: 'Введите Отчество', name: 'secondname' })
        ]
      }) }}
      {{ block('fieldset', {
        title: 'Пасорт РФ',
        center: true,
        items: [
          block('form-serial', {
            serial: block('form-text', { type: 'text', placeholder: 'Введите Серию' }),
            number: block('form-text', { type: 'text', placeholder: 'Введите Номер' })
          }),
          block('form-text', { type: 'text', placeholder: 'Дата выдачи' }),
          block('form-text', { type: 'text', placeholder: 'Кем выдан' })
        ]
      }) }}
      {{ block('fieldset', {
        title: 'Контактные данные',
        center: true,
        items: [
          block('form-text', { type: 'text', name: 'address', placeholder: 'Введите адрес' }),
          block('form-text', { type: 'text', name: 'telephone', placeholder: 'Введите телефон' }),
          block('form-text', { type: 'text', name: 'email', placeholder: 'Введите e-mail' })
        ]
      }) }}
      {{ block('fieldset', {
        title: 'Застрахованнное лицо 1',
        center: true,
        items: [
          block('form-text', {type: 'text', name: 'lastname', placeholder: 'Введите Фамилию'}),
          block('form-text', { type: 'text', name: 'firstname', placeholder: 'Введите Имя' }),
          block('form-text', { type: 'text', name: 'secondname', placeholder: 'Введите Отчество' }),
          block('form-text', { type: 'text', placeholder: 'День рождения'}),
          block('form-text', { type: 'text', name: 'telephone', placeholder: 'Телефон' }),
          block('form-text', { type: 'text', name: 'email', placeholder: 'E-mail' }),
          block('form-text', { type: 'text', name: 'address', placeholder: 'Адрес' }),
          block('form-input', {
            type: 'checkbox',
            confirm: true,
            label: 'Подтверждаю,
              что застрахованные лица в возрасте от 6 до 50 лет (включительно), Застрахованные лица не являются инвалидами
              и не состоят на учете в психоневрологическом диспансере. *'
          })
        ]
      }) }}
      <div class='insurance-registration__btn-wrapper'>
        <button class='btn btn_type_accent insurance-registration__btn'>Оформление</button>
      </div>
    </div>
  </div>
</div>
