<div class='internal-training-item'>
  <div class='internal-training-item__text'>{{ params.text | safe }}</div>
  <div class='internal-training-item__icon'><svg width="42" height="42" ><use xlink:href='sprite.svg#{{ params.icon }}'></use></svg></div>
</div>
