<div class='internal-training {{ params.class }}'>
  <div class='container typography'>
    <h2 class='internal-training__title internal-training__title_{{ params.titlePosition }}'>{{ params.title }}</h2>
    <div class='internal-training__inner'>
      {% for item in params.items %}
        {{ block('internal-training-item', {
          text: item.text,
          icon: item.icon
        }) }}
      {% endfor %}
    </div>
    {% if params.btnText %}
      <div class='internal-training__btn'><button class='btn btn_type_accent '>{{ params.btnText }}</button></div>
    {% endif %}
  </div>
</div>
