<div class='job-application {{ params.class }}'>
  <div class='container typography'>
    <h2>Заявка на вакансию</h2>
    <div class='job-application__inner'>
      <div class='job-application__radios'>
        <div class='job-application__item'>
          {{ block('fieldset', {
            title: 'Выберите ваш город:',
            items: [
              block('form-input',  { label: 'Москва', name: 'city', value: 'moscow', type: 'radio' }),
              block('form-input',  { checked: true, label: 'Санкт-Петербург', name: 'city', value: 'spb', type: 'radio' }),
              block('form-input',  { label: 'Сочи', name: 'city', value: 'sochi', type: 'radio' }),
              block('form-input',  { label: 'Нижний новгород', name: 'city', value: 'nizhni', type: 'radio' })
            ]
          }) }}
        </div>
        <div class='job-application__item'>
          {{ block('fieldset', {
            title: 'Ваш спортивный разряд:',
            items: [
              block('form-input',  { label: '1-взрослый', name: 'grade', value: '1', type: 'radio' }),
              block('form-input',  { label: 'КМС', name: 'grade', value: 'cms', type: 'radio' }),
              block('form-input',  { label: 'МС', name: 'grade', value: 'ms', type: 'radio' }),
              block('form-input',  { label: 'МСМК', name: 'grade', value: 'msmc', type: 'radio' }),
              block('form-input',  { label: 'ЗМС', name: 'grade', value: 'zms', type: 'radio' })
            ]
          }) }}
        </div>
        <div class='job-application__item'>
          {{ block('fieldset', {
            title: 'Вид спорта:',
            items: [
              block('form-input',  { label: 'Акробатика', name: 'sport', value: 'acrobatic', type: 'radio' }),
              block('form-input',  { label: 'Художественная гимнастика', name: 'sport', value: 'rhytmic', type: 'radio' })
            ]
          }) }}
        </div>
      </div>
      <div class='job-application__form'>
        <span class='job-application__form-column'>
          {{ block('fieldset', {
            items: [
              block('form-text', { type: 'text', placeholder: 'Телефон', name: 'telephone' }),
              block('form-text', { type: 'text', placeholder: 'E-mail', name: 'email' }),
              block('form-text', { type: 'text', placeholder: 'ФИО', name: 'fullname' }),
              block('form-text', { type: 'text', placeholder: 'Возраст', name: 'age' }),
              block('form-text', { type: 'text', placeholder: 'Образование', name: 'education' })
            ]
          }) }}
        </span>
        <span class='job-application__form-column'>
          {{ block('fieldset', {
            items: [
              block('form-text', { type: 'text', placeholder: 'Опыт работы', name: 'experience' }),
              block('form-textarea', { placeholder: 'О себе', name: 'aboutself' }),
              block('form-input', {
                type: 'checkbox',
                confirm: 'confirm',
                label: 'Я согласен с <a href="#!" class="a-clear">договором-оферты</a>'
              })
            ]
          }) }}
          <button class='btn btn_type_accent job-application__btn'>Отправить</button>
      </span>
      </div>
    </div>
  </div>
</div>
