<div class="kpi-item kpi-item_color_{{ params.color }} kpi-item_size_{{ params.size }}">
  <div class="kpi-item__icon">
    <svg width="40" height="40">
      <use xlink:href="sprite.svg#{{ params.sprite }}"></use>
    </svg>
  </div>
  <div class="kpi-item__content">
    <div class="kpi-item__amount">{{ params.amount }}</div>
    <div class="kpi-item__title">{{ params.title }}</div>
    <div class="kpi-item__title-mobile">{{ params.titleMobile }}</div>
  </div>
</div>
