<div class='kpi {{ params.class }}'>
  <div class="kpi__container container">
    {% for item in params.items %}
      {{ block('kpi-item', {
        color: item.color,
        sprite: item.sprite,
        amount: item.amount,
        title: item.title,
        titleMobile: item.titleMobile
      }) }}
    {% endfor %}
  </div>
</div>
