<nav id='my-menu'>
  <ul>
    <li>
      <span>О школе FitnessDeti</span>
      <ul>
        <li><a href='/'>1</a></li>
        <li><a href='/'>1</a></li>
        <li><a href='/'>1</a></li>
      </ul>
    </li>
    <li>
      <span>Дополнительные услуги</span>
      <ul>
        <li><a href='/'>Персональные тренировки</a></li>
        <li><a href='/'>Постановка программ</a></li>
        <li><a href='/'>Онлайн тренировки</a></li>
        <li><a href='/'>Спортивное страхование</a></li>
        <li><a href='/'>Мастер-классы</a></li>
        <li><a href='/'>Пошив и аренда купальников</a></li>
        <li><a href='/'>Фотосессии</a></li>
        <li><a href='/'>Брендированная форма</a></li>
      </ul>
    </li>
  </ul>
</nav>

<template data-mmenu>
  <div class='mmenu'>
    <a href='/' class='a-clear mmenu__image'><img loading="lazy" width='280' height='60' src='/images/logo-full.svg' alt=''></a>
    <a href='tel:' class='mmenu__tel'>+7 (495) 773-95-73</a>
    <div class='mmenu__socials'>
      <a href='https://wa.me/fitnessdeti' class='a-clear mmenu__socials-item'>
        <svg width='20' height='20'><use xlink:href='sprite.svg#whatsapp'></use></svg>
      </a>
      <a href='viber://contact?number=%2BPHONENUMBERWITHCOUNTRYCODE' class='a-clear mmenu__socials-item'>
        <svg width='20' height='20'><use xlink:href='sprite.svg#viber'></use></svg>
      </a>
      <a href='https://telegram.me/fitnessdeti' class='a-clear mmenu__socials-item'>
        <svg width='20' height='20'><use xlink:href='sprite.svg#telegram'></use></svg>
      </a>
      <a href='mailto:mail@mail.ru' class='a-clear mmenu__socials-item'>
        <svg width='20' height='20'><use xlink:href='sprite.svg#email'></use></svg>
      </a>
    </div>
  </div>
</template>
