<div class="moneybox-medals {{ params.class }}">
  <div class="moneybox-medals__container container typography">
    <h2 class="moneybox-medals__title">Копилка медалей FitnessDeti</h2>
    <div class="moneybox-medals__awards">
      <div class='moneybox-medals__award-inner'>
        <div class='moneybox-medals__award'>
          <div class='moneybox-medals__award-cup'><img width='150' height='317' loading="lazy" src='images/medals/silver.png' alt='' /></div>
          <div class='moneybox-medals__award-bottom moneybox-medals__award-bottom_silver'>
            <div class='moneybox-medals__award-amount'>97</div>
            <div class='moneybox-medals__award-title'>Серебра</div>
          </div>
        </div>
        <div class='moneybox-medals__award'>
          <div class='moneybox-medals__award-cup'><img width='150' height='376' loading="lazy" src='images/medals/gold.png' alt='' /></div>
          <div class='moneybox-medals__award-bottom moneybox-medals__award-bottom_gold'>
            <div class='moneybox-medals__award-amount'>135</div>
            <div class='moneybox-medals__award-title'>Золота</div>
          </div>
        </div>
        <div class='moneybox-medals__award'>
          <div class='moneybox-medals__award-cup'><img width='150' height='278' loading="lazy" src='images/medals/bronze.png' alt='' /></div>
          <div class='moneybox-medals__award-bottom moneybox-medals__award-bottom_bronze'>
            <div class='moneybox-medals__award-amount'>34</div>
            <div class='moneybox-medals__award-title'>Бронзы</div>
          </div>
        </div>
      </div>
      <div class="moneybox-medals__image">
        <img loading="lazy" width="688" height="445" src="images/medals/girl.png" alt="" />
      </div>
    </div>
    {% if params.btnText %}
      <div class='moneybox-medals__btn-wrapper'><button class='moneybox-medals__btn btn btn_type_accent '>{{ params.btnText }}</button></div>
    {% endif %}
  </div>
</div>
