<div class='order-swimsuit {{ params.class }}'>
  <div class='container typography'>
    <h2 class='order-swimsuit__title'>{{ params.title }}</h2>
    <div class='order-swimsuit__subtitle'>{{ params.subtitle }}</div>
    <div class='order-swimsuit__inner'>
      {% for item in params.items %}
      <div class='order-swimsuit__item'>
        <div class='order-swimsuit__content'>
          <div class='order-swimsuit__name-wrapper'>
            <div class='order-swimsuit__name'>{{ item.title }}</div>
            <div class='order-swimsuit__desc'>{{ item.subtitle }}</div>
          </div>
          <div class='order-swimsuit__price-wrapper'>
            <div class='order-swimsuit__price'>{{ item.price }}</div>
            <div class='order-swimsuit__time'><span class='order-swimsuit__slash'>\</span> {{ item.timing }}</div>
          </div>
        </div>
        <div class='order-swimsuit__btn-wrapper'>
          <button class='btn btn_type_accent  order-swimsuit__btn'>Заказать</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
