<div class='our-services {{ params.class }}'>
  <div class='container typography'>
    <h2 class='our-services__title'>{{ params.title }}</h2>
    <div class='our-services__inner'>
      {% for card in params.cards %}
        {{ block('card', {
          title: card.title,
          imageSm: card.imageSm,
          imageMd: card.imageMd,
          text: card.text,
          buttonText: card.buttonText
        }) }}
      {% endfor %}
    </div>
  </div>
</div>
