<div class='pagination'>
  <div class='pagination__pages'>
    <button class='btn pagination__button pagination__button_prev'><svg width='10' height='16'><use xlink:href='sprite.svg#arrow'></use></svg></button>
    <button class='btn pagination__button pagination__button_next'><svg width='10' height='16'><use xlink:href='sprite.svg#arrow'></use></svg></button>
    <button class='btn pagination__page'>1</button>
    <button class='btn pagination__page current'>2</button>
    <button class='btn pagination__page'>3</button>
    <button class='btn pagination__page'>4</button>
    <button class='btn pagination__page'>...</button>
    <button class='btn pagination__page'>34</button>
  </div>
</div>
