<div class='part-federations {{ params.class }}'>
  <div class='container typography'>
    <h2 class='part-federations__title'>Входим в состав федераций</h2>
    <div class='part-federations__inner'>
      <div class='part-federations__item'>
        <div class='part-federations__image'>
          <img loading="lazy" width='173' height='174' src='images/federation-gymnastic.png' alt='' />
        </div>
        <div class='part-federations__content'>
          <div class='part-federations__item-title'>Федерация художественной гимнастики</div>
          <div class='part-federations__text'>
            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых
            людей недоумение.
          </div>
        </div>
      </div>
      <div class='part-federations__item'>
        <div class='part-federations__image'>
          <img loading="lazy" width='173' height='174' src='images/federation-acrobatic.png' alt='' />
        </div>
        <div class='part-federations__content'>
          <div class='part-federations__item-title'>Федерация художественной гимнастики</div>
          <div class='part-federations__text'>
            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых
            людей недоумение.По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который
            вызывает у некторых людей недоумение.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
