<div class='photo-session {{ params.class }}'>
  <div class='container typography'>
    <h2 class='title title_center'>Фото с проведенных сессий</h2>
    <div class='photo-session__subtitle'>Фотографии наших учеников</div>
    <div class='photo-session__inner'>
      <div data-fancybox='demo' data-src='images/photo-session/1.jpg' class='photo-session__item'><img loading="lazy" width='168' height='220' src='images/photo-session/1.jpg' alt=''></div>
      <div data-fancybox='demo' data-src='images/photo-session/2.jpg' class='photo-session__item'><img loading="lazy" width='168' height='220' src='images/photo-session/2.jpg' alt=''></div>
      <div data-fancybox='demo' data-src='images/photo-session/3.jpg' class='photo-session__item'><img loading="lazy" width='168' height='220' src='images/photo-session/3.jpg' alt=''></div>
      <div data-fancybox='demo' data-src='images/photo-session/4.jpg' class='photo-session__item'><img loading="lazy" width='168' height='220' src='images/photo-session/4.jpg' alt=''></div>
      <div data-fancybox='demo' data-src='images/photo-session/5.jpg' class='photo-session__item'><img loading="lazy" width='168' height='220' src='images/photo-session/5.jpg' alt=''></div>
      <div data-fancybox='demo' data-src='images/photo-session/6.jpg' class='photo-session__item'><img loading="lazy" width='168' height='220' src='images/photo-session/6.jpg' alt=''></div>
      <div data-fancybox='demo' data-src='images/photo-session/7.jpg' class='photo-session__item'><img loading="lazy" width='168' height='220' src='images/photo-session/7.jpg' alt=''></div>
      <div data-fancybox='demo' data-src='images/photo-session/8.jpg' class='photo-session__item'><img loading="lazy" width='168' height='220' src='images/photo-session/8.jpg' alt=''></div>
    </div>
    <div class='photo-session__btn'><a href='' class='btn btn_type_primary a-clear'>Хочу фотосессию</a></div>
  </div>
</div>
