<div class='portfolio {{ params.class }}'>
  <div class='container typography'>
    <h2>Примеры портфолио</h2>
    <div class='portfolio__slider'>
      {{ block('carousel', {
        block: 'about-company-item',
        type: 'general',
        sliderName: 'general-slider',
        slides: [
          { image: 'images/card/9.png', link: 'Дешевое' },
          { image: 'images/card/9.png', link: 'Средне ценовое' },
          { image: 'images/card/9.png', link: 'Дорогое' },
          { image: 'images/card/9.png', link: 'Очень дорогое' },
          { image: 'images/card/9.png', link: 'Очень дорогое' }
        ]
      }) }}
    </div>
  </div>
</div>
