<div class='preparation {{ params.class }}'>
  <div class='container typography'>
    <div class='preparation__item'>
      <div class='preparation__title'>Подготовка индивидуальной и групповых программ для соревнований по:</div>
      <ul class='preparation__text ul-clear'>
          <li>Художественной гимнастике;</li>
          <li>Эстетической гимнастике;</li>
          <li>Спортивной акробатике;</li>
          <li>Спортивной гимнастике.</li>
      </ul>
    </div>
    <div class='preparation__item'>
      <div class='preparation__title'>Для уровня:</div>
      <ul class='preparation__text ul-clear'>
        <li> Юношеский разряды;</li>
        <li>Эстетической гимнастике;</li>
        <li>КМС;</li>
        <li>MС.</li>
      </ul>
    </div>
  </div>
</div>
