<div class='properties {{ params.class }}'>
  <div class='properties__container container typography'>
    <h2 class='title title_center'>{{ params.title }}</h2>
    <div class='properties__inner'>
      {% for item in params.items %}
        {{ block('properties-item', {
          sprite: item.sprite,
          title: item.title
        }) }}
      {% endfor %}
    </div>
  </div>
</div>
