<div class='properties-item'>
  <div class='properties-item__icon'>
    <svg width='60' height='60'><use xlink:href='sprite.svg#{{ params.sprite }}'></use></svg>
  </div>
  <div class='properties-item__line'></div>
  <div class='properties-item__title'>{{ params.title }}</div>
</div>
