<div class='purpose'>
  <div class='container purpose__container typography'>
    {{ block('watch-card') }}
  </div>
  <div class='container typography'>
    <div class='purpose__philosophy'>
      <div class='purpose__inner'>
        <div class='purpose__paragraph'>
          <h2>Цели и философия</h2>
          <div class='purpose__text'>
            Изменение отношения пользователей к коммерческому спорту;
            повышение качества спортивных услуг с учетом психологических и физических данных каждого воспитанника;
            открытие новых представительств компании в странах СНГ и Европы.
          </div>
        </div>

        <div class='purpose__paragraph'>
          <h2>Наша миссия</h2>
          <div class='purpose__text'>
              Наш подход к тренировочному процессу – наставнический, мы не просто воспитываем детей-спортсменов, мы выстраиваем тренировочный процесс исходя из психосоциальных особенностей детей, формируя в них способность быстрой адаптации к социальной среде при достижении высоких спортивных результатов.
          </div>
        </div>
      </div>
      <div class='purpose__img'>
        <img loading="lazy" width='343' height='250'  src='images/purpose/2.png' alt=''>
      </div>
    </div>
  </div>
</div>
