<div class="questions {{ params.class }}">
  <div class="questions__container container typography">
    <h2 class="questions__title">Вопросы и ответы</h2>
    <div class="questions__inner">
      <div class="questions__column">
        <details class="questions__details js-details">
          <summary class='questions__summary'>
            Первый вопрос, название этого вопроса в одну строку
          </summary>
          <div class='questions__content'>
            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых
            людей недоумение.
          </div>
        </details>
        <details class="questions__details js-details">
          <summary class='questions__summary'>
            Первый вопрос, название этого вопроса в одну строку
          </summary>
          <div class='questions__content'>
            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых
            людей недоумение.
          </div>
        </details>
        <details class="questions__details js-details">
          <summary class='questions__summary'>
            Первый вопрос, название этого вопроса в одну строку
          </summary>
          <div class='questions__content'>
            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых
            людей недоумение.
          </div>
        </details>
        <details class="questions__details js-details">
          <summary class='questions__summary'>
            Первый вопрос, название этого вопроса в одну строку
          </summary>
          <div class='questions__content'>
            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых
            людей недоумение.
          </div>
        </details>
        <details class="questions__details js-details">
          <summary class='questions__summary'>
            Первый вопрос, название этого вопроса в одну строку
          </summary>
          <div class='questions__content'>
            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых
            людей недоумение.
          </div>
        </details>
        <details class="questions__details js-details">
          <summary class='questions__summary'>
            Первый вопрос, название этого вопроса в одну строку
          </summary>
          <div class='questions__content'>
            По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некоторых
            людей недоумение.
          </div>
        </details>
      </div>
      <div class="questions__image"><img loading="lazy" width="451" height="554" src="images/questions-image.png" alt="" /></div>
    </div>
  </div>
</div>
