<div class='resume {{ params.class }}'>
  <div class='container'>
    <div class='resume__name'>Самойлова Кристина Вадимовна</div>
    <div class='resume__inner'>
      <div class='resume__item'>
        <div class='resume__title'>Образование:</div>
        <div class='resume__text'>
          Московский государственный Педагогический университет,
          институт Физической культуры и спорта, факультет спортивной тренировки.</div>
      </div>
      <div class='resume__item'>
        <div class='resume__title'>Спорт:</div>
        <div class='resume__text'>МС России по художественной гимнастике.</div>
      </div>
      <div class='resume__item'>
        <div class='resume__title'>Спортивная деятельность: </div>
        <div class='resume__text'>Победитель и призер международных и Всероссийских соревнований по художественной гимнастике.</div>
      </div>
      <div class='resume__item'>
        <div class='resume__title'>Тренерская деятельность: </div>
        <div class='resume__text'>тренер-преподаватель в СДЮШОРе №42 (2014-2016гг.)
          В FitnessDeti работает c 2016 года.</div>
      </div>
      <div class='resume__item'>
        <div class='resume__title'>О своей профессии:</div>
        <div class='resume__text'>"Для юной гимнастки самым необходимым считаю упорство и трудолюбие. Только с помощью них можно добиться результатов и стать "грацией".</div>
      </div>
    </div>
    <div class='resume__btn'><button class='btn btn_type_accent '>Хочу к этому тренеру</button></div>
  </div>
</div>
