<div class='reviews {{ params.class }}'>
  <div class='reviews__container container typography' data-swiper-type='reviews'>
    {% if params.title %}
      <h2 class='reviews__title'>{{ params.title }}</h2>
    {% else %}
      <h2 class='reviews__title'>Отзывы о нашей школе</h2>
    {% endif %}
    <div class='reviews__all'><a href='' class='btn btn_type_secondary'>{{ params.buttonText }}</a></div>
    <div class='reviews__slider-container swiper'>
      <div class='reviews__slider-wrapper swiper-wrapper'>
        <div class='reviews__slider-item swiper-slide'>
          <div class='reviews__avatar'><img loading="lazy" width='64' height='64' src='images/ava.png' alt='' /></div>
          <div class='reviews__content'>
            <a data-fancybox data-src='#review-modal' class='a-clear reviews__name'>Даеличева Анастасия</a>
            <div class='reviews__activity'>Художественная гимнастика</div>
            <div class="reviews__text">
              Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
              И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
              Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
              После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
              Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
              Спасибо!
            </div>
            <button class="btn reviews__more active">Читать далее</button>
            <button class="btn reviews__more">Скрыть</button>
          </div>
        </div>
        <div class="reviews__slider-item swiper-slide">
          <div class="reviews__avatar"><img loading="lazy" width='64' height='64' src="images/ava.png" alt="" /></div>
          <div class="reviews__content">
            <div class="reviews__name">Короткова Александра</div>
            <div class="reviews__activity">Художественная гимнастика</div>
            <div class="reviews__text">
              Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
              И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
              Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
              После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
              Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
              Спасибо!
            </div>
            <button class="btn reviews__more active">Читать далее</button>
            <button class="btn reviews__more">Скрыть</button>
          </div>
        </div>
        <div class="reviews__slider-item swiper-slide">
          <div class="reviews__avatar"><img loading="lazy" width='50' height='50' src="images/ava2.png" alt="" /></div>
          <div class="reviews__content">
            <div class="reviews__name">Короткова Александра</div>
            <div class="reviews__activity">Художественная гимнастика</div>
            <div class="reviews__text">
              Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
              И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
              Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
              После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
              Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
              Спасибо!
            </div>
            <button class="btn reviews__more active">Читать далее</button>
            <button class="btn reviews__more">Скрыть</button>
          </div>
        </div>
        <div class="reviews__slider-item swiper-slide">
          <div class="reviews__avatar"><img loading="lazy" width='64' height='64' src="images/ava.png" alt="" /></div>
          <div class="reviews__content">
            <div class="reviews__name">Даеличева Анастасия</div>
            <div class="reviews__activity">Художественная гимнастика</div>
            <div class='reviews__video'>
              <a data-fancybox data-src="https://www.youtube.com/watch?v=8ExCb8rQ5jI" class='a-clear reviews__video-img'>
                <img loading="lazy" width='241' height='135' src='images/reviews/1.png' alt=''>
                <button  class='btn reviews__video-btn'><svg width='14' height='14'><use xlink:href='sprite.svg#play'></use></svg></button>
              </a>
            </div>
            <div class="reviews__text">
              Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
              И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
              Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
              После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
              Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
              Спасибо!
            </div>
            <button class="btn reviews__more active">Читать далее</button>
            <button class="btn reviews__more">Скрыть</button>
          </div>
        </div>
      </div>
    </div>
    {{ block('carousel-arrows', {
    }) }}
    {% if params.buttonAccent %}
      <div class='reviews__like-wrapper'>
        <a data-fancybox data-src="#fancy-request" href='#!' class='a-clear btn btn_type_accent reviews__like'>{{ params.buttonAccent }}</a>
      </div>
    {% endif %}
    <div id='review-modal' class='review-modal' hidden>
      <div class='review-modal__container'>
        <div class='review-modal__img'><img loading="lazy" src='images/reviews/3.png' alt=''></div>
        <div class='review-modal__content'>
          <div class='review-modal__top'>
            <div class='review-modal__avatar'><img loading="lazy" src='images/ava.png' alt=''></div>
            <div class='review-modal__desc'>
              <div class='review-modal__name'>Даеличева Анастасия</div>
              <div class='review-modal__gymnastic'>Художественная гимнастика</div>
            </div>
          </div>
          <div class='review-modal__text'>
            Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
            И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
            Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
            После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
            Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
            Спасибо!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
