<div class='reviews-block {{ params.class }}'>
  <div class='container typography js-review-tabs'>
    <div class='reviews-block__title'>
      <h1>Отзывы о нашей школе</h1>
      <div class='reviews-block__buttons'>
        {{ block('tabs', {
          color: 'white',
          tabs: [
            { dataTab: 'all', btnText: 'Все отзывы', activeTab: 'active'  },
            { dataTab: 'video', btnText: 'Видео отзывы'  },
            { dataTab: 'text', btnText: 'Текстовые отзывы'}
          ]
        }) }}
      </div>
    </div>
    <div class='reviews-block__inner'>
      <div class='reviews-block__item js-tab-review active' data-tab='text'>
        <div class='reviews-block__img'><img width='500' height='300' loading="lazy" src='images/reviews/2.png' alt=''></div>
        <div class='reviews-block__content'>
          <div class='reviews-block__top'>
            <div class='reviews-block__avatar'><img width='64' height='64' loading="lazy" src='images/ava.png' alt=''></div>
            <div class='reviews-block__info'>
              <div class='reviews-block__name'>Даеличева Анастасия</div>
              <div class='reviews-block__activity'>Художественная гимнастика</div>
            </div>
          </div>
          <div class='reviews-block__text js-review__text'>
            Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
            И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
            Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
            После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
            Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
            Спасибо!
          </div>
          <button class='btn reviews-block__item-btn js-review__btn'>Читать далее</button>
          </div>
      </div>
      <div class='reviews-block__item js-tab-review active' data-tab='text'>
        <div class='reviews-block__img'><img width='500' height='300' loading="lazy" src='images/reviews/2.png' alt=''></div>
        <div class='reviews-block__content'>
          <div class='reviews-block__top'>
            <div class='reviews-block__avatar'><img width='64' height='64' loading="lazy" src='images/ava.png' alt=''></div>
            <div class='reviews-block__info'>
              <div class='reviews-block__name'>Даеличева Анастасия</div>
              <div class='reviews-block__activity'>Художественная гимнастика</div>
            </div>
          </div>
          <div class='reviews-block__text js-review__text'>
            Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
            И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
            Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
            После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
            Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
            Спасибо!
          </div>
          <button class='btn reviews-block__item-btn js-review__btn'>Читать далее</button>
          </div>
      </div>
      <div class='reviews-block__item js-tab-review active' data-tab='video'>
        <div  class='reviews-block__img'>
          <img width='500' height='300' loading="lazy" src='images/reviews/1.png' alt=''>
          <button data-fancybox data-src="https://www.youtube.com/watch?v=8ExCb8rQ5jI" class='btn reviews-block__item-btn-play'><svg width='23' height='23'><use xlink:href='sprite.svg#play'></use></svg></button>
        </div>
        <div class='reviews-block__content'>
          <div class='reviews-block__top'>
            <div class='reviews-block__avatar'><img width='64' height='64' loading="lazy" src='images/ava.png' alt=''></div>
            <div class='reviews-block__info'>
              <div class='reviews-block__name'>Даеличева Анастасия</div>
              <div class='reviews-block__activity'>Художественная гимнастика</div>
            </div>
          </div>
          <div class='reviews-block__mobile-video'>
            <img width='500' height='300'  loading="lazy" src='images/reviews/1.png' alt=''>
            <button data-fancybox data-src="https://www.youtube.com/watch?v=8ExCb8rQ5jI" class='btn reviews-block__video-play'><svg width='23' height='23'><use xlink:href='sprite.svg#play'></use></svg></button>
          </div>
          <div class='reviews-block__text js-review__text'>
            Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
            И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
            Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
            После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
            Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
            Спасибо!
          </div>
          <button class='btn reviews-block__item-btn js-review__btn'>Читать далее</button>
        </div>
      </div>
      <div class='reviews-block__item js-tab-review active' data-tab='video'>
        <div  class='reviews-block__img'>
          <img width='500' height='300' loading="lazy" src='images/reviews/1.png' alt=''>
          <button data-fancybox data-src="https://www.youtube.com/watch?v=8ExCb8rQ5jI" class='btn reviews-block__item-btn-play'><svg width='23' height='23'><use xlink:href='sprite.svg#play'></use></svg></button>
        </div>
        <div class='reviews-block__content'>
          <div class='reviews-block__top'>
            <div class='reviews-block__avatar'><img width='64' height='64' loading="lazy" src='images/ava.png' alt=''></div>
            <div class='reviews-block__info'>
              <div class='reviews-block__name'>Даеличева Анастасия</div>
              <div class='reviews-block__activity'>Художественная гимнастика</div>
            </div>
          </div>
          <div class='reviews-block__mobile-video'>
            <img width='500' height='300' loading="lazy" src='images/reviews/1.png' alt=''>
            <button data-fancybox data-src="https://www.youtube.com/watch?v=8ExCb8rQ5jI" class='btn reviews-block__video-play'><svg width='23' height='23'><use xlink:href='sprite.svg#play'></use></svg></button>
          </div>
          <div class='reviews-block__text js-review__text'>
            Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
            И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
            Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
            После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
            Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
            Спасибо!
          </div>
          <button class='btn reviews-block__item-btn js-review__btn'>Читать далее</button>
        </div>
      </div>
      <div class='reviews-block__item js-tab-review active' data-tab='text'>
        <div class='reviews-block__img'><img width='500' height='300' loading="lazy" src='images/reviews/2.png' alt=''></div>
        <div class='reviews-block__content'>
          <div class='reviews-block__top'>
            <div class='reviews-block__avatar'><img width='64' height='64' loading="lazy" src='images/ava.png' alt=''></div>
            <div class='reviews-block__info'>
              <div class='reviews-block__name'>Даеличева Анастасия</div>
              <div class='reviews-block__activity'>Художественная гимнастика</div>
            </div>
          </div>
          <div class='reviews-block__text js-review__text'>
            Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
            И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
            Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
            После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
            Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
            Спасибо!
          </div>
          <button class='btn reviews-block__item-btn js-review__btn'>Читать далее</button>
        </div>
      </div>
      <div class='reviews-block__item js-tab-review active' data-tab='text'>
        <div class='reviews-block__img'><img width='500' height='300' loading="lazy" src='images/reviews/2.png' alt=''></div>
        <div class='reviews-block__content'>
          <div class='reviews-block__top'>
            <div class='reviews-block__avatar'><img width='64' height='64' loading="lazy" src='images/ava.png' alt=''></div>
            <div class='reviews-block__info'>
              <div class='reviews-block__name'>Даеличева Анастасия</div>
              <div class='reviews-block__activity'>Художественная гимнастика</div>
            </div>
          </div>
          <div class='reviews-block__text js-review__text'>
            Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
            И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
            Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
            После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
            Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
            Спасибо!
          </div>
          <button class='btn reviews-block__item-btn js-review__btn'>Читать далее</button>
          </div>
      </div>
      <div class='reviews-block__item js-tab-review active' data-tab='video'>
        <div  class='reviews-block__img'>
          <img width='500' height='300' loading="lazy" src='images/reviews/1.png' alt=''>
          <button data-fancybox data-src="https://www.youtube.com/watch?v=8ExCb8rQ5jI" class='btn reviews-block__item-btn-play'><svg width='23' height='23'><use xlink:href='sprite.svg#play'></use></svg></button>
        </div>
        <div class='reviews-block__content'>
          <div class='reviews-block__top'>
            <div class='reviews-block__avatar'><img width='64' height='64' loading="lazy" src='images/ava.png' alt=''></div>
            <div class='reviews-block__info'>
              <div class='reviews-block__name'>Даеличева Анастасия</div>
              <div class='reviews-block__activity'>Художественная гимнастика</div>
            </div>
          </div>
          <div class='reviews-block__mobile-video'>
            <img width='500' height='300' loading="lazy" src='images/reviews/1.png' alt=''>
            <button data-fancybox data-src="https://www.youtube.com/watch?v=8ExCb8rQ5jI" class='btn reviews-block__video-play'><svg width='23' height='23'><use xlink:href='sprite.svg#play'></use></svg></button>
          </div>
          <div class='reviews-block__text js-review__text'>
            Мой сын занимается акробатикой первый год. Нас взяли в 9 лет, а до этого мы ничем не занимались. Наш тренер с первых занятий нашла подход и справилась с этой ситуацией. Результат не заставил себя ждать! Через месяц занятий мой сын сел на шпагат. Большой неожиданностью для нас стало то, что еще через месяц тренировок нас перевели в более сильную группу!
            И понеслось... мостик, стойка на голове, колесо, рондат, переворот назад...
            Мой сын всегда с большим удовольствием ходит на тренировки. На занятиях "не забалуешься", но я считаю, что в спорте должна быть дисциплина. Тренировки нацелены на результат, детей готовят на соревнования, ставят им номера.
            После практически каждой тренировки мы (родители) можем посмотреть фото и видеоматериал с тренировки. Это очень удобно! Можно отследить результат занятий.
            Хочу выразить огромную благодарность тренерскому составу FD, организаторам и всем всем всем за терпение, старание и любовь к нашим детям.
            Спасибо!
          </div>
          <button class='btn reviews-block__item-btn js-review__btn'>Читать далее</button>
        </div>
      </div>

    </div>
    <div class='reviews-block__btn'><button class='btn btn_type_secondary'>Показать еще</button></div>
  </div>
</div>
