<div class='sales-blocks'>
  {% for item in params.items  %}
    {{ block('banner-info', {
      side: item.side,
      imageSmall: item.imageSmall,
      imageFull: item.imageFull,
      title: item.title,
      button: item.button,
      buttonText: item.buttonText,
      text: item.text,
      list: item.list
    }) }}
  {% endfor %}
</div>
