<div class='sample-form {{ params.class }}'>
  {{ block('banner-info', {
    imageFull: 'images/banner-info/branded-form-lg.png',
    imageSmall: 'images/branded-form/2.png',
    title: 'Художественная гимнастика',
    button: 'accent',
    buttonText: 'Купить форму',
    list: [
      'Данные о наборах;',
      'Данные о набора;',
      'Данные о набора.'
    ]
  }) }}
  {{ block('banner-info', {
    imageFull: 'images/banner-info/branded-form-lg.png',
    imageSmall: 'images/branded-form/2.png',
    title: 'Художественная гимнастика',
    button: 'accent',
    buttonText: 'Купить форму',
    list: [
      'Данные о наборах;',
      'Данные о набора;',
      'Данные о набора.'
    ]
  }) }}
</div>
