<div class="school {{ params.class }}">
  <div class='container typography'>
    <div class='school__container'>
      <div class='school__map js-school-map'
           data-name='Ясенево'
           data-latitude='55.604534'
           data-longitude='37.520069'
           data-address='Вильнюсская улица, 6к2'
      ></div>
      <div class='school__buttons'>
        <a href='#!' class='a-clear btn btn_size_sm btn_type_primary'>Позвонить</a>
        <button data-fancybox data-src="#fancy-call-me" class='btn btn_size_sm btn_type_accent'>Записаться</button>
        <a href='#!' class='a-clear btn btn_size_sm btn_type_secondary-white'>Маршрут</a>
      </div>
      <div class='school__title'><h1>Спортивная школа Fitness Deti - м. Ясенево</h1></div>
      <div class='school__inner'>
        <div class='school__item'>
          <div><b>Метро:</b></div>
          <div>Ясенево; Теплый стан</div>
        </div>
        <div class='school__item'>
          <div><b>Телефон:</b></div>
          <div>+7-495-773-95-73</div>
        </div>
        <div class='school__item'>
          <div><b>Адрес:</b></div>
          <div>Вильнюсская улица, 6, корп. 2</div>
        </div>
        <div class='school__item'>
          <div><b>Часы работы:</b></div>
          <div>Пн-Сб 10:00-22:00</div>
        </div>
        <div class='school__item school__item_how'>
          <div><b>Как добраться:</b></div>
          <div>Пешком от метро Ясенево 12 минут. Либо на автобусе от м. Ясенево 264 автобус в направлении: 5-й микрорайон Теплого Стана 3 остановки. Или от м. Теплый стан 81 троллейбус в направлении: ст. м. Битцевский парк 2 остановки.</div>
        </div>
      </div>
    </div>
  </div>
</div>
