<div class='school-card js-school-card' data-find-id={{ params.id }}>
  {% if params.metro %}
    <a href='#!' class='a-clear school-card__icon school-card__icon_metro'>
      <svg width="20" height="20"><use xlink:href='sprite.svg#metro'></use></svg>
    </a>
  {% else %}
    <a href='#!' class='a-clear school-card__icon school-card__icon'>
      <svg width="20" height="20"><use xlink:href='sprite.svg#building'></use></svg>
    </a>
  {% endif %}
  <div class='school-card__address'>
    <a href='#!' class='a-clear school-card__name'>{{ params.name }}</a>
    <a href='#!' class='a-clear school-card__street'>{{ params.address }}</a>
  </div>
  <div class='school-card__contacts'>
    <a href='tel:+7{{ params.tel }}' class='school-card__tel a-clear'>+7-{{ params.telString }}</a>
    <div class='school-card__socials'>
      <a href='https://wa.me/{{ params.whatsapp }}' class='a-clear school-card__social school-card__social_whatsapp'>
        <svg width='14' height='14'>
          <use xlink:href='sprite.svg#whatsapp'></use>
        </svg>
      </a>
      <a href="https://telegram.me/{{ params.telegram }}" class='a-clear school-card__social school-card__social_telegram'>
        <svg width='14' height='14'>
          <use xlink:href='sprite.svg#telegram'></use>
        </svg>
      </a>
    </div>
  </div>
</div>

