<div class='senior-trainers {{ params.class }}'>
  <div class='senior-trainers__container container typography'>
    <h2 class='senior-trainers__title'>{{ params.title }}</h2>
    <div class='senior-trainers__trainers {{ 'senior-trainers__trainers_center' if params.center }}'>
      {% for item in params.items %}
        {{ block('coach-main-card', {
          image: item.image,
          name: item.itemName,
          color: item.color,
          sprite: item.sprite,
          certificate: item.certificate,
          position: item.position,
          specialty: item.specialty,
          short: item.short,
          direction: item.direction,
          kpi: [
            {
              color: 'red',
              sprite: 'medal',
              amount: '1200',
              title: 'Медалей получено',
              titleMobile: 'Медалей',
              size: 'small'
            },
            {
              color: 'green',
              sprite: 'ribbon',
              amount: '900',
              title: 'Разрядов по всей школе',
              titleMobile: 'Разрядов',
              size: 'small'
            },
            {
              color: 'purple',
              sprite: 'children',
              amount: '5200',
              title: 'Детей обучено за 10 лет',
              titleMobile: 'Детей',
              size: 'small'
            }
          ]
        }) }}
      {% endfor %}
    </div>

    <div class='senior-trainers__trainers senior-trainers__trainers_mobile'>
      {% for item in params.items %}
        {{ block('catalog-item', {
          image: item.image,
          certificate: item.certificate,
          itemName: item.itemName,
          itemInfo: item.itemInfo,
          sprite: item.sprite
        }) }}
      {% endfor %}
    </div>

    <div class='senior-trainers__title senior-trainers__title_second'>
      <h2>Требования к нашим тренерам</h2>
    </div>
    <div class='senior-trainers__inner'>
      {% for card in params.cards %}
        {{ block('properties-item', {
          color: card.color,
          sprite: card.sprite,
          title: card.title
        }) }}
      {% endfor %}
    </div>
  </div>
</div>
