<div class='services-second {{ params.class }}'>
  <div class='container typography'>
    <h2>Наши услуги</h2>
    <div class='services-second__inner'>
      <a href='#!' class='a-clear services-second__item services-second__item_md'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/1.png' alt=''></div>
        <div class='services-second__title'><span>Художественная</span><br><span>гимнастика</span></div>
      </a>
      <a href='#!' class='a-clear services-second__item services-second__item_md'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/2.png' alt=''></div>
        <div class='services-second__title'><span>Спортивная</span><br><span>акробатика</span></div>
      </a>
      <a href='#!' class='a-clear services-second__item services-second__item_md'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/3.png' alt=''></div>
        <div class='services-second__title'><span>Персональные</span><br><span>тренировки</span></div>
      </a>
      <a href='#!' class='a-clear services-second__item'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/4.png' alt=''></div>
        <div class='services-second__title services-second__title_string'>Постановка программ</div>
      </a>
      <a href='#!' class='a-clear services-second__item'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/5.png' alt=''></div>
        <div class='services-second__title services-second__title_string'>Онлайн</div>
      </a>
      <a href='#!' class='a-clear services-second__item'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/5.png' alt=''></div>
        <div class='services-second__title services-second__title_string'>Страховка</div>
      </a>
      <a href='#!' class='a-clear services-second__item'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/6.png' alt=''></div>
        <div class='services-second__title services-second__title_string'>Мастер классы</div>
      </a>
      <a href='#!' class='a-clear services-second__item'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/7.png' alt=''></div>
        <div class='services-second__title services-second__title_string'>Пошив и аренда</div>
      </a>
      <a href='#!' class='a-clear services-second__item'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/8.png' alt=''></div>
        <div class='services-second__title services-second__title_string'>Фото сессии</div>
      </a>
      <a href='#!' class='a-clear services-second__item'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/9.png' alt=''></div>
        <div class='services-second__title services-second__title_string'>Форма</div>
      </a>
      <a href='#!' class='a-clear services-second__item'>
        <div class='services-second__img'><img width='390' height='260' loading="lazy" src='images/services-second/10.png' alt=''></div>
        <div class='services-second__title services-second__title_string'>Интернет-магазин</div>
      </a>
    </div>
  </div>
</div>
