<div class='services {{ params.class }}'>
  <div class='container typography'>
    <h2>Наши услуги</h2>
    <div class='services__inner'>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/1.png' alt=''>
          <div class='services__text'>Художественная гимнастика</div>
      </a>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/12.png' alt=''>
          <div class='services__text'>Спортивная акробатика</div>
      </a>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/3.png' alt=''>
          <div class='services__text'>Персональные тренировки</div>
      </a>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/11.png' alt=''>
          <div class='services__text'>Постановка программ</div>
      </a>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/4.png' alt=''>
          <div class='services__text'>Онлайн</div>
      </a>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/13.png' alt=''>
          <div class='services__text'>Страховка</div>
      </a>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/5.png' alt=''>
          <div class='services__text'>Мастер классы</div>
      </a>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/9.png' alt=''>
          <div class='services__text'>Постановка программ</div>
      </a>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/6.png' alt=''>
          <div class='services__text'>Фото сессии</div>
      </a>
      <a href='#!' class='a-clear services__item'>
          <img loading="lazy" width='124' height='124' src='images/services/10.png' alt=''>
          <div class='services__text'>Форма</div>
      </a>
      <a href='#!' class='a-clear services__item services__item_shop'>
          <img loading="lazy" width='124' height='124' src='images/services/7.png' alt=''>
          <div class='services__text'>Интернет магазин </div>
      </a>
    </div>
  </div>
</div>
