<div class='sport-cards {{ params.class }}'>
  <div class='container typography'>
    <h2 class='sport-cards__title'>{{ params.title }}</h2>
    <div class='sport-cards__inner'>
      <div class='sport-cards__item'>
        <div class='sport-cards__text'>
          <b>Приглашенный специалист</b> для постановки программы
        </div>
        <div class='sport-cards__icon'>
          <svg width="44" height="44"><use xlink:href='sprite.svg#man'></use></svg>
        </div>
      </div>
      <div class='sport-cards__item'>
        <div class='sport-cards__text'>
          Подбираем и режем <b>музыку</b>
        </div>
        <div class='sport-cards__icon'>
          <svg width="44" height="44"><use xlink:href='sprite.svg#music'></use></svg>
        </div>
      </div>
      <div class='sport-cards__item'>
        <div class='sport-cards__text'>
          <b>Постановка программы</b> под индивидуальные особенности ребенка
        </div>
        <div class='sport-cards__icon'>
          <svg width="44" height="44"><use xlink:href='sprite.svg#child'></use></svg>
        </div>
      </div>
      <div class='sport-cards__item sport-cards__item_long'>
        <div class='sport-cards__text'>
          <b>Снимаем на видео</b> вместе со спецом
        </div>
        <div class='sport-cards__icon'>
          <svg width="44" height="44"><use xlink:href='sprite.svg#video-camera-analog'></use></svg>
        </div>
      </div>
      <div class='sport-cards__item sport-cards__item_long'>
        <div class='sport-cards__text'>
          <b>Пишем карточку выступления</b> состав программы, порядок проведения, стоимость в баллах и обозначение
        </div>
        <div class='sport-cards__icon'>
          <svg width="44" height="44"><use xlink:href='sprite.svg#to-do-list'></use></svg>
        </div>
      </div>
    </div>
    <div class='sport-cards__btn-wrapper'>
      <button class='btn btn_type_accent sport-cards__btn'>Заказать программу</button>
    </div>
  </div>
</div>
