<div class='store {{ params.class }}'>
  <div class='container'>
    <div class='store__inner'>
      <img loading="lazy" class='store__bg' width='343' height='300' src='images/branded-form/3.png' alt=''>
      <a class='a-clear store__icon' href=''>
        <img loading="lazy" width='222' height='119'  src='images/branded-form/store.png' alt=''>
        <span class='store__text'>- интернет магазин</span>
      </a>
      <div class='store__btn'><button class='btn btn_type_primary'>Магазин FD Store</button></div>
    </div>
  </div>
</div>
