<div class="students {{ params.class }}">
  <div class="container typography">
    <h2 class="students__title">{{ params.title }}</h2>
    <div class='students__slider'>
      {{ block('carousel', {
        type: 'students',
        slides: params.slides,
        block: 'student'
      }) }}
    </div>
    <div class='students__btn'><button class='btn btn_type_accent'>{{ params.btnText }}</button></div>
  </div>
</div>
