<a href='#!' class="student {{ params.class }} swiper-slide a-clear">
  <div class="student__image">
    <img loading="lazy" width="310" height="360" src={{ params.image}} alt="" />
    {% if params.label %}
      <div class='student__label'><svg width="35" height="45" ><use xlink:href='sprite.svg#label-{{ params.label }}'></use></svg></div>
    {% endif %}
  </div>
  <div class="student__content">
    <div class="student__name">{{ params.itemName }}</div>
    <div class="student__text">{{ params.text }}</div>
    <div class="student__text">{{ params.grade }}</div>
  </div>
</a>
