<ul class='tabs ul-clear tabs_{{ params.color }}'>
  {% for tab in params.tabs %}
    {{ block('tab', {
      activeTab: tab.activeTab,
      dataTab: tab.dataTab,
      btnText: tab.btnText
    }) }}
  {% endfor %}
</ul>
