<div class='talisman {{ params.class }}'>
  <div class='container typography'>
    <h2 class='talisman__title'>Талисман</h2>
    <div class='talisman__inner'>
      {{ block('watch-card') }}
      <img width='584' height='405' loading="lazy" class='talisman__img' src='images/purpose/2.png' alt=''>
    </div>
    <div class='talisman__slider' data-swiper-type='talisman'>
      <div class='swiper talisman__slider-container'>
        <div class='swiper-wrapper talisman__slider-wrapper'>
          <div class='talisman__item swiper-slide'><img loading="lazy" width='168' height='148' src='images/talisman/1.png' alt=''></div>
          <div class='talisman__item swiper-slide'><img loading="lazy" width='168' height='148' src='images/talisman/1.png' alt=''></div>
          <div class='talisman__item swiper-slide'><img loading="lazy" width='168' height='148' src='images/talisman/1.png' alt=''></div>
          <div class='talisman__item swiper-slide'><img loading="lazy" width='168' height='148' src='images/talisman/1.png' alt=''></div>
          <div class='talisman__item swiper-slide'><img loading="lazy" width='168' height='148' src='images/talisman/1.png' alt=''></div>
          <div class='talisman__item swiper-slide'><img loading="lazy" width='168' height='148' src='images/talisman/1.png' alt=''></div>
        </div>
      </div>
      {{ block('carousel-arrows') }}
    </div>
    <a href='' class='a-clear btn btn_type_secondary talisman__show-more'>Показать еще</a>
  </div>
</div>
