<div class='teaching-groups-horizontal'>
  <div class='container typography'>
    <h2 class='teaching-groups-horizontal__title'>Группы обучения</h2>
    <div class='teaching-groups-horizontal__subtitle'>Художественная гимнастика представлена четырьмя группами</div>
    <div class='teaching-groups-horizontal__inner'>
      <div class='teaching-groups-horizontal__item'>
        <div class='teaching-groups-horizontal__item-top'>
          <div class='teaching-groups-horizontal__gymnastic'>
            <div class='teaching-groups-horizontal__name'>Художественная гимнастика</div>
            <div class='teaching-groups-horizontal__desc'>Для тех кто только начинает. 2 раза в неделю по 1 часу</div>
            <div class='teaching-groups-horizontal__amount'>
              <div class='teaching-groups-horizontal__price'>6 000 &#8381</div>
              <div class='teaching-groups-horizontal__duration'>/ в месяц</div>
            </div>
          </div>
          <div class='teaching-groups-horizontal__icon teaching-groups-horizontal__icon_color_pink'><svg width='50' height='50'><use xlink:href='sprite.svg#dancer'></use></svg></div>
        </div>
        <div class='teaching-groups-horizontal__item-bottom'>
          <div class='teaching-groups-horizontal__group'>
            <div class='teaching-groups-horizontal__group-name'>Начальная группа</div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Возраст:</div>
              <div class='teaching-groups-horizontal__group-value'>от 5 до 9 лет</div>
            </div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Наполняемость:</div>
              <div class='teaching-groups-horizontal__group-value'>не более 12 человек</div>
            </div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Цена часа:</div>
              <div class='teaching-groups-horizontal__group-value'>от 290 ₽ /час</div>
            </div>
            <button data-fancybox data-src="#fancy-lesson" class='teaching-groups-horizontal__btn btn btn_type_accent-secondary btn_size_sm'>Записаться</button>
          </div>
          <div class='teaching-groups-horizontal__group'>
            <div class='teaching-groups-horizontal__group-name'>Продвинутая группа</div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Возраст:</div>
              <div class='teaching-groups-horizontal__group-value'>от 5 до 9 лет</div>
            </div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Наполняемость:</div>
              <div class='teaching-groups-horizontal__group-value'>не более 12 человек</div>
            </div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Цена часа:</div>
              <div class='teaching-groups-horizontal__group-value'>от 290 ₽ /час</div>
            </div>
            <button data-fancybox data-src="#fancy-lesson" class='teaching-groups-horizontal__btn btn btn_type_accent-secondary btn_size_sm'>Записаться</button>
          </div>
        </div>
      </div>
      <div class='teaching-groups-horizontal__item'>
        <div class='teaching-groups-horizontal__item-top'>
          <div class='teaching-groups-horizontal__gymnastic'>
            <div class='teaching-groups-horizontal__name'>Художественная гимнастика</div>
            <div class='teaching-groups-horizontal__desc'>Для тех кто только начинает. 2 раза в неделю по 1 часу</div>
            <div class='teaching-groups-horizontal__amount'>
              <div class='teaching-groups-horizontal__price'>6 000 &#8381</div>
              <div class='teaching-groups-horizontal__duration'>/ в месяц</div>
            </div>
          </div>
          <div class='teaching-groups-horizontal__icon teaching-groups-horizontal__icon_color_blue'><svg width='50' height='50'><use xlink:href='sprite.svg#gymnast'></use></svg></div>
        </div>
        <div class='teaching-groups-horizontal__item-bottom'>
          <div class='teaching-groups-horizontal__group'>
            <div class='teaching-groups-horizontal__group-name'>Начальная группа</div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Возраст:</div>
              <div class='teaching-groups-horizontal__group-value'>от 5 до 9 лет</div>
            </div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Наполняемость:</div>
              <div class='teaching-groups-horizontal__group-value'>не более 12 человек</div>
            </div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Цена часа:</div>
              <div class='teaching-groups-horizontal__group-value'>от 290 ₽ /час</div>
            </div>
            <button data-fancybox data-src="#fancy-lesson" class='teaching-groups-horizontal__btn btn btn_type_accent-secondary btn_size_sm'>Записаться</button>
          </div>
          <div class='teaching-groups-horizontal__group'>
            <div class='teaching-groups-horizontal__group-name'>Продвинутая группа</div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Возраст:</div>
              <div class='teaching-groups-horizontal__group-value'>от 5 до 9 лет</div>
            </div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Наполняемость:</div>
              <div class='teaching-groups-horizontal__group-value'>не более 12 человек</div>
            </div>
            <div class='teaching-groups-horizontal__group-row'>
              <div class='teaching-groups-horizontal__group-key'>Цена часа:</div>
              <div class='teaching-groups-horizontal__group-value'>от 290 ₽ /час</div>
            </div>
            <button data-fancybox data-src="#fancy-lesson" class='teaching-groups-horizontal__btn btn btn_type_accent-secondary btn_size_sm'>Записаться</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
