<div class="teaching-groups-item {{ 'teaching-groups-item_overflow' if params.overflow }}">
  <div class="teaching-groups-item__top">
    <div class="teaching-groups-item__column">
      <div class="teaching-groups-item__name">{{ params.title }}</div>
      <div class="teaching-groups-item__description">
        <div>{{ params.descGrade }}</div>
        <div>{{ params.descDuration }}</div>
      </div>
      <button class="btn teaching-groups-item__details js-teaching-groups-item__details">Подробнее</button>
    </div>
    <div class="teaching-groups-item__column ">
      <div class="teaching-groups-item__price teaching-groups-item__price_color_{{ params.color }}">{{ params.price }}</div>
      <div class="teaching-groups-item__time">в месяц</div>
    </div>
  </div>
  <div class="teaching-groups-item__bottom">
    <div class='teaching-groups-item__title'>Начальная группа</div>
    <div class="teaching-groups-item__row">
      <div class="teaching-groups-item__row-key">Возраст:</div>
      <div class="teaching-groups-item__row-value">от 5 до 9 лет</div>
    </div>
    <div class="teaching-groups-item__row">
      <div class="teaching-groups-item__row-key">Наполняемость:</div>
      <div class="teaching-groups-item__row-value">не более 12 человек</div>
    </div>
    <div class="teaching-groups-item__row">
      <div class="teaching-groups-item__row-key">Цена часа:</div>
      <div class="teaching-groups-item__row-value">от 290 ₽ /час</div>
    </div>
    <div class="teaching-groups-item__buttons">
      <button class="btn teaching-groups-item__hide js-teaching-groups-item__hide"></button>
      <button data-fancybox data-src="#fancy-lesson" class="btn btn_type_accent-secondary teaching-groups-item__sign-up">Записаться</button>
    </div>
  </div>
  <div class="teaching-groups-item__bottom">
    <div class='teaching-groups-item__title'>Продвинутая группа</div>
    <div class="teaching-groups-item__row">
      <div class="teaching-groups-item__row-key">Возраст:</div>
      <div class="teaching-groups-item__row-value">от 5 до 9 лет</div>
    </div>
    <div class="teaching-groups-item__row">
      <div class="teaching-groups-item__row-key">Наполняемость:</div>
      <div class="teaching-groups-item__row-value">не более 12 человек</div>
    </div>
    <div class="teaching-groups-item__row">
      <div class="teaching-groups-item__row-key">Цена часа:</div>
      <div class="teaching-groups-item__row-value">от 290 ₽ /час</div>
    </div>
    <div class="teaching-groups-item__buttons">
      <button class="btn teaching-groups-item__hide js-teaching-groups-item__hide">Скрыть</button>
      <button data-fancybox data-src="#fancy-lesson" class="btn btn_type_accent-secondary teaching-groups-item__sign-up">Записаться</button>
    </div>
  </div>
</div>
