<div class="teaching-groups-item {{ params.class }}">
  {% if params.label %}
    <div class='teaching-groups-item__label'>
      {{ params.label }}
    </div>
  {% endif %}
  <div class="teaching-groups-item__top">
    <div class="teaching-groups-item__column">
      <div class="teaching-groups-item__name">{{ params.title }}</div>
      <div class="teaching-groups-item__description">
        <div>{{ params.descGrade }}</div>
        <div>{{ params.descDuration }}</div>
      </div>
      <button class="btn teaching-groups-item__details js-teaching-groups-item__details">Подробнее</button>
    </div>
    <div class="teaching-groups-item__column">
      <div class="teaching-groups-item__price">{{ params.price }}</div>
      <div class="teaching-groups-item__time">в месяц</div>
    </div>
  </div>
  <div class="teaching-groups-item__bottom">
    <div class="teaching-groups-item__row">
      <div class="teaching-groups-item__row-key">Возраст:</div>
      <div class="teaching-groups-item__row-value">{{ params.age }}</div>
    </div>
    <div class="teaching-groups-item__row">
      <div class="teaching-groups-item__row-key">Наполняемость:</div>
      <div class="teaching-groups-item__row-value">{{ params.occupancy }}</div>
    </div>
    <div class="teaching-groups-item__row">
      <div class="teaching-groups-item__row-key">Цена часа:</div>
      <div class="teaching-groups-item__row-value">{{ params.priceHour }}</div>
    </div>
    {% if params.trainer %}
      <div class="teaching-groups-item__row">
        <div class="teaching-groups-item__row-key">Тренеры:</div>
        <div class="teaching-groups-item__row-value">{{ params.trainer }}</div>
      </div>
    {% endif %}

    <div class="teaching-groups-item__buttons">
      <button class="btn teaching-groups-item__hide js-teaching-groups-item__hide">Скрыть</button>
      <button data-fancybox data-src="#fancy-lesson" class="btn btn_type_accent-secondary teaching-groups-item__sign-up">Записаться</button>
    </div>
  </div>
</div>
