<div class="teaching-groups {{ params.class }}">
  <div class="teaching-groups__container container typography">
    <h2 class="teaching-groups__title">{{ params.title }}</h2>
    <div class="teaching-groups__subtitle">{{ params.subtitle }}</div>
    {% if params.switch %}
      <input name='switch' class="teaching-groups__switch-input teaching-groups__switch-input_left" type='radio' id='left'  >
      <input name='switch' class="teaching-groups__switch-input teaching-groups__switch-input_right" type='radio' id='right' checked>
      <div class='teaching-groups__switch'>
        <label class='teaching-groups__switch-label teaching-groups__switch-label_left' for='left'>1 час</label>
        <span class="teaching-groups__switch-slider js-switch-slider"></span>
        <label class='teaching-groups__switch-label teaching-groups__switch-label_right' for='right'>1.5 час</label>
      </div>
    {% endif %}

      <div class="teaching-groups__inner teaching-groups__inner_type_left">
        {% for item in params.items %}
          {{ block(params.size , {
            title: item.title,
            descGrade: item.descGrade,
            descDuration: item.descDuration,
            price: item.price,
            age: item.age,
            occupancy: item.occupancy,
            priceHour: item.priceHour,
            trainer: item.trainer,
            timing: item.timing,
            label: item.label,
            overflow: item.overflow,
            color: item.color,
            small: item.small
          }) }}
        {% endfor %}
      </div>

      <div class="teaching-groups__inner teaching-groups__inner_type_right">
        {% for item in params.items %}
          {{ block(params.size , {
            title: item.title,
            descGrade: item.descGrade,
            descDuration: item.descDuration,
            price: item.price,
            age: item.age,
            occupancy: item.occupancy,
            priceHour: item.priceHour,
            trainer: item.trainer,
            timing: item.timing,
            label: item.label,
            overflow: item.overflow,
            color: item.color,
            small: item.small
          }) }}
        {% endfor %}
      </div>
  </div>
</div>
