<div class="timetable {{ params.class }}">
  <div class="timetable__container container typography">
    {% if params.title %}
      <h2 class="timetable__title">{{ params.title }}</h2>
    {% endif %}
    <div class="timetable__timetable-inner">
      <div class="timetable__content">
        <div class="timetable__row">
          <div class="timetable__row-text">
            <div class="timetable__row-title">Удобное расписание</div>
            <div class="timetable__row-subtitle">Вечерние или утрениие группы</div>
          </div>
          <div class="timetable__row-icon">
            <svg width="30" height="30">
              <use xlink:href="sprite.svg#calendar"></use>
            </svg>
          </div>
        </div>
        <div class="timetable__row">
          <div class="timetable__row-text">
            <div class="timetable__row-title">Различные уровни групп</div>
            <div class="timetable__row-subtitle">Занятия от 2 до 5 раз в неделю</div>
          </div>
          <div class="timetable__row-icon">
            <svg width="30" height="30">
              <use xlink:href="sprite.svg#graph"></use>
            </svg>
          </div>
        </div>
        <div class="timetable__row">
          <div class="timetable__row-text">
            <div class="timetable__row-title">Группы комфортной числености</div>
            <div class="timetable__row-subtitle">Группы до 12 детей</div>
          </div>
          <div class="timetable__row-icon">
            <svg width="30" height="30">
              <use xlink:href="sprite.svg#group"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="timetable__image">
        <img width='688' height='375' loading="lazy" src="images/classes-image.png" alt="" />
        <button data-fancybox data-src="#fancy-timetable" class="timetable__image-btn btn btn_type_accent">Узнать подробное расписание</button>
      </div>
    </div>
    <button data-fancybox data-src="#fancy-timetable" class="timetable__btn btn btn_type_accent">Узнать подробное расписание</button>
  </div>
</div>
