<div class='trainer-profile'>
  <div class='container typography trainer-profile__container'>
    <div class='trainer-profile__inner'>
      <div class='trainer-profile__image'>
        {{ block('coach-main-card', {
          image: params.coach.image,
          name: params.coach.name,
          color: params.coach.color,
          sprite: params.coach.sprite,
          position: params.coach.position,
          specialty: params.coach.specialty,
          certificate: params.coach.certificate
        }) }}
      </div>
      <div class='trainer-profile__kpi'>
        <div class='trainer-profile__item trainer-profile__item_green'>
          <div class='trainer-profile__count'>{{ params.coach.medals }}</div>
          <div class='trainer-profile__divide'></div>
          <div class='trainer-profile__text'>Медалей</div>
        </div>
        <div class='trainer-profile__item'>
          <img width='250' height='260' loading="lazy" class='trainer-profile__img' alt='' src='images/trainer-profile/1.png'>
        </div>
        <div class='trainer-profile__item trainer-profile__item_green'>
          <div class='trainer-profile__count'>{{ params.coach.childrens }}</div>
          <div class='trainer-profile__divide'></div>
          <div class='trainer-profile__text'>Детей</div>
        </div>
        <div class='trainer-profile__item'>
          <img width='250' height='260'  loading="lazy" class='trainer-profile__img' alt='' src='images/trainer-profile/2.png'>
        </div>
        <div class='trainer-profile__item trainer-profile__item_red'>
          <div class='trainer-profile__count'>{{ params.coach.levels }}</div>
          <div class='trainer-profile__divide'></div>
          <div class='trainer-profile__text'>Разрядов</div>
        </div>
        <div class='trainer-profile__item'>
          <img width='250' height='260'  loading="lazy" class='trainer-profile__img' alt='' src='images/trainer-profile/3.png'>
        </div>
      </div>
    </div>
  </div>
</div>
