<div class='trainers js-trainers {{ params.class }}'>
  <div class='trainers__container container typography'>
    <h2 class='trainers__title'>Тренеры</h2>
    <label class='trainers__search search'>
      <input class='js-trainers-input' type='text' placeholder='Введите имя тренера'>
      <button class='btn btn_type_accent '>Поиск</button>
    </label>
    <div class='trainers__filter'>
      <div class='trainers__filter-item'>
        {{ block('form-input',  {
          label: 'Художественная гимнастика', name: 'filter', value: 'gymnastic', type: 'checkbox' })
        }}
      </div>
      <div class='trainers__filter-item'>
        {{ block('form-input',  {
          label: 'Спортивная акробатика', name: 'filter', value: 'acrobatic', type: 'checkbox' })
        }}
      </div>
    </div>
  </div>
  <div class='trainers__catalog'>
    {{ block('catalog', {
      items: params.items,
      btnText: 'Показать еще',
      btnClass: 'js-trainers-btn trainers__btn'
    }) }}
  </div>
</div>
