<div class='trainer-offices {{ params.class }}'>
  <div class='container typography'>
    <h2>{{ params.title }}</h2>
    <div class='trainer-offices__inner'>
      <div class='trainer-offices__addresses'>
        {{ block('school-card', {
          id: 1,
          name: 'Беляево',
          metro: true,
          address: 'ул. Профсоюзная, 83Б',
          tel: 9991112233,
          telString: '(999)-111-22-33',
          whatsapp: +79991112233,
          telegram: 'fitness',
          latitude: 55.64473,
          longitude: 37.530166,
          href: ''
        }) }}
        {{ block('school-card', {
                    id: 1,
          name: 'Беляево',
          metro: true,
          address: 'ул. Профсоюзная, 83Б',
          tel: 9991112233,
          telString: '(999)-111-22-33',
          whatsapp: +79991112233,
          telegram: 'fitness',
          latitude: 55.64473,
          longitude: 37.530166,
          href: ''
        }) }}
        {{ block('school-card', {
                    id: 1,
          name: 'Беляево',
          metro: true,
          address: 'ул. Профсоюзная, 83Б',
          tel: 9991112233,
          telString: '(999)-111-22-33',
          whatsapp: +79991112233,
          telegram: 'fitness',
          latitude: 55.64473,
          longitude: 37.530166,
          href: ''
        }) }}
      </div>
      <div class='trainer-offices__img'><img width='700' height='400' loading="lazy" src='images/trainer-offices/1.png' alt=''></div>
    </div>
    <div class='trainer-offices__btn'><button class='btn btn_type_accent '>Хочу к этому тренеру</button></div>
  </div>
</div>
