<div class='trusted margin'>
  <div class='container typography'>
    <h2 class='trusted__title'>Нам доверяют</h2>
    <div class='trusted__companies'>
      <div class='trusted__company'><div class='trusted__img'><img width='180' height='60' loading="lazy" src='images/companies/reebok.png' alt=''></div></div>
      <div class='trusted__company'><div class='trusted__img'><img width='150' height='45' loading="lazy" src='images/companies/lamoda.png' alt=''></div></div>
      <div class='trusted__company'><div class='trusted__img'><img width='108' height='53' loading="lazy" src='images/companies/lacoste.png' alt=''></div></div>
    </div>
  </div>
</div>
