<div class='types-competition {{ params.class }}'>
  <div class='container typography'>
    <h2 class='title title_center'>Виды соревнований</h2>
    <div class='types-competition__inner'>
      <div class='types-competition__item'>
        <div class='types-competition__icon'><svg width="31" height="30"><use xlink:href='sprite.svg#medal-2'></use></svg></div>
        <div class='types-competition__text'>Внутренние соревнования FitnessDeti</div>
        <div class='types-competition__count'>01</div>
      </div>
      <div class='types-competition__item'>
        <div class='types-competition__icon'><svg width="35" height="34"><use xlink:href='sprite.svg#pedestal'></use></svg></div>
        <div class='types-competition__text'>Внешние соревнования <b>организатор</b> FitnessDeti</div>
        <div class='types-competition__count'>02</div>
      </div>
      <div class='types-competition__item'>
        <div class='types-competition__icon'><svg width="34" height="24"><use xlink:href='sprite.svg#flag'></use></svg></div>
        <div class='types-competition__text'>Внешние соревнования <b>организатор</b> другие школы и МосКомСпорт.</div>
        <div class='types-competition__count'>03</div>
      </div>
    </div>
    <div class='types-competition__btn'><button class='btn btn_type_accent '>Начать тренировки</button></div>
  </div>
</div>
