<div class='types-groups {{ params.class }}'>
  <div class='container typography'>
    <h2 class='types-groups__title'>Виды групп</h2>

    <div class='types-groups__inner'>
      <div class='types-groups__image'><img width='480' height='540' loading="lazy" src='images/types-groups/1.png' alt=''></div>
      <div class='types-groups__items'>
        {% for item in params.items %}
          <div class='types-groups__item types-groups__item_{{ item.color }}'>
            <div class='types-groups__number'>{{ item.number }}</div>
            <div class='types-groups__name'>{{ item.name }}</div>
            <div class='types-groups__desc'>
              <div class='types-groups__desc-item'>{{ item.desc1 }}</div>
              <div class='types-groups__desc-item'>{{ item.desc2 }}</div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class='types-groups__motivation'>Обучайся, тренируйся, сдавай экзамен, совершенстуйся</div>
    <div class='types-groups__btn'><button class='btn btn_type_accent'>Начать занятие</button></div>
  </div>
</div>
