<div class='watch-card'>
  <img width='1208' height='500' loading="lazy" class='watch-card__img' src='images/watch-card/1.png' alt=''>
  <div class='watch-card__content'>
    <div class='watch-card__watch'>
      {{ block('watch-btn', {
        link: 'https://www.youtube.com/watch?v=8ExCb8rQ5jI'
      }) }}
    </div>
    <h2>Сеть детских спортшкол</h2>
    <div class='watch-card__subtitle'>по художественной гимнастике и акробатике</div>
  </div>
</div>
