<div class='watch-btn'>
  <div class='watch-btn__circle watch-btn__circle_first'>
    <div class='watch-btn__circle watch-btn__circle_second'>
      <div class='watch-btn__circle watch-btn__circle_third'></div>
    </div>
  </div>
  <a data-fancybox data-src="{{ params.link }}" class='watch-btn__play a-clear'>
    <svg width='27' height='30'>
      <use xlink:href='sprite.svg#play'></use>
    </svg>
  </a>
</div>
