<div class='what-get {{ params.class }}'>
  <div class='container typography'>
    <h2 class='title title_center'>Что вы получите</h2>
    <div class='what-get__inner'>
      {% for item in params.items %}
        <div class='what-get__item'>
          <img width='376' height='130' loading="lazy" src={{ item.image}} alt=''>
          <div class='what-get__text'>{{ item.text }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
