<div class='who-leads {{ params.class }}'>
  <div class='who-leads__container container typography'>
    <div class='who-leads__image'><img loading="lazy" width='343' height='280' src='images/who-leads.png' alt=''></div>
    <h2 class='title title_center'>Кто ведет занятия</h2>
    <div class='who-leads__inner'>
      <div class='who-leads__item'>
        <div class='who-leads__item-content'>
          <div class='who-leads__item-title'>Тренеры с разрядом</div>
          <div class='who-leads__item-desc'>Все тренеры КМС (кандидат в мастера спорта), МС (мастер спорта), МСМК (мастер спорта международного класса).</div>
        </div>
        <div class='who-leads__item-icon'><svg width='22' height='22'><use xlink:href='sprite.svg#award'></use></svg></div>
      </div>
      <div class='who-leads__item'>
        <div class='who-leads__item-content'>
          <div class='who-leads__item-title'>Тренеры с образованием</div>
          <div class='who-leads__item-desc'>Все тренеры с профильным образованием и верефицированным дипломом.</div>
        </div>
        <div class='who-leads__item-icon'><svg width='22' height='22'><use xlink:href='sprite.svg#mortarboard'></use></svg></div>
      </div>
      <div class='who-leads__item'>
        <div class='who-leads__item-content'>
          <div class='who-leads__item-title'>Сертифицированые тренеры</div>
          <div class='who-leads__item-desc'>Все тренеры прошли внутреннюю сертификацию.
          </div>
        </div>
        <div class='who-leads__item-icon'><svg width='22' height='22'><use xlink:href='sprite.svg#certificate'></use></svg></div>
      </div>
      <button class='btn btn_type_accent  who-leads__btn'>На онлайн!</button>
    </div>
  </div>
</div>
