.about-company-second {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }

  &__item {
    position: relative;
    display: flex;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px 20px;
    color: var(--color-white);
    font-weight: 600;
    font-size: 18px;
    background-color: var(--color-green);
  }

  @media (max-width: 768px) {
    display: none;
  }
}
