.about-company-item {
  display: flex;
  flex-direction: column;

  &__image {
    display: flex;
    border-bottom: 6px solid #3fca11;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  &__bottom {
    height: 100%;
    margin-top: 16px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 0 2px 2px;

    svg {
      margin-left: 11px;
      color: #3fca11;
    }
  }

  @media (max-width: 768px) {
    &__image {
      border-bottom: none;
    }

    &__bottom {
      display: flex;
      justify-content: center;
      margin-top: 0;
      padding: 11px 5px;
      color: var(--color-white);
      font-weight: 600;
      font-size: 14px;
      background-color: var(--color-green);

      svg {
        display: none;
      }
    }

    &__link {
      justify-content: center;
      width: 100%;
      height: 100%;
      text-align: center;
    }
  }
}
