.about-company {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &__inner {
      grid-gap: 14px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
