.additional-service {
  &__container {
    position: relative;
  }

  &__inner {
    display: grid;
    grid-gap: 11px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }

  &__item {
    box-sizing: border-box;
    height: auto;
    padding: 30px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(72, 77, 86, 0.16);
  }

  &__image {
    img {
      max-width: 124px;
      height: auto;
    }
  }

  &__text {
    margin-top: 24px;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
  }

  @media (max-width: 768px) {
    &__item {
      padding: 16px 16px 26px;
    }

    &__image {
      img {
        width: 68px;
        height: 68px;
      }
    }

    &__text {
      font-size: 15px;
      word-wrap: break-word;
    }
  }
}
