.banner-gymnastic-slide {
  position: relative;
  display: none;
  justify-content: center;
  height: 600px;

  &:first-child {
    display: flex;
  }

  &__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    display: flex;
    max-width: 1920px;
    margin: 0 auto;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 618px;
  }

  &__text {
    margin-top: 20px;
    line-height: 1.6;
  }

  &__btn-group {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }

  &__btn {
    width: 295px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  @media (max-width: 768px) {
    display: flex;

    &__container {
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 50px;
      background: linear-gradient(
        179.1deg,
        rgba(51, 52, 52, 0) 11.58%,
        rgba(51, 52, 52, 0.44) 69.24%,
        rgba(51, 52, 52, 0.44) 99.23%
      );
    }

    &__title {
      color: var(--color-white);
      font-weight: 600;
      font-size: 24px;
    }

    &__image {
      justify-content: center;
    }

    &__content {
      color: var(--color-white);
    }

    &__text {
      margin-top: 10px;
      font-size: 14px;
    }

    &__btn.btn_type_accent-secondary {
      color: var(--color-white);
      border: 1px solid var(--color-white);
    }

    &__btn-group {
      margin-top: 20px;

      .banner-gymnastic-slide__btn {
        width: auto;
      }
    }
  }
}
