.banner-third {
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 440px;
    color: var(--color-white);
  }

  &__bg {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: radial-gradient(
          36.22% 64.79% at 6.04% 93.7%,
          rgba(231, 54, 37, 0.3) 0%,
          rgba(231, 54, 37, 0) 100%
        ),
        radial-gradient(
          43.69% 77.66% at 97.56% 15.54%,
          rgba(46, 184, 0, 0.28) 0%,
          rgba(46, 184, 0, 0) 100%
        ),
        linear-gradient(
          89.31deg,
          rgba(44, 44, 44, 0.95) 14.51%,
          rgba(44, 44, 44, 0.77) 73.54%
        );
      content: '';
    }
  }

  &__inner {
    position: absolute;
    left: 80px;
    display: flex;
  }

  &__content {
    align-self: center;
  }

  &__subtitle {
    margin-top: 20px;
    font-size: 20px;
  }

  &__btn {
    width: 220px;
    margin-top: 30px;
  }

  &__watch {
    position: relative;
    margin-left: 260px;
  }

  &__icon {
    position: absolute;
    bottom: -30px;
    left: -170px;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}
