.banner-gymnastic {
  height: 600px;

  &__wrapper {
    display: flex;
    height: 100%;
  }

  &__slider {
    height: 100%;

    .swiper-pagination-bullet {
      background-color: var(--color-white);
    }
  }

  &__title {
    &_red {
      color: var(--color-red);
    }
  }

  @media (max-width: 768px) {
    --dot-color: var(--color-white);
  }
}
