.banner {
  position: relative;
  height: 500px;

  &__bg {
    position: absolute;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;

    &::after {
      position: absolute;
      width: 100%;
      height: 100%;
      background: radial-gradient(
          36.22% 64.79% at 6.04% 93.7%,
          rgba(231, 54, 37, 0.3) 0%,
          rgba(231, 54, 37, 0) 100%
        ),
        radial-gradient(
          43.69% 77.66% at 97.56% 15.54%,
          rgba(46, 184, 0, 0.28) 0%,
          rgba(46, 184, 0, 0) 100%
        ),
        linear-gradient(
          89.31deg,
          rgba(44, 44, 44, 0.95) 14.51%,
          rgba(44, 44, 44, 0.77) 73.54%
        );
      content: '';
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--color-white);
  }

  &__content {
    max-width: 620px;
  }

  &__text {
    margin-top: 20px;
    font-size: 20px;
  }

  &__button {
    width: 220px;
    margin-top: 30px;
  }

  &__watch {
    margin-left: 140px;
  }

  &__icon {
    position: absolute;
    top: 90px;
    right: 50px;
  }

  @media (max-width: 1100px) {
    &__watch {
      margin-left: 55px;
    }
  }

  @media (max-width: 1024px) {
    &__watch {
      margin-bottom: 60px;
      margin-left: 0;
    }

    &__icon {
      display: none;
    }

    &__container {
      flex-direction: column-reverse;
      justify-content: center;
    }

    &__title {
      text-align: center;
    }

    &__text {
      margin-bottom: 10px;
      font-size: 14px;
      text-align: center;
    }

    &__button {
      display: none;
    }
  }

  @media (max-width: 768px) {
    height: 260px;

    &__watch {
      margin-bottom: 16px;
    }
  }
}
