.banner-second {
  height: 453px;
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__bg {
    display: flex;
    margin-right: -40px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__inner {
    position: absolute;
    left: 84px;
    display: flex;
  }

  &__subtitle {
    margin-top: 20px;
    font-size: 20px;
  }

  &__btn {
    width: 220px;
    margin-top: 30px;
  }

  &__watch {
    position: relative;
    margin-left: 123px;
    color: var(--color-white);

    .watch-btn {
      --border-color: var(--color-white);
    }
  }

  &__icon {
    position: absolute;
    top: -70px;
    right: -150px;
    color: var(--color-grey-blue);
  }

  @media (max-width: 1024px) {
    display: none;
  }
}
