.block-three-card {
  &__container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 860px) {
    &__container {
      grid-gap: 20px;
      grid-template-columns: 1fr;
    }
  }
}
