.bottom-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  display: none;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 13px 11px calc(env(safe-area-inset-bottom, 0) + 5px);
    color: var(--color-black);
    background-color: var(--color-white);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
    opacity: 0.9;
  }

  &__item {
    display: flex;
    flex-basis: 60px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    background: none;
    border: 0;
  }

  &__title {
    margin-top: 5px;
    font-size: 12px;
  }

  &__menu-inner {
    position: absolute;
    top: -9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__menu-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    padding: 0;
    background-color: var(--color-green);
    border: 3px solid var(--color-white);
    border-bottom: none;
    border-radius: 50%;

    span {
      width: 18px;
      height: 2px;
      background-color: var(--color-white);
      border-radius: 5px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  @media (max-width: 1024px) {
    display: block;
  }
}
