.camps-item {
  display: flex;
  flex-direction: column;

  &__image {
    display: flex;
    align-items: flex-start;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 14px;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.39;
  }

  &__info {
    flex-grow: 1;
    margin-top: 8px;
    font-size: 15px;
    line-height: 1.6;

    span {
      color: var(--color-grey-blue);
    }
  }

  &__btn-wrapper {
    margin-top: 16px;
  }

  &__btn {
    width: 100%;
  }

  @media (max-width: 768px) {
    flex-direction: row;
    padding-top: 20px;
    border-top: 1px solid #efeeee;

    &__content {
      margin-top: 0;
    }

    &__image {
      min-width: 120px;
      margin-right: 16px;
    }

    &__name {
      font-size: 18px;
    }

    &__info {
      margin-top: 0;
      font-size: 14px;
    }

    &__btn-wrapper {
      margin-top: 0;
    }

    &__btn {
      width: auto;
    }
  }

  @media (max-width: 425px) {
    &__image {
      img {
        object-fit: contain;
      }
    }
  }
}
