.camps-desc {
  &__inner {
    display: grid;
    grid-row-gap: 34px;
    grid-column-gap: 57px;
    grid-template-columns: 480px 1fr;
    margin-top: 19px;
  }

  &__btn-wrapper {
    width: auto;
    margin-top: 60px;
    text-align: center;
  }

  &__btn {
    width: 295px;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-row-gap: 30px;
      grid-column-gap: 0;
      grid-template-columns: 1fr;
    }

    &__btn-wrapper {
      margin-top: 30px;
    }

    &__btn {
      width: 100%;
    }
  }
}
