.card {
  display: flex;
  flex-direction: column;

  &__img {
    display: flex;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 20px 24px 24px;
    background: var(--color-white);
    border: 1px solid #e8e7e7;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;

    &_sm {
      font-size: 20px;
    }
  }

  &__text {
    flex-grow: 1;
    margin-top: 10px;
    line-height: 1.6;

    &_sm {
      font-size: 14px;
    }
  }

  &__icon {
    margin-right: 8px;
    color: var(--color-green);
  }

  &__button {
    margin-top: 16px;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: 1024px) {
    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 14px;
    }

    &__content {
      padding: 18px 20px 20px;
    }
  }

  @media (max-width: 860px) {
    &.mobile-hide {
      display: none;
    }
  }
}
