.catalog {
  &__inner {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 20px;
  }

  &__btn-wrapper {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }

  &__btn {
    width: 300px;
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &__inner {
      grid-row-gap: 24px;
      grid-column-gap: 7px;
      grid-template-columns: repeat(2, 1fr);
    }

    &__btn-wrapper {
      justify-content: normal;
      margin-top: 24px;
    }

    &__btn {
      width: 100%;
    }

    .btn_type_accent {
      display: none;
    }
  }
}
