.catalog-item {
  display: flex;
  flex-direction: column;

  &__image {
    position: relative;
    display: flex;
    border-bottom: 4px solid var(--bg-color);

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 55.57%,
        rgba(0, 0, 0, 0.18) 100%
      );
      content: '';
    }

    &_dancer {
      --bg-color: var(--color-pink);
    }

    &_gymnast {
      --bg-color: var(--color-blue-soft);
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  &_top &__image {
    border-bottom: none;
  }

  &__certificate {
    position: absolute;
    top: 0;
    left: 12px;
  }

  &__label {
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 2px 6px;
    color: var(--color-white);
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    border-radius: 2px;

    &_green {
      background-color: var(--color-green);
    }

    &_red {
      background-color: var(--color-red);
    }
  }

  &__icon {
    position: absolute;
    bottom: 12px;
    left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    color: var(--color-white);
    border-radius: 50%;

    &_dancer {
      background-color: var(--color-pink);
    }

    &_gymnast {
      background-color: var(--color-blue-soft);
    }

    &_top {
      top: 8px;
      left: 8px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.36;
    text-align: left;
  }

  &__name {
    flex-grow: 1;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
  }

  &.hide {
    display: none;
  }
}
