.choose-gym {
  text-align: center;

  &__img {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }

  &__mobile {
    position: relative;
    display: none;

    img {
      width: 100%;
      height: auto;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: radial-gradient(
          126.89% 47.23% at 100% 93.78%,
          rgba(231, 54, 37, 0.3) 0%,
          rgba(231, 54, 37, 0) 100%
        ),
        radial-gradient(
          144.44% 61.97% at 3.07% 3.29%,
          rgba(17, 18, 43, 0.3) 0%,
          rgba(17, 18, 43, 0) 100%
        );
      content: '';
      pointer-events: none;
    }
  }

  &__btn {
    width: 376px;
    margin-top: 40px;
  }

  &__mobile-title {
    position: absolute;
    top: 40px;
    width: 100%;
    color: var(--color-white);
    text-align: center;
  }

  &__mobile-btn {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }

  @media (max-width: 768px) {
    margin: 0;

    &__container {
      display: none;
    }

    &__mobile {
      display: flex;
    }

    &__btn {
      width: 100%;
    }
  }
}
