.classes-item {
  display: flex;
  flex-direction: column;

  &__image {
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    background: var(--color-white);
    border: 1px solid #efefef;
    border-radius: 0 0 4px 4px;
  }

  &__count {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 46px;
    height: 46px;
    color: var(--color-white);
    font-weight: bold;
    font-size: 18px;
    background: var(--color-red);
    border-radius: 8px;
  }

  &__text {
    margin-left: 16px;
    font-size: 15px;
    line-height: 1.6;
  }

  @media (max-width: 1024px) {
    &__content {
      padding: 16px;
    }

    &__count {
      min-width: 40px;
      height: 40px;
      font-size: 16px;
    }

    &__text {
      font-size: 14px;
    }
  }
}
