.department-trainers {
  &__title {
    &_center {
      text-align: center;
    }
  }

  &__inner {
    margin-top: 30px;
  }

  &__prev {
    left: -80px;
  }

  &__next {
    right: -80px;

    svg {
      transform: rotate(180deg);
    }
  }

  &__btn-group {
    margin-top: 40px;
    text-align: center;
  }

  &__btn {
    margin-bottom: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &_more {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &__inner {
      margin-top: 20px;
    }

    &__btn-group {
      margin-top: 24px;
    }

    &__btn {
      width: 100%;

      &_more {
        display: block;
      }
    }

    &__item {
      &:not(:nth-child(-n + 6)) {
        display: none;
      }
    }

    .swiper-wrapper {
      display: grid;
      grid-row-gap: 24px;
      grid-column-gap: 7px;
      grid-template-columns: 1fr 1fr;
    }
  }
}
