.example {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  &__item {
    height: 350px;
  }

  &__btn-wrapper {
    margin-top: 40px;
    text-align: center;
  }

  &__btn {
    width: 300px;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 16px;
      grid-template-columns: none;
    }

    &__item {
      height: 238px;
    }

    &__btn-wrapper {
      margin-top: 20px;
    }

    &__btn {
      width: 100%;
    }
  }
}
