.fancy-modal {
  &__subtitle {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
  }

  &__form {
    display: grid;
    grid-gap: 12px;
    margin-top: 20px;

    &.error .form-text input {
      background-color: rgba(214, 0, 0, 0.06);
    }
  }

  &__link {
    border-bottom: 1px dotted;
  }

  &__btn {
    margin-top: 16px;
  }

  @media (max-width: 599px) {
    width: 100vw;
  }
}
