.fieldset {
  width: 100%;

  &__title {
    font-weight: bold;
    font-size: 16px;
  }

  &__item {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-top: 12px;

    &_column {
      display: inline-block;
      width: 100%;
      column-width: 200px;

      .fieldset__item:last-child {
        margin-bottom: 16px;
      }
    }
  }

  &_center {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 3fr 5fr;

    .fieldset__items {
      margin-top: 0;
    }
  }
}
