.find-branch {
  --line-color: var(--color-black);

  &__inner {
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: 40% 60%;
    margin-top: 40px;
  }

  &__map {
    grid-column: 1/3;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__search-label {
    height: 100%;
    margin-left: 40px;
  }

  &__list {
    display: none;
    flex-direction: column;
    grid-column: 1/3;
  }

  &__tab-content {
    display: none;

    &.active {
      display: flex;
    }
  }

  &__list-inner {
    display: grid;
    grid-row-gap: 60px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    color: var(--color-grey);
    font-size: 14px;
  }

  &__list-title {
    color: var(--color-black);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__list-subtitle {
    margin-top: 10px;
  }

  &__list-subways {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 14px;
  }

  &__list-subway {
    display: flex;
    align-items: center;
    margin-top: 12px;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__subway-line {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    background-color: var(--line-color);
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: -9px;
    }
  }

  &__list-link {
    color: var(--color-green);
    border-bottom: 1px dotted;
  }

  @media (max-width: 768px) {
    display: none;
  }
}
