.form-input {
  display: inline-flex;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.37;
  cursor: pointer;

  &__question {
    min-width: 18px;
    margin-left: 5px;
  }

  span {
    margin-left: 5px;

    a {
      border-bottom: 1px dotted;
    }
  }

  &__confirm {
    color: var(--color-grey-blue);
    font-weight: normal;
    font-size: 13px;
    line-height: 1.6;
  }

  input {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin: 2px 0 0 0;
    border: 1px solid var(--bc, var(--border));
    border-radius: 2px;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      outline-color: var(--focus);

      &::placeholder {
        opacity: 0.7;
      }
    }

    &::after {
      position: absolute;
      top: 1px;
      left: 1px;
      display: block;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
        opacity var(--d-o, 0.2s);
      content: '';
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: 0.3s;
      --d-t: 0.6s;
      --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
    }

    &:disabled {
      --b: var(--disabled);

      cursor: not-allowed;
      opacity: 0.6;

      & + span {
        cursor: not-allowed;
        opacity: 0.6;
      }
    }

    &:hover {
      &:not(:disabled) {
        --bc: var(--border-hover);
      }
    }

    &[type='radio'] {
      border-radius: 50%;

      &::after {
        width: 12px;
        height: 12px;
        background: var(--color-green);
        border-radius: 50%;
        opacity: 0;
      }

      &:checked {
        &::after {
          opacity: 1;
        }
      }
    }

    &[type='checkbox'] {
      &::after {
        top: 0;
        left: 5px;
        width: 4px;
        height: 9px;
        border: 1px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        transform: rotate(var(--r, 20deg));
      }

      &:checked {
        background-color: var(--active);

        --r: 43deg;
      }
    }
  }
}
