.form-text {
  width: 100%;

  input,
  textarea {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 14px 14px 14px 16px;
    font-size: 16px;
    font-family: inherit;
    background: var(--color-grey-blue-light);
    border: 1px solid transparent;
    border-radius: 4px;
    resize: none;

    &::placeholder {
      opacity: 0.6;
    }

    &:focus {
      outline-color: var(--focus);

      &::placeholder {
        opacity: 0.3;
      }
    }

    &:disabled {
      cursor: not-allowed;

      &::placeholder {
        opacity: 0.3;
      }
    }

    &:hover {
      &:not(:disabled) {
        border-color: var(--border-hover);
      }
    }
  }
}
