.gallery {
  &__title {
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-gap: 11px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
  }

  &__item {
    display: flex;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    margin-top: 40px;
    text-align: center;

    .btn {
      padding-right: 98px;
      padding-left: 98px;
    }
  }

  @media (max-width: 768px) {
    &__title {
      text-align: left;
    }

    &__inner {
      grid-gap: 10px;
      grid-template-columns: none;
      margin-top: 20px;
    }

    &__btn {
      margin-top: 24px;

      .btn {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
    }
  }
}
