.history {
  margin-top: 50px;
  margin-bottom: 80px;
  font-size: 18px;

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__video {
    margin-top: 16px;
  }

  &__inner {
    margin-top: 60px;
  }

  &__block {
    display: grid;
    grid-column-gap: 40px;
    grid-template-areas:
      'picture text'
      'picture text2';
  }

  &__block-text {
    grid-area: text;
    padding-left: 64px;

    &:nth-child(3) {
      grid-area: text2;
    }
  }

  &__block-picture {
    grid-area: picture;
    width: 376px;
    height: 408px;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__block-img {
    width: 100%;
  }

  &__name {
    margin-top: 15px;
    font-size: 20px;
  }

  &__line {
    position: relative;
    padding-left: 64px;

    &::after {
      position: absolute;
      top: 18px;
      left: 0;
      width: 48px;
      height: 2px;
      background-color: var(--color-green);
      content: '';
    }

    &_grey {
      &::after {
        background-color: #636363;
      }
    }
  }

  &__position {
    margin-top: 10px;
    color: #636363;
    font-weight: normal;
    font-size: 15px;
    font-style: italic;
    line-height: 160%;

    &.history__line {
      padding-left: 40px;

      &::after {
        top: 10px;
        width: 29px;
      }
    }
  }

  &__chronology {
    display: grid;
    grid-gap: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 416px;
  }

  &__chronology-year {
    color: var(--color-green);
    font-size: 26px;
  }

  &__btn {
    margin-top: 50px;
  }

  @media (max-width: 1024px) {
    &__block {
      grid-column-gap: 20px;
    }

    &__block-text {
      padding-left: 50px;
    }

    &__chronology {
      margin-left: 385px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 16px;

    &__inner {
      margin-top: 40px;
    }

    &__block {
      grid-row-gap: 30px;
      grid-template-areas:
        'text'
        'picture'
        'text2';
    }

    &__block-picture {
      height: auto;
      margin: 0 auto;

      img {
        height: auto;
      }
    }

    &__block-text {
      padding-left: 0;
    }

    &__name {
      font-size: 18px;
    }

    &__line {
      padding-left: 41px;

      &::after {
        width: 29px;
      }
    }

    &__position {
      font-size: 13px;
    }

    &__chronology {
      margin-left: 0;
    }

    &__btn {
      width: 100%;
      margin-top: 30px;
    }
  }

  @media (max-width: 600px) {
    &__video {
      height: 235px;
    }
  }

  @media (max-width: 425px) {
    &__block-picture {
      width: 100%;
    }
  }
}
