.history-talisman {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
  }

  &__paragraph {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__btn {
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 70px;
    padding-left: 70px;
  }

  @media (max-width: 768px) {
    &__container {
      align-items: flex-start;
    }

    &__content {
      margin-top: 10px;
      font-size: 14px;
      text-align: left;
    }

    &__btn {
      width: 100%;
      margin-top: 24px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
