.insurance-registration {
  &__subtitle {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.6;
  }

  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 40px;
    text-align: left;
  }

  &__btn {
    width: 100%;
  }

  &__btn-wrapper {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 3fr 5fr;

    .btn {
      grid-column: 2/3;
    }
  }

  &_center {
    .insurance-registration__inner {
      grid-template-columns: 1fr;
      max-width: 730px;
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: bold;
  }

  &__column:nth-child(1) > &__item:not(:last-child) {
    margin-bottom: 40px;
  }

  &__column:nth-child(2) > &__item:not(:last-child) {
    margin-bottom: 34px;
  }

  &__column:nth-child(3) > &__item:not(:last-child) {
    margin-bottom: 24px;
  }

  @media (max-width: 1024px) {
    &__inner {
      grid-template-columns: 1fr;
    }
  }

  @media (max-width: 768px) {
    text-align: center;

    &_center {
      display: none;
    }
  }
}
