.internal-training {
  &__title {
    &_center {
      text-align: center;
    }
  }

  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }

  &__image {
    display: flex;
    margin-top: 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    margin-top: 50px;
    text-align: center;

    .btn {
      padding-right: 100px;
      padding-left: 100px;
    }
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &__inner {
      grid-gap: 12px;
      grid-template-columns: 1fr;
    }

    &__btn {
      display: none;
    }
  }
}
