.internal-training-item {
  position: relative;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 20px 114px 20px 24px;
  overflow: hidden;
  background: linear-gradient(89.1deg, #fff 0.46%, #f8f8f8 99.09%);
  border-left: 4px solid var(--color-red);
  border-radius: 4px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);

  &__icon {
    position: absolute;
    right: -12px;
    bottom: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 104px;
    height: 104px;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 50%;
  }

  &__text {
    align-self: center;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    &__icon {
      top: -18px;
      bottom: 0;
    }
  }
}
