.job-application {
  &__inner {
    display: grid;
    grid-gap: 60px;
    grid-template-columns: minmax(200px, 400px) 1fr;
    margin-top: 24px;
    padding: 40px;
    background: var(--color-white);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }

  &__radios {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__radios &__item {
    &:not(:last-child) {
      margin-bottom: 34px;
    }
  }

  &__item-title {
    font-weight: bold;
    font-size: 16px;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
  }

  &__input {
    display: flex;
    align-items: center;
    margin-top: 14px;
    font-size: 16px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__form {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    min-width: 450px;
  }

  &__form-column {
    display: flex;
    flex-direction: column;
  }

  &__form-item {
    &:not(:last-child) {
      margin-bottom: 14px;
    }

    &_textarea {
      flex-grow: 1;
    }

    &_agree {
      display: flex;
      align-items: center;
      margin-top: 6px;
      color: var(--color-grey-blue);
      font-size: 13px;

      a {
        text-decoration: underline;
      }
    }
  }

  &__btn {
    margin-top: 20px;
  }

  @media (max-width: 1024px) {
    &__inner {
      grid-gap: 30px;
    }
  }

  @media (max-width: 845px) {
    &__inner {
      grid-template-columns: none;
      padding: 0;
      box-shadow: none;
    }
  }

  @media (max-width: 768px) {
    &__form {
      grid-template-columns: none;
      min-width: auto;
    }
  }
}
