.modal-event {
  display: flex;
  width: 50vw;

  &__image {
    position: relative;
    display: flex;
    min-width: 343px;
    margin-right: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 20px;
  }

  &__btn {
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  &__text {
    margin-top: 7px;
  }

  &__info {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
  }

  &__when {
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgba(129, 129, 129, 0.11);
    border-radius: 4px;
  }

  &__info-icon {
    margin-right: 10px;
    color: var(--color-green);
  }

  &__info-text {
    font-size: 14px;
    line-height: 1.36;
  }

  &__where {
    grid-column: 1/-1;
    box-sizing: border-box;
    padding: 10px;
    font-size: 15px;
    background: var(--color-white);
    border: 1px solid #efeeee;
    border-radius: 4px;
  }

  @media (max-width: 1400px) {
    width: 80vw;
  }

  @media (max-width: 768px) {
    flex-direction: column;

    &__image {
      min-width: auto;
      margin-right: 0;
    }

    &__content {
      margin-top: 20px;
    }
  }
}
