.moneybox-medals {
  &__awards {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
  }

  &__award {
    align-self: flex-end;
    max-width: 150px;
    font-size: 18px;
  }

  &__award-inner {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__award-cup {
    display: flex;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__award-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 21px 18px;

    &_gold {
      background: #fddb4e;
    }

    &_silver {
      background: #dbdbdb;
    }

    &_bronze {
      background: #ffa375;
    }
  }

  &__award-amount {
    font-weight: bold;
    font-size: 38px;
  }

  &__image {
    display: flex;
    flex-grow: 1;
    margin-left: 40px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__btn-wrapper {
    margin-top: 50px;
    text-align: center;
  }

  &__btn {
    width: 376px;
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &_school {
      margin-bottom: 40px;
    }

    &__awards {
      justify-content: center;
      margin-top: 16px;
    }

    &__award {
      font-size: 13px;
    }

    &__award-amount {
      font-size: 27px;
    }

    &__award-bottom {
      padding: 16px 0 15px;
    }

    &__image {
      display: none;
    }

    &__btn-wrapper {
      display: none;
    }
  }
}
