.navigation {
  &__menu {
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
  }

  &__submenu {
    position: absolute;
    top: 35px;
    z-index: 2;
    display: none;
    padding: 20px;
    background-color: var(--color-white);
    border: 1px solid rgb(242, 242, 242);
    border-radius: 6px;
    box-shadow: 0 5px 30px rgb(0 0 0 / 10%);
  }

  &__menu-item {
    position: relative;
    padding-bottom: 24px;

    &:not(:last-child) {
      margin-right: 46px;
    }

    &:hover {
      color: var(--color-grey-blue);

      & > .navigation__submenu {
        display: block;
      }
    }
  }

  &__submenu-item {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    white-space: nowrap;
    word-wrap: normal;

    &:hover {
      color: var(--color-green);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media (max-width: 1130px) {
    &__menu-item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
