.order-swimsuit {
  &__title,
  &__subtitle {
    text-align: center;
  }

  &__subtitle {
    max-width: 840px;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 664px;
    padding: 30px;
    background: var(--color-white);
    border: 1px solid #eee;
    border-bottom: 4px solid var(--color-red);
    border-radius: 4px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.06);
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.37;
  }

  &__desc {
    margin-top: 6px;
    color: var(--color-grey-blue);
    font-size: 16px;
    line-height: 1.6;
  }

  &__price-wrapper {
    display: flex;
    align-items: flex-end;
    margin-top: 11px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 1;
  }

  &__time {
    margin-left: 7px;
    color: var(--color-grey-blue);
    font-size: 14px;
    line-height: 1;
  }

  &__btn-wrapper {
    width: 218px;
  }

  &__btn {
    width: 100%;
  }

  @media (max-width: 768px) {
    &__subtitle {
      margin-top: 8px;
      font-size: 14px;
    }

    &__inner {
      margin-top: 20px;
    }

    &__item {
      flex-direction: column;
      padding: 16px;
      border-bottom: none;
    }

    &__content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
    }

    &__name {
      font-size: 18px;
    }

    &__desc {
      font-size: 14px;
    }

    &__price-wrapper {
      flex-direction: column;
      margin-top: 0;
    }

    &__price {
      margin-left: 5px;
      font-size: 18px;
      white-space: nowrap;
    }

    &__time {
      font-size: 12px;
    }

    &__slash {
      display: none;
    }

    &__btn-wrapper {
      width: 100%;
      margin-top: 20px;
    }
  }
}
