.our-services {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    &__title {
      display: none;
    }

    &__inner {
      grid-gap: 20px;
      grid-template-columns: 1fr;
    }
  }
}
