.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  &__pages {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--color-green);
    border-radius: 50%;

    &_prev {
      left: -70px;
    }

    &_next {
      right: -70px;
      transform: rotate(180deg);
    }
  }

  &__page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
    color: #505d64;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    background-color: var(--color-white);
    border: 1px solid #e4e4e4;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.current {
      background-color: #ebebeb;
    }
  }
}
