.part-federations {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  &__item {
    display: flex;
    box-sizing: border-box;
    padding: 30px;
    background: var(--color-white);
    border: 1px solid #efeeee;
    border-radius: 4px;
  }

  &__content {
    margin-left: 30px;
  }

  &__item-title {
    font-weight: bold;
  }

  &__text {
    margin-top: 12px;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.6;
  }

  @media (max-width: 950px) {
    &__inner {
      grid-gap: 8px;
    }

    &__item {
      flex-direction: column;
      align-items: center;
      padding: 16px 24px;
    }

    &__content {
      margin-left: 0;
    }

    &__text {
      display: none;
    }

    &__image {
      display: flex;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  @media (max-width: 768px) {
    &__inner {
      margin-top: 20px;
    }

    &__title,
    &__item-title {
      text-align: center;
    }

    &__item-title {
      margin-top: 8px;
      font-weight: 400;
    }
  }

  @media (max-width: 425px) {
    &__item {
      padding: 15px;
      word-wrap: break-word;
      word-break: break-word;
    }
  }
}
