.photo-department {
  &__inner {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
  }

  &__item {
    display: flex;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    margin-top: 24px;

    .btn {
      width: 100%;
    }
  }
}
