.photo-session {
  &__subtitle {
    margin-top: 8px;
    font-size: 18px;
    text-align: center;
  }

  &__inner {
    display: grid;
    grid-gap: 9px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
  }

  &__item {
    display: flex;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__btn {
    margin-top: 50px;
    text-align: center;

    .btn {
      padding-right: 124px;
      padding-left: 124px;
    }
  }

  @media (max-width: 768px) {
    &__subtitle {
      font-size: 14px;
    }

    &__inner {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 20px;
    }

    &__btn {
      margin-top: 17px;

      .btn {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}
