.preparation {
  margin: 50px 0 80px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
  }

  &__text {
    margin-top: 16px;
  }

  @media (max-width: 768px) {
    &__title {
      font-size: 20px;
    }

    &__text {
      margin-top: 10px;
    }
  }
}
