.purpose {
  margin: 50px 0 60px;

  &__philosophy {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr;
    margin-top: 59px;
  }

  &__img {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__paragraph {
    &:not(:first-child) {
      margin-top: 20px;
    }
  }

  &__text {
    margin-top: 20px;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 40px;

    &__container {
      height: 260px;
      padding: 0;
    }

    &__philosophy {
      grid-gap: 20px;
      grid-template-columns: none;
      margin-top: 40px;
    }

    &__text {
      margin-top: 12px;
      font-size: 14px;
    }
  }
}
