.questions {
  overflow: hidden;

  &__inner {
    position: relative;
    display: flex;
    min-height: 554px;
    margin-top: 30px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 790px;
    margin-right: 380px;
  }

  &__details {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 60px;
    padding-left: 30px;
    font-size: 16px;
    line-height: 1.6;
    background: var(--color-white);
    border: 1px solid #e8e7e7;
    border-radius: 4px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__summary {
    padding-top: 20px;
    padding-bottom: 26px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.35;
  }

  &__content {
    padding-bottom: 16px;
  }

  &__details > &__summary {
    list-style: none;
  }

  &__details &__summary::-webkit-details-marker {
    display: none;
  }

  &__details &__summary::before {
    position: absolute;
    top: 18px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #f5f5f6;
    border-radius: 50%;
    content: '\002b';
  }

  &__details[open] &__summary::before {
    content: '\2212';
  }

  &__image {
    position: absolute;
    top: 0;
    right: -110px;
  }

  @media (max-width: 1200px) {
    &__inner {
      min-height: auto;
    }

    &__column {
      width: 100%;
      margin-right: 0;
    }

    &__image {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &__inner {
      margin-top: 20px;
    }
  }
}
