.review-modal {
  width: 60vw;

  &__container {
    display: flex;
  }

  &__img {
    display: flex;
    min-width: 416px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 30px;
  }

  &__top {
    display: flex;
  }

  &__avatar {
    display: flex;
    width: 64px;
    height: 64px;
    margin-right: 24px;
    border-radius: 50%;
  }

  &__name {
    font-weight: bold;
    font-size: 24px;
  }

  &__gymnastic {
    color: #878787;
    font-size: 16px;
  }

  &__text {
    margin-top: 21px;
    font-size: 15px;
  }

  @media (max-width: 1400px) {
    width: 80vw;
  }

  @media (max-width: 1024px) {
    width: 90vw;

    &__img {
      min-width: 300px;
    }

    &__content {
      padding: 20px;
    }

    &__name {
      font-size: 18px;
    }

    &__gymnastic {
      font-size: 14px;
    }

    &__text {
      margin-top: 12px;
    }
  }

  @media (max-width: 768px) {
    &__avatar {
      width: 45px;
      height: 45px;
      margin-right: 10px;
    }

    &__name {
      font-size: 14px;
    }

    &__gymnastic {
      font-size: 12px;
    }

    &__img {
      display: none;
    }

    &__text {
      font-size: 12px;
    }
  }
}

#review-modal {
  padding: 0;
}
