.senior-trainers {
  &__title {
    text-align: center;

    &_second {
      margin-top: 80px;
    }
  }

  &__trainers {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    margin-top: 30px;

    &_center {
      grid-template-columns: repeat(auto-fit, 376px);
    }

    &_mobile {
      display: none;
    }
  }

  &__inner {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }

  @media (max-width: 900px) {
    &__trainers {
      display: none;

      &_mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  @media (max-width: 768px) {
    &__title {
      text-align: left;

      &_second {
        display: none;
      }
    }

    &__trainers {
      grid-gap: 7px;
      margin-top: 13px;
    }
  }
}
