.services-second {
  &__inner {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 30px;
  }

  &__item {
    position: relative;
    grid-column: span 3;

    &_md {
      grid-column: span 4;
    }
  }

  &__img {
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--color-white);
    font-size: 20px;
    line-height: 1.4;

    span {
      padding: 10px;
      background-color: var(--color-green);

      &:first-child {
        border-radius: 4px 4px 4px 0;
      }

      &:last-child {
        padding-top: 0;
        border-radius: 0 0 4px 4px;
      }
    }

    &_string {
      padding: 10px;
      background-color: var(--color-green);
      border-radius: 4px;
    }
  }

  @media (max-width: 1024px) {
    display: none;
  }
}
