.services {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: var(--color-white);
    border-radius: 16px;
    box-shadow: 3px 4px 20px rgba(72, 77, 86, 0.12);

    img {
      max-width: 124px;
      height: auto;
      border-radius: 16px;
    }
  }

  &__text {
    margin-top: 24px;
    font-size: 20px;
  }

  @media (max-width: 1024px) {
    &__inner {
      grid-gap: 20px;
    }

    &__item {
      padding: 16px;
    }
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 7px;
      grid-template-columns: 1fr 1fr;
      margin-top: 26px;
    }

    &__item {
      border-radius: 4px;

      img {
        width: 68px;
        height: 68px;
      }

      &_shop {
        grid-column: 1/-1;
      }
    }

    &__text {
      margin-top: 20px;
      font-size: 15px;
    }
  }
}
