.sport-cards {
  &__inner {
    display: grid;
    grid-row-gap: 27px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 30px;
  }

  &__text {
    max-width: 240px;
    font-size: 20px;
  }

  &__item {
    position: relative;
    display: flex;
    grid-column: span 2;
    padding: 20px 120px 20px 24px;
    overflow: hidden;
    background: var(--color-white);
    border-radius: 4px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);

    &_long {
      grid-column: span 3;
      align-items: center;

      .sport-cards__text {
        max-width: 438px;
      }
    }
  }

  &__icon {
    position: absolute;
    top: -14px;
    right: -14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    color: var(--color-white);
    background-color: var(--color-green);
    border-radius: 50%;
    box-shadow: 0 0 0 9px rgba(46, 184, 0, 0.2);
  }

  &__btn-wrapper {
    margin-top: 40px;
    text-align: center;
  }

  &__btn {
    width: 375px;
  }

  @media (max-width: 1024px) {
    &__inner {
      grid-gap: 12px;
    }

    &__icon {
      width: 80px;
      height: 80px;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &__inner {
      grid-template-columns: none;
      margin-top: 20px;
    }

    &__item {
      grid-column: 1;
      padding-right: 80px;

      &_long {
        grid-column: 1;
      }
    }

    &__btn-wrapper {
      display: none;
    }
  }
}
