.store {
  &__inner {
    position: relative;
    display: flex;
    justify-content: center;
    height: 370px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      background: radial-gradient(
          38.27% 79.6% at 96.93% 17.5%,
          rgba(231, 54, 37, 0.3) 0%,
          rgba(231, 54, 37, 0) 100%
        ),
        radial-gradient(
          49.62% 88.2% at 2.4% 95.96%,
          rgba(46, 184, 0, 0.37) 0%,
          rgba(46, 184, 0, 0) 100%
        ),
        rgba(44, 44, 44, 0.72);
      border-radius: 4px;
      content: '';
    }
  }

  &__bg {
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  &__icon {
    position: absolute;
    top: 75px;
    z-index: 100;
    display: flex;
    align-items: center;
    color: var(--color-white);
    font-weight: 600;
    font-size: 42.564px;
    line-height: 1;
  }

  &__text {
    position: relative;
    top: 6px;
  }

  &__btn {
    position: absolute;
    bottom: 74px;
    z-index: 100;
  }

  @media (max-width: 768px) {
    &__inner {
      align-items: center;
      height: 300px;
    }

    &__icon {
      top: auto;

      img {
        width: 156px;
        height: 83px;
      }
    }

    &__text,
    &__btn {
      display: none;
    }
  }
}
