.students {
  &__title {
    text-align: left;
  }

  &__slider {
    margin-top: 30px;
  }

  &__prev {
    left: -80px;
  }

  &__next {
    right: -80px;

    svg {
      transform: rotate(180deg);
    }
  }

  &__btn {
    margin-top: 40px;
    text-align: center;

    .btn {
      padding-right: 70px;
      padding-left: 70px;
    }
  }

  @media (max-width: 768px) {
    &__title {
      text-align: center;
    }

    &__slider {
      margin-top: 20px;
    }

    &__btn {
      display: none;
    }
  }
}
