.student {
  &__image {
    position: relative;
    display: flex;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 20px;
  }

  &__content {
    box-sizing: border-box;
    padding: 16px 20px 20px;
    font-size: 14px;
    line-height: 1.6;
    background-color: var(--color-white);
    border: 1px solid #efeeee;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }

  &__name {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.37;
  }
}
