.teaching-groups-horizontal {
  &__title,
  &__subtitle {
    text-align: center;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 18px;
  }

  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
  }

  &__item {
    box-sizing: border-box;
    overflow: hidden;
    background: var(--color-white);
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.06);
  }

  &__item-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px 24px 20px;
    border-bottom: 1px solid #efefef;
  }

  &__gymnastic {
    margin-right: 30px;
  }

  &__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.35;
  }

  &__desc {
    margin-top: 6px;
    font-size: 14px;
  }

  &__amount {
    display: flex;
    align-items: flex-end;
    margin-top: 12px;
    line-height: 1;
  }

  &__price {
    font-weight: bold;
    font-size: 20px;
  }

  &__duration {
    margin-left: 7px;
    font-size: 13px;
  }

  &__icon {
    position: relative;
    color: var(--color-white);

    &::after {
      position: absolute;
      top: -60px;
      left: -30px;
      width: 134px;
      height: 134px;
      border-radius: 50%;
      content: '';
    }

    &_color {
      &_pink {
        &::after {
          background-color: var(--color-pink);
        }
      }

      &_blue {
        &::after {
          background-color: var(--color-blue-soft);
        }
      }
    }

    svg {
      position: relative;
      z-index: 10;
    }
  }

  &__item-bottom {
    display: grid;
    grid-gap: 28px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 24px 24px;
  }

  &__group-name {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
  }

  &__group-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    line-height: 1.38;
  }

  &__group-key {
    font-weight: 600;
    font-size: 13px;
  }

  &__group-value {
    font-weight: normal;
    font-size: 13px;
    text-align: right;
  }

  &__btn {
    width: 100%;
    margin-top: 8px;
  }

  @media (max-width: 880px) {
    display: none;
  }
}
