.teaching-groups {
  &__container {
    text-align: center;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.6;
  }

  &__switch {
    display: inline-flex;
    align-items: center;
    margin-top: 20px;
  }

  &__switch-label {
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

    &_left,
    &_right {
      opacity: 0.5;
    }
  }

  &__switch-slider {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    margin: 0 10px;
    background-color: #c5e6bb;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.2s;

    &::before {
      position: absolute;
      bottom: 3px;
      left: 5px;
      width: 18px;
      height: 18px;
      background-color: var(--color-green);
      border-radius: 50%;
      transition: 0.2s;
      content: '';
    }
  }

  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, 376px);
    justify-content: center;
    margin-top: 30px;

    &_type {
      &_left,
      &_right {
        display: none;
      }
    }
  }

  &__switch-input {
    display: none;

    &_left:checked {
      & ~ .teaching-groups__switch .teaching-groups__switch-label_left {
        opacity: 1;
      }

      & ~ .teaching-groups__inner_type_left {
        display: grid;
      }
    }

    &_right:checked {
      & ~ .teaching-groups__switch .teaching-groups__switch-slider::before {
        transform: translateX(16px);
      }

      & ~ .teaching-groups__switch .teaching-groups__switch-label_right {
        opacity: 1;
      }

      & ~ .teaching-groups__inner_type_right {
        display: grid;
      }
    }
  }

  &__title {
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.37;
  }

  @media (max-width: 1024px) {
    &__inner {
      grid-gap: 20px;
    }
  }

  @media (max-width: 768px) {
    &__subtitle {
      margin-top: 8px;
      font-size: 14px;
    }

    &__inner {
      grid-gap: 10px;
      grid-template-columns: repeat(1, 1fr);
      margin-top: 20px;
    }
  }
}
