.timetable {
  &__timetable-inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    flex-grow: 1;
    margin-right: 40px;
    padding-top: 40px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    background: var(--color-white);
    border: 1px solid #efefef;
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__row-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.35;
  }

  &__row-subtitle {
    margin-top: 8px;
    color: var(--color-grey-blue);
    font-size: 15px;
    line-height: 1.6;
  }

  &__row-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 52px;
    height: 52px;
    color: var(--color-white);
    background: var(--color-green);
    border-radius: 12px;
  }

  &__image {
    position: relative;
    display: flex;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__image-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 20px;
  }

  &__btn {
    display: none;
    width: 100%;
    margin-top: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  @media (max-width: 768px) {
    &__content {
      margin-right: 0;
      padding-top: 16px;
    }

    &__row {
      &:not(:last-child) {
        margin-bottom: 9px;
      }
    }

    &__row-title {
      font-size: 18px;
    }

    &__row-subtitle {
      margin-top: 4px;
      font-size: 14px;
    }

    &__row-icon {
      min-width: 40px;
      height: 40px;

      svg {
        width: 18px;
        height: 18px;
      }
    }

    &__image {
      display: none;
    }

    &__btn {
      display: block;
      font-size: 14px;
    }
  }
}
