.trainers {
  &__title {
    text-align: center;
  }

  &__search {
    max-width: 792px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
  }

  &__filter {
    display: flex;
    align-items: center;
    max-width: 792px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
  }

  &__filter-item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__catalog {
    margin-top: 42px;
  }

  &__btn {
    &.hide {
      display: none;
    }
  }

  @media (max-width: 768px) {
    &__title {
      text-align: left;
    }

    &__search {
      margin-top: 16px;
    }

    &__filter {
      flex-direction: column;
      align-items: flex-start;
    }

    &__filter-item {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    &__catalog {
      margin-top: 20px;
    }
  }
}
