.trainer-profile {
  margin-top: 50px;

  &__inner {
    display: grid;
    grid-gap: 44px;
    grid-template-columns: 2fr 4fr;
  }

  &__kpi {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-weight: 700;
    font-size: 24px;

    &_green {
      padding: 15px;
      background-color: var(--color-green);
    }

    &_red {
      padding: 15px;
      background-color: var(--color-red);
    }
  }

  &__count {
    font-weight: 600;
    font-size: 58px;
  }

  &__divide {
    width: 102px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.35);
  }

  &__text {
    margin-top: 15px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 1024px) {
    &__inner {
      grid-gap: 16px;
    }

    &__item {
      font-size: 16px;
    }

    &__count {
      font-size: 34px;
    }

    &__divide {
      width: 60px;
    }
  }

  @media (max-width: 768px) {
    margin-top: 0;

    &__container {
      padding: 0;
    }

    &__inner {
      grid-template-columns: 1fr;
    }

    &__kpi {
      display: none;
    }
  }
}
