.trusted {
  &__title {
    text-align: center;
  }

  &__companies {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  &__company {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 30px;

    &:not(:last-child)::after {
      position: absolute;
      right: 0;
      width: 1px;
      height: 31px;
      background-color: #d1d1d1;
      content: '';
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    height: 100px;

    img {
      object-fit: cover;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
