.types-competition {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 31px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 32px 24px 36px;
    background-color: var(--color-white);
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(72, 77, 86, 0.15);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82px;
    height: 82px;
    color: var(--color-white);
    background-color: var(--color-red);
    border-radius: 50%;
    box-shadow: 0 0 0 9px rgba(231, 54, 37, 0.1);
  }

  &__text {
    margin-top: 28px;
    font-size: 20px;
    text-align: center;
  }

  &__count {
    position: absolute;
    top: 24px;
    right: 24px;
    margin-left: auto;
    font-weight: bold;
    font-size: 24px;
    opacity: 0.2;
  }

  &__btn {
    margin-top: 40px;
    text-align: center;

    .btn {
      padding-right: 114px;
      padding-left: 114px;
    }
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 12px;
      grid-template-columns: 1fr;
      margin-top: 20px;
    }

    &__item {
      flex-direction: row;
      padding: 23px 48px 23px 23px;
    }

    &__icon {
      align-self: flex-start;
      width: 62px;
      min-width: 62px;
      height: 62px;
      margin-right: 16px;
    }

    &__text {
      align-self: center;
      margin-top: 0;
      font-size: 16px;
      text-align: left;
    }

    &__btn {
      display: none;
    }
  }
}
