.up {
  position: fixed;
  bottom: 70px;
  left: 40px;
  z-index: 100;
  display: none;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  border-radius: 8px;
  transform: rotate(90deg);

  &.active {
    display: flex;
  }
}
