.watch-btn {
  --border-color: rgba(255, 255, 255, 0.23);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__circle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    animation: pulsing 2s linear infinite;
    pointer-events: none;

    &_first {
      width: 448px;
      height: 448px;
      border: 1px solid var(--border-color);
    }

    &_second {
      width: 350px;
      height: 350px;
      border: 1px solid var(--border-color);
    }

    &_third {
      width: 245px;
      height: 245px;
      border: 1px solid var(--border-color);
    }
  }

  &__play {
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 124px;
    height: 124px;
    background: linear-gradient(
      101.46deg,
      #57cf2f 8.43%,
      var(--color-green) 94.99%
    );
    border-radius: 50%;
  }

  @media (max-width: 768px) {
    &__circle {
      &_first {
        width: auto;
        height: auto;
      }

      &_second {
        width: 130px;
        height: 130px;
      }

      &_third {
        width: 100px;
        height: 100px;
      }
    }

    &__play {
      width: 74px;
      height: 74px;

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }
}

@keyframes pulsing {
  from {
    transform: scale(0);
    opacity: 1;
  }

  50% {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(1.2);
    opacity: 0.3;
  }
}
