.watch-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;

  &__content {
    position: absolute;
    color: var(--color-white);
    text-align: center;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__watch {
    margin-bottom: 60px;
  }

  &__subtitle {
    margin-top: 12px;
  }

  @media (max-width: 1024px) {
    &__watch {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 768px) {
    &__subtitle {
      margin-top: 4px;
      font-size: 14px;
    }
  }
}
