.what-get {
  &__inner {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background: radial-gradient(
          38.27% 79.6% at 96.93% 17.5%,
          rgba(166, 112, 203, 0.3) 0%,
          rgba(166, 112, 203, 0) 100%
        ),
        radial-gradient(
          49.62% 88.2% at 2.4% 95.96%,
          rgba(231, 54, 37, 0.28) 0%,
          rgba(231, 54, 37, 0) 100%
        ),
        rgba(44, 44, 44, 0.72);
      border-radius: 4px;
      content: '';
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    position: absolute;
    z-index: 4;
    color: var(--color-white);
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 12px;
      grid-template-columns: none;
      margin-top: 8px;
    }
  }
}
