.who-leads {
  &__image {
    display: none;
    margin-bottom: 30px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 18px 16px 16px 20px;
    background-color: var(--color-white);
    border: 1px solid #efefef;
    border-radius: 4px;
  }

  &__item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.39;
  }

  &__item-desc {
    margin-top: 6px;
    color: var(--color-grey-blue);
    font-size: 14px;
    line-height: 1.6;
  }

  &__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 40px;
    height: 40px;
    margin-left: 12px;
    color: var(--color-white);
    background: var(--color-green);
    border-radius: 8px;
  }

  &__btn {
    grid-column: 2/3;
    margin-top: 10px;
    text-align: center;
  }

  @media (max-width: 768px) {
    &__inner {
      grid-gap: 10px;
      grid-template-columns: 1fr;
    }

    &__image {
      display: flex;
    }

    &__btn {
      display: none;
    }
  }
}
